{% load i18n %}
{% load l10n %}
<h2 style="clear: both">{% trans "Altitude profile" %}</h2>
    <div id="altdiv" style="height: 200px"></div>
<script id="source" language="javascript" type="text/javascript">
    {% localize off %}
    var alt = { data: {{ alt }}, color: 3, lines: { fill: 0.7 } };
    var options = { 
        yaxis: { tickFormatter: axisformatters['altitude'],  min: 0, max: {{ alt_max }}, },
        xaxis: { tickFormatter: axisformatters['distance']}
    };
    $.plot($("#altdiv"), [alt], options);
    {% endlocalize%}
</script>
