{% extends "site_base.html" %}
{% load i18n %}
{% block body_class %}turan{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}turan/base.css" />
<link rel="alternate" type="application/rss+xml" title="Lart.no/turan RSS feed" href="/turan/feed/trips" />
{% endblock %}
{% block title %}{% endblock %}


{% block subnav %}
    <ul>
        <li><a href="{% url what_next %}">{% trans "What next?" %}</a></li>
        <li><a href="{% url routes %}">{% trans "Routes" %}</a></li>
        <li><a href="{% url events %}">{% trans "Events" %}</a></li>
        <li><a href="{% url calendar-index %}">{% trans "Calendar" %}</a></li>
        <li><a href="{% url statistics %}">{% trans "Statistics" %}</a></li>
        {% if user.get_profile.id %}
        <li class="right"><a href="{% url calendar-index %}?username={{user.username}}">{% trans "My calendar" %}</a></li>
        {% endif %}
        {% block extramenu %}
        {% endblock %}
    </ul>
{% endblock %}
{% block body %}
{% block content %}
{% endblock %}
{% endblock %}
