{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}
{{ block.super }}
{% trans "Calendar" %}
{% endblock %}
{% block searchenginemeta %}
<meta name="description" content="{% trans "Exercise calendar" %}" />
{% endblock %}
{% block content %}

<h1>
    {% trans "Calendar" %}
</h1>
<ul class="buttons">
    <li>
    <a href="{% url calendar previous_month.year previous_month.month %}{% if username %}/?username={{username}}{% endif %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/date_previous.png" alt="{% trans "Previous"%}" />
        {% trans "Previous" %}
    </a>
    <a href="{% url calendar next_month.year next_month.month %}{% if username %}/?username={{username}}{% endif %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/date_next.png" alt="{% trans "Next"%}" />
        {% trans "Next" %}
    </a>
    </li>
</ul>
<div class="right">
</div>
{{ calendar }}
 {% comment %}
 WIP
<h3>{% trans "Weekstats graph"%}</h3>
<div id="weeks" style="width:900px;height:700px"></div>
<script id="source" language="javascript" type="text/javascript">
$(function () {
        var weekbars = { color: 1, 
                bars: { show: true},
        data: [
        {% for week, exercises in e_by_week %}
            [ {{ week }}, 2],
        {% endfor %}
        ], };
    var weekoptions = { yaxis: { max: 600 }, hoverable: true, clickable: true };
    $.plot($("#weeks"), weekbars, weekoptions);
});

</script>
{% endcomment %}
{% endblock content %}

