{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}
{{ block.super }}
{% trans "Calendar" %}
{% endblock %}
{% block content %}

<h1>
    {% trans "Calendar" %}
</h1>
<ul class="buttons">
    <li>
    <a href="{% url calendar previous_month.year previous_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/date_previous.png" alt="{% trans "Previous"%}" />
        {% trans "Previous" %}
    </a>
    <a href="{% url calendar next_month.year next_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/date_next.png" alt="{% trans "Next"%}" />
        {% trans "Next" %}
    </a>
    </li>
</ul>
<div class="right">
</div>
{{ calendar }}
{% endblock content %}

