{% load i18n %}
{% load comments_tag %}
    {% comments object %}

    {% comment %}
{% for comment in comment_list %}
{% get_comment_list for object as comment_list %}
<ul class="comments">
    <li>
        <img alt="Comment" src="{{MEDIA_URL}}/pinax/images/silk/icons/comment.png" />
        <div class="header">
            <span class="name">{{ comment.name }}</span>&nbsp;{% trans "wrote" %}
            <span class="date">{{ comment.submit_date }}</span>
        </div>
        <div class="comment_text">{{ comment.comment }}</div>
    </li>
{% endfor %}
</ul>

<a id="addcommentlink"><img alt="comment" src="{{MEDIA_URL}}pinax/images/silk/icons/comment_add.png"> {% trans "Add comment" %}</a>

<div style="display: none" id="comment_form">
{% get_comment_form for object as form %}
<form action="{% comment_form_target %}" method="post">
{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% endif %}
{% endfor %}
<table style="width: 300px;"> 
  {% for field in form %}
    {% if not field.is_hidden %}
        {% if field.errors %} class="error"{% endif %}
        {% if field.errors %}{{ field.errors }}{% endif %}
        {% ifequal field.name "honeypot" %} 
        <tr><th style="display:none">{{field.label_tag}}</th><td style="display:none"> {{ field }}</td></tr>
        {% else %}
            <tr><th>{{ field.label_tag}}</label></th><td>{{ field }}</td></tr>
        {% endifequal %}
    {% endif %}
  {% endfor %}
  <tr>
      <th></th>
      <td>
  <p class="submit">
    <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
  </p>
      </td>
  </tr>
</table>
  <input type="hidden" name="next" value="{{ request.path }}" />
</form>
</div>
<script style="text/javascript">
    $('#addcommentlink').click( function() {
         $( '#comment_form' ).show("slow");
         $( '#addcommentlink' ).hide();
     })
</script>
{% endcomment %}
