{% load i18n %}
    var i = 0;
    $.each(datasets, function(key, val) {
        val.color = i;
        ++i;
    });
    
    var choiceContainer = $("#choices");
    $.each(datasets, function(key, val) {
        choiceContainer.append('<br/><input type="checkbox" name="' + key +
            '" checked="checked" id="chk_' + key + '"><label for="chk_' + key + 
            '">' + val.label + '</label></input>');
    });
    choiceContainer.append('<br /><input type="reset" value="{% trans "Reset zoom" %}" />');
    choiceContainer.find("input").click(plotAccordingToChoices);

    $("#tripdiv{{object.id}}").bind("plotselected", function (event, ranges) {
        plotAccordingToChoices(ranges);
    });

    function plotAccordingToChoices(ranges) {
        var data = [];
        var xaxisattrs = { tickDecimals: 0 };
        if (ranges.xaxis != undefined) {
            xaxisattrs.min = ranges.xaxis.from;
            xaxisattrs.max = ranges.xaxis.to;
        }
        choiceContainer.find("input:checked").each(function () {
            var key = $(this).attr("name");
            if (key && datasets[key])
                data.push(datasets[key]);
        });

        if (data.length > 0) {
            $.plot($("#tripdiv{{object.id}}"), data, {
                yaxis: { min: 0 },
                y2axis: { min: 80 },
                xaxis: xaxisattrs,
                legend: { container: $("#tripdiv_legend{{object.id}}") },
                grid: { hoverable: true, clickable: true },
                selection: { mode: "x" }
            });
        }
    }
    plotAccordingToChoices({});
