{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{% trans "Cycle trips" %}
{% endblock %}
{% block content %}

<h1>
    {% trans "Cycle trips" %}
</h1>
{% autosort object_list %}
{% autopaginate object_list %}
<span class="floatright" style="clear: right;">
{% paginate %}
</span>

<table>
    <tr>
        <th>
            {% anchor user %}
        </th>
        <th>
            {% anchor date %}
        </th>
        <th>
            {% anchor route__name "Name" %}
        </th>
        <th>
            {% anchor route__distance "Distance" %}
        </th>
        <th>
            {% anchor route__ascent "Ascent" %}
        </th>
        <th>
            {% anchor duration %}
        </th>
        <th>
            {% anchor avg_speed "Avg Speed" %}
        </th>
        <th>
            {% anchor avg_hr "Avg HR" %}
        </th>
        <th>
            {% anchor avg_cadence "Avg Cadence" %}
        </th>
        <th>
            {% anchor kcal %}
        </th>
    </tr>
{% for object in object_list %}
<tr>
    <td>
        {{ object.user }}
    </td>
    <td>
        {{ object.date }}
    </td>
    <td>
        <a href="{{ object.get_absolute_url }}">{{ object.route.name }}</a>
    </td>
    <td>
        {{ object.route.distance|floatformat }} {% trans "km" %}
    </td>
    <td>
        {% if object.route.ascent %}
        {{ object.route.ascent|floatformat }} {% trans "m" %}
        {% endif %}
    </td>
    <td>
        {{ object.duration }} 
    </td>
    <td>
        {{ object.avg_speed|floatformat }}  {% trans "km/h" %}
    </td>
    <td>
        {{ object.avg_hr}}  {% trans "BPM" %}
    </td>
    <td>
        {{ object.avg_cadence}}  {% trans "RPM" %}
    </td>
    <td>
        {% if object.kcal %}
        {{ object.kcal}}  {% trans "kcal" %}
        {% endif %}
    </td>
</tr>
{%endfor %}
</table>
{% endblock content %}

