{% extends "turan/base.html" %}
{% load i18n %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block title %}
{% trans "Confirm delete" %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Confirm delete" %} <small>{% trans "There is no going back!"%}</small></h1>
</div>
<form enctype="multipart/form-data" method="post">
{{ form }}

<p>{% blocktrans %}Do you really want to delete {{ object }} ?{% endblocktrans %}</p>
<div class="form-actions">
    <button class="btn btn-large btn-primary" type="submit">{% trans "Delete" %}</button>
</div>
</form>
{% endblock content %}
