{% extends "turan/base.html" %}
{% load i18n %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block title %}
{% trans "Confirm delete" %}
{% endblock %}

{% block content %}
{% block action_title %}
<h1>{% trans "Confirm delete" %}</h1>
{% endblock %}
<form enctype="multipart/form-data" method="post">
<table class="fullsize">
{{ form }}
</table>

<p>{% blocktrans %}Do you really want to delete {{ object }} ?{% endblocktrans %}</p>

<input type="reset" value="{% trans "Cancel" %}" onClick="document.location='/turan/';" />
<input type="submit" value="{% trans "Delete" %}" />
</form>
{% endblock content %}
