{% load endless %}
{% load avatar_tags %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% lazy_paginate object_list %}
{% for object in object_list %}
<tr class="{% cycle "odd" "even" %} hoverpoint" id="trip_{{object.id}}">
    <td>
        <img width="64" height="64" alt="{{ object.exercise_type }}" src="{{ object.icon }}" />
        <p style="text-align: center"><small class="fade"> {{ object.date|naturalday }} </small></p>
    </td>
    <td>
        <h4>
            <a {% exercise_mouseover object %} href="{{ object.get_absolute_url }}">{{ object }}</a>
        </h4>
        <p class="comment">
            <small>{{ object.comment|truncatewords:20 }}</small>
        </p>
    </td>
    <td>
        {% if object.route.distance %}
            {{ object.route.distance|floatformat }} {% trans "km" %}
        {% endif %}
    </td>
    <td>
        {{ object.duration|nbsp }}
    </td>
    <td>
        {% if object.route.gpx_file %}
            <img src="{{ object.route.get_png_url }}">
        {% endif %}
    </td>
    <td>
        {% avatar object.user 64 %}
    </td>
</tr>
{%endfor %}
{% show_more_table %}
