{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load tagging_tags %}
{% block title %}
{{block.super}}
{% endblock %}
{% block searchenginemeta %}
{% tags_for_object object as tag_list %}
<meta name="keywords" content="{% if tag_list %}{{ tag_list|join:","|escape }},{% endif %}sykkel,tur,trening,exercise" />
<meta name="description" content="{% if object.comment %}{{ object.comment|truncatewords:20|escape }}{% else %}{{object.route.description}}{% endif %}" />
{% endblock %}
{% block extra_head %}
{{ block.super }}

{% with object.route.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endblock %}

{% block extramenu %}
<li>
    <div class="modify">
        {% url exercise object.id as exercise_url %}
        <a title="Post exercise on Twitter" href="http://twitter.com/home?status={{ object.exercise_type }}{% if object.route %} at {{ object.route }}{% endif %} - http://turan.no{{ exercise_url|urlencode }}"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Twitter icon"/></a>
    </div>
</li>
{% endblock %}
{% block content %}
{% if object.route.gpx_file %}
<div class="mapcontainer"><div class="map" id="map"></div>
    <a href="{{MEDIA_URL}}turan/{{ object.route.gpx_file }}" class="detailsShareBoxButton gpxFile">{% trans "GPX File" %}</a>
</div>
{% endif %}
{% include "turan/exercise/attributes.html" %}
{% include "turan/tags.html" %}
<hr class="clear" />
{% block graph %}
{% endblock %}
{% comment %} include commentform only if no graph, because usually it lives inside tabs {% endcomment %}
{% ifequal object.exercisedetail_set.count 0 %}
{% include "turan/commentform.html" %}
{% endifequal %}
{% endblock content %}
