{% extends "turan/base.html" %}
{% load humanize %}
{% load turan_extras %}
{% load i18n %}
{% block title %}
{% trans "Events" %}
{% endblock %}
{% block body_class%}exercises{%endblock%}
{% block searchenginemeta %}
<meta name="description" content="{% trans "All events" %}" />
{% endblock %}
{% block content %}
<div class="page-header">
{% include "turan/search_head.html" %}

{% if search_query %}
<h4>{% trans "Search results for " %}{{search_query}} <a class="remove" title="{% trans "Clear search query" %}" href="{% url events %}">[X]</a></h4>
{% endif %}
{% if request.user.username %}
<div class="searchfilters">
        {% include "turan/geolocation.html" %}
            {% if not username %}
            <a class="btn" href="{% url events username=request.user.username %}">{% trans "My events" %}</a>
            {% else %}
            <a class="btn" href="{% url events %}">{% trans "All events" %}</a>
            {% endif %}
</div>
{% endif %}

<h1>
    {% trans "Events" %}
</h1>
<a class="btn" href="{% url exercise_create %}">
    <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/map_add.png" alt="{% trans "Add an exercise" %}" />
    {% trans "Add an exercise" %}
</a>
</div>

{% include page_template %}

<script>
$('#tab_exercises').toggleClass('active');
</script>
{% endblock content %}

