{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}
{{block.super}}
{% endblock %}
{% block extra_head %}
{{ block.super }}

{% with object.route.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endblock %}

{% block extramenu %}
<div class="modify">
<a name="fb_share" type="button" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>
{% endblock %}
{% block content %}
{% if object.route.gpx_file %}
    <div class="mapcontainer"><div class="map" id="map"></div></div>
{% endif %}
{% include "turan/cycletrip/attributes.html" %}
{% include "turan/tags.html" %}


<hr class="clear">
{% block graph %}
{% endblock %}
{% include "turan/commentform.html" %}
{% endblock content %}

