{% extends "turan/base.html" %}
{% load i18n %}

{% block extra_head %}
{{ form.media }}
<script type="text/javascript" src="{{MEDIA_URL}}date.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.datePicker.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}/datePicker.css" />

{% endblock %}

{% block content %}
{% block action_title %}
<div id="result">
    <h1>{% trans "Add new trip" %}</h1>
    {% endblock %}
    <form id="form" enctype="multipart/form-data" method="post">
    <table class="fullsize">
    {{ form }}
    </table>
    <input type="reset" value="{% trans "Cancel" %}" onClick="document.location='/turan/';" />
    <input id="submit_btn" type="submit" value="{% trans "Submit" %}" />
    </form>
</div>
<script type="text/javascript">
    Date.firstDayOfWeek = 0;
    Date.format = 'yyyy-mm-dd';
    $(function() {
        var dateField = $('#id_date');
        if (dateField.val() != undefined ) {
            dateField.datePicker({startDate:'1996-01-01'});
            if (dateField.val().length == 0)
                dateField.val(new Date().asString()).trigger('change');
        }
    });

$(document).ready(function() { 
var job_id = 0; //usj need from json
var getConvertStatus = function(){
    console.log('getting some status');
    $.getJSON("/json/" + job_id + "/done/", function(data){
        console.log('callback works: ' + data);
    });
};
$('#form').bind('submit', function(evt) {
        $('#result').html('<h1>{% trans "Uploading" %} ...</h1>');
})
}); 
</script> 
{% endblock content %}
