{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}
{% load pagination_tags %}
{% trans "Events" %}
{% endblock %}
{% block content %}
{% autopaginate object_list %}

<h1>
    {% trans "Events" %}
</h1>

{% paginate %}

<table>
    <tr>
        <th>
            {% trans "User" %}
        </th>
        <th>
            {% trans "Date" %}
        </th>
        <th>
            {% trans "Name" %}
        </th>
        <th>
            {% trans "Distance" %}
        </th>
        <th>
            {% trans "Duration" %}
        </th>
        <th>
            {% trans "Route plot" %}
        </th>
        <th>
            {% trans "Type" %}
        </th>
    </tr>
{% for object in object_list %}
<tr class="{% cycle "odd" "even" %}">
    <td>
        {{ object.user }}
    </td>
    <td>
        {{ object.date }}
    </td>
    <td>
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
    </td>
    <td>
        {% if object.route.distance %}
            {{ object.route.distance|floatformat }} {% trans "km" %}
        {% endif %}
    </td>
    <td>
        {{ object.duration}}
    </td>
    <td>
        {% if object.route.gpx_file %}
            <object width="64" height="64" type="image/svg+xml" data="{{ object.route.get_svg_url }}"></object>
        {% endif %}
    </td>
    <td>
        {{ object.icon|safe }}
    </td>
</tr>
{%endfor %}
</table>
{% endblock content %}

