{% extends "turan/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }}
{% trans "Add Exercise" %}
{% endblock %}
{% block extra_head %}
{{ form.media }}
<script type="text/javascript" src="{{MEDIA_URL}}jquery.ui.datepicker-no.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}msdropdown/js/jquery.dd.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}/msdropdown/dd.css" />
{% endblock %}

{% block content %}
    <div class="page-header">
    {% if object %}
        <h1>    {% trans "Modify exercise" %}</h1>
    {% else %}
        <h1>{% trans "Add Exercise" %}
        <a class="pull-right btn" href="{% url import_data %}">
            <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/page_white_go.png" alt="{% trans "Import exercise" %}" />
            {% trans "Import exercise" %}
        </a>
        </h1>
    {% endif %}
    </div>
    <form class="form-horizontal" id="form" enctype="multipart/form-data" method="post">

    {% if not object.route %}
      <div id="div_route" class="control-group"> 
        <label for="route"> 
            {% trans "Name/Route" %}
        </label> 
        <div class="controls">
            <input id="route" type="text" class="textinput textInput" name="route" /> 
            <p class="help-block">{% trans "Name this exercise or start typing to search in existing routes" %}</p>
            <p class="help-block">{% trans "You can optionally leave this field blank" %}</p>
        </div>
        </div> 
    {% endif %}
 
    {{ form|as_crispy_form}}
    <div class="form-actions">
        <button class="btn btn-large btn-primary" id="submit_btn" type="submit">{% trans "Save exercise" %}</button>
        {% comment %}
        <input class="btn" type="reset" value="{% trans "Cancel" %}" onClick="document.location='/';" />
        {% endcomment%}
        <input id="route_object_id" type="hidden">
    </div>
    </form>
<style>
    .ui-autocomplete {
        max-height: 500px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    </style>
<script type="text/javascript">
var ids= 0;
$(document).ready(function() {
    // Fix for design
    $('#div_id_equipment').attr('style', 'clear: both');
    var dateField = $('#id_date');
    if (dateField.val() != undefined ) {
        dateField.datepicker($.datepicker.regional['no'],{ //TODO region
        startDate:'2011-01-01',
        constrainInput: false,
        dateFormat: 'yy-mm-dd'

            });
    }
    var cache = {}, lastXhr;
    if ($("#route").length > 0) {
	    $( "#route" ).autocomplete({
	        minLength: 0,
	        source: function( request, response ) {
	            var term = request.term;
	            /*
	            if ( term in cache ) {
	                response( cache[ term ] );
	                return;
	            }*/
	
	            lastXhr = $.getJSON( "{% url autocomplete_route "a" "b" %}", request, function( data, status, xhr ) {
	                if ( xhr === lastXhr ) {
	                    response( data );
	                }
	            });
	        },
	        focus: function( event, ui ) {
	                $( "#route" ).val( ui.item.name );
	                return false;
	        },
	        select: function( event, ui ) {
	                $( "#route" ).val( ui.item.name );
	                $( "#id_route" ).val( ui.item.id );
	                $( "#route-description" ).html( ui.item.description );
	            return false;
	        }})
	        .data( "autocomplete" )._renderItem = function( ul, item ) {
	            return $( "<li></li>" )
	                .data( "item.autocomplete", item )
	                .append( '<a>'+ String.fromCharCode(0x3c)+'img src="' +item.icon +'">' + item.name + '<br><span class="smaller">' + item.description + ", " + item.tcount + " {% trans "trips"%}</span></a>" )
	                .appendTo( ul );
		};
    }
});

$(document).ready(function() { 
    $('#form').bind('submit', function(evt) {
        // If no object id set, just send the text in the field to django
        // And let it create a new route
        if ( !$( "#id_route" ).val() ) {
            if ($('#route').val()) {
                $( "#id_route" ).val( $('#route').val());
            }
        }
    })

    exercises_by_count = {{ user.get_profile.get_exercise_types_by_count_json }};
    {% if not object %}
        $("#id_exercise_type").val(exercises_by_count[0]["exercise_type__id"])
    {% endif %}
    $("#id_exercise_type").msDropDown();

    for (var i = 3; i >= 0; i--) {
        if (exercises_by_count[i] == undefined) {
            continue;
        }
        var option = $("#id_exercise_type option[value=" + exercises_by_count[i]["exercise_type__id"] + "]");
        var index = option.index();
        var imgurl = option.attr("title");
        var title = option.text();
        var img = $("<img>");
        img.attr("id", "id_exercise_type_img_"+ i);
        img.attr("title", title);
        img.attr("src", imgurl);
        img.click((function(index) {
            return function() {
            $('#id_exercise_type').data("dd").set("selectedIndex", index);
            }})(index));
        $("label[for=id_exercise_type]").after(img);
    }
}); 
</script> 
{% endblock content %}
