{% extends "turan/event_detail.html" %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{block.super}}
{{ object }}
{% endblock %}
{% block extramenu %}
{{ block.super }}
{% ifequal user object.user %}
        <li class="modify"><a href="{% url exercise_update object.id %}">{% trans "Modify" %}</a></li>
        <li class="modify delete"><a href="{% url exercise_delete object.id %}">{% trans "Delete" %}</a></li>
{% endifequal %}
{% endblock%}
{% block graph %}
{% ifnotequal object.exercisedetail_set.count 0 %}
<div id="tabs">
    <ul>
        <li class="selected" id="tabs-select-1">{% trans "Graph" %}</li>
        <li id="tabs-select-2">{% trans "Zones" %}</li>
        <li id="tabs-select-3">{% trans "HR Freq" %}</li>
    {% ifequal object.exercise_type.slopes 1 %}
        <li id="tabs-select-4">{% trans "Slopes" %}</li>
    {% endifequal %}
    {% ifequal object.exercise_type.altitude 1 %}
        <li id="tabs-select-5">{% trans "Inclinesums" %}</li>
    {% endifequal %}
    <li id="tabs-select-6">{% trans "Best Efforts" %}</li>
    </ul>
    <div id="tabs-1" class="graph visible">
        {% include "turan/exercise/graph.html" %}
    </div>
    <div id="tabs-2" class="zone_tab">
        {% include "turan/exercise/zone_tab.html" %}
    </div>
    <div id="tabs-3" class="hrhzone_tab">
        {% include "turan/exercise/hrhzone_tab.html" %}
    </div>
    {% ifequal object.exercise_type.slopes 1 %}
    <div id="tabs-4" class="slope_tab">
        <table>
            <tr>
                <th>
                    {% trans "Zoom" %}
                </th>
                <th>
                    {% trans "Start" %}
                </th>
                <th>
                    {% trans "Length" %}
                </th>
                <th>
                    {% trans "Ascent" %}
                </th>
                <th>
                    {% trans "Gradient" %}
                </th>
                <th>
                    {% trans "Duration" %}
                </th>
                <th>
                    {% trans "Speed" %}
                </th>
                {% if slope.actual_power %}
                    <th>
                        {% trans "Avg power (actual)" %}
                    </th>
                {% endif %}
                <th>
                    {% trans "Avg power (est)" %}
                </th>
                <th>
                    {% trans "Avg power/kg" %}
                </th>
                <th>
                    {% trans "Avg HR" %}
                </th>
            </tr>
        {% for slope in slopes %}
            <tr>
                <td><a class="zoom-select-1" href="">Zoom</a></td>
                <td>{{ slope.start_km|floatformat }} {% trans "km" %} </td>
                <td>{{ slope.length|floatformat }} {% trans "m" %} </td>
                <td>{{slope.hdelta}} {% trans "m" %}</td>
                <td>{{slope.gradient|floatformat}} %</td>
                <td>{{ slope.duration.seconds|durationformat }} </td>
                <td>{{slope.speed|floatformat}} {% trans "km/h" %}</td>
                {% if slope.actual_power %}
                    <td>{{slope.actual_power|floatformat}} {% trans "W" %} </td>
                {% endif %}
                <td>{{slope.avg_power|floatformat}} {% trans "W" %} </td>
                <td>{{slope.avg_power_kg|floatformat}} {% trans "W/kg" %} </td>
                <td>{{slope.avg_hr|floatformat}} {% trans "BPM" %}
                    {% if object.user.get_profile.max_hr %}
                    ({{ slope.avg_hr|percent:object.user.get_profile.max_hr }})
                    {% endif %} </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endifequal %}
    {% ifequal object.exercise_type.altitude 1 %}
    <div id="tabs-5">
        {% include "turan/exercise/incline_tab.html" %}
    </div>
    {% endifequal %}
    <div id="tabs-6">
        {% include "turan/exercise/best_effort_tab.html" %}
    </div>
</div>
<script type="text/javascript">
    function selectTab(evt) {
        var id = evt.target.id;
        id = "tabs-" + id.split('-')[2];
        $('#tabs div.visible').removeClass('visible');
        $('#tabs div#' + id).addClass('visible');
        $('#tabs ul li').removeClass('selected');
        $(this).addClass('selected');
    }
    $('#tabs ul li').each(function () {
        $(this).bind("click", selectTab);
    });
    $('.zoom-select-1').each(function () {
        $(this).bind("click", selectTab);
    });
</script>
{% endifnotequal %}
{% endblock %}
