{% extends "turan/base.html" %}
{% load i18n %}
{% load turan_extras %}

{% block content %}
{% for segment in segments %}
{% if forloop.first %}
<h3>{% trans "Segments found in exercise"%} <a href="{{exercise.get_absolute_url }}">{{ exercise }}</a></h3>
    <ul>
<div id="result">
{% endif %}
<li>
{{ segment.0 }}, Start at: {{segment.3|divide:"1000"}}, Segment distance: {{segment.4|floatformat}} m <a href="{% url segmentdetail_create %}?exercise={{exercise.id}}&segment={{segment.0.id}}&start={{segment.1}}&stop={{segment.2}}">{% trans "Add this segment" %}</a>

</li>

{% if forloop.last %}
</div>
</ul>
{% endif %}

{% empty %}
    <h3>{% trans "No segments found in exercise"%} {{ exercise }}</h3>
{% endfor %}

<br>
<br>

<ul class="buttons">
<li class="">
<a href="{% url segment_create %}">{% trans "Create new segment" %}</a>
</li>
</ul>


{% trans "or add to an existing segment by zooming in the graph and clicking the globe icon in the top right corner of the graph and select the segment you want" %}
<ul class="buttons">

<li>
<a href="{{exercise.get_absolute_url}}">{% trans "Back to exercise" %}</a>
</li>
</ul>
{% endblock content %}
