{% extends "turan/event_detail.html" %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{block.super}}
{{ object }}, {{ object.date }}
{% endblock %}
{% block extramenu %}
{{ block.super }}
{% ifequal user object.user %}
        {% if object.sensor_file %}
        <li class="modify"><a href="{% url exercise_parse object.id %}">{% trans "Reparse" %}</a></li>
        {% endif %}
        <li class="modify"><a href="{% url exercise_update object.id %}">{% trans "Modify" %}</a></li>
        <li class="modify delete"><a href="{% url exercise_delete object.id %}">{% trans "Delete" %}</a></li>
{% endifequal %}
{% endblock%}
{% block graph %}
{% ifnotequal object.exercisedetail_set.count 0 %}
<div id="tabs">
    <ul>
        <li class="selected" id="tabs-select-1">{% trans "Graph" %}</li>
        <li id="tabs-select-2">{% trans "Comments" %}</li>
        <li id="tabs-select-3">{% trans "Zones" %}</li>
        <li id="tabs-select-4">{% trans "HR Freq" %}</li>
    {% ifequal object.exercise_type.slopes 1 %}
        <li id="tabs-select-5">{% trans "Slopes" %}</li>
    {% endifequal %}
    {% ifequal object.exercise_type.altitude 1 %}
        <li id="tabs-select-6">{% trans "Inclinesums" %}</li>
        <li id="tabs-select-7">{% trans "Gradients" %}</li>
    {% endifequal %}
    <li id="tabs-select-8">{% trans "Best Efforts" %}</li>
    </ul>
    <div id="tabs-1" class="graph visible">
        {% include "turan/exercise/graph.html" %}
    </div>
    <div id="tabs-2">
            {% include "turan/commentform.html" %}
    </div>
    <div id="tabs-3" class="zone_tab">
        {% include "turan/exercise/zone_tab.html" %}
    </div>
    <div id="tabs-4" class="hrhzone_tab">
        {% include "turan/exercise/hrhzone_tab.html" %}
    </div>
    {% ifequal object.exercise_type.slopes 1 %}
        {% include "turan/exercise/slope_tab.html" %}
    {% endifequal %}
    {% ifequal object.exercise_type.altitude 1 %}
    <div id="tabs-6">
        {% include "turan/exercise/incline_tab.html" %}
    </div>
    <div id="tabs-7" class="gradient_tab">
        {% include "turan/exercise/gradient_tab.html" %}
    </div>
    {% endifequal %}
    <div id="tabs-8">
        {% include "turan/exercise/best_effort_tab.html" %}
    </div>
</div>
<script type="text/javascript">
    function selectTab(evt) {
        var id = evt.target.id;
        id = "tabs-" + id.split('-')[2];
        $('#tabs div.visible').removeClass('visible');
        $('#tabs div#' + id).addClass('visible');
        $('#tabs>ul>li').removeClass('selected');
        $(this).addClass('selected');
    }
    $('#tabs>ul>li').each(function () {
        $(this).bind("click", selectTab);
    });
    $('.zoom-select').each(function () {
        $(this).bind("click", selectTab);
    });
var commentcount = $('.bulk').size();
$('#tabs-select-2').text('{% trans "Comments" %} (' + commentcount + ')');


</script>
{% endifnotequal %}
{% endblock %}
