{% extends "turan/base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block title %}
{{ block.super }}
{% trans "Add Exercise" %}
{% endblock %}
{% block extra_head %}
{{ form.media }}
<script type="text/javascript" src="{{MEDIA_URL}}jquery.ui.datepicker-no.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}jquery.ui.datepicker-no.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}msdropdown/js/jquery.dd.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL}}/msdropdown/dd.css" />
{% endblock %}

{% block content %}
{% block action_title %}
<div id="result">
    {% if object %}
        <h1>    {% trans "Modify exercise" %}</h1>
    {% else %}
        <h1>{% trans "Add Exercise" %}</h1>
    {% endif %}
    {% endblock %}
    <form class="uniForm" id="form" enctype="multipart/form-data" method="post">

    {% if not object %}
  <div id="div_route" class="ctrlHolder "> 
        <label for="route"> 
            {% trans "Name/Route" %}
        </label> 
            <p >{% trans "Name this exercise or start typing to search in existing routes" %}</p>
        <input id="route" type="text" class="textinput textInput" name="route" /> 
            <p id="hint_route" class="formHint">{% trans "You can optionally leave this field blank" %}</p>
        
    </div> 
    {% endif %}
 
    {{ form|as_uni_form}}
    {% comment %}
    <input type="reset" value="{% trans "Cancel" %}" onClick="document.location='/turan/';" />
    {% endcomment%}
    <button id="submit_btn" type="submit">{% trans "Save exercise" %}</button>
    <input id="route_object_id" type="hidden">
    </form>
</div>
<style>
    .ui-autocomplete {
        max-height: 500px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    </style>
<script type="text/javascript">
var ids= 0;
$(function() {
    var dateField = $('#id_date');
    if (dateField.val() != undefined ) {
        dateField.datepicker($.datepicker.regional['no'],{ //TODO region
        startDate:'2011-01-01',
        constrainInput: false,
        dateFormat: 'yy-mm-dd'

            });
    }
    var cache = {}, lastXhr;
    $( "#route" ).autocomplete({
        minLength: 0,
        source: function( request, response ) {
            var term = request.term;
            /*
            if ( term in cache ) {
                response( cache[ term ] );
                return;
            }*/

            lastXhr = $.getJSON( "{% url autocomplete_route "a" "b" %}", request, function( data, status, xhr ) {
                if ( xhr === lastXhr ) {
                    response( data );
                }
            });
        },
        focus: function( event, ui ) {
                $( "#route" ).val( ui.item.name );
                return false;
        },
        select: function( event, ui ) {
                $( "#route" ).val( ui.item.name );
                $( "#id_route" ).val( ui.item.id );
                $( "#route-description" ).html( ui.item.description );
            return false;
        }})
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( '<a><img src="' +item.icon +'">' + item.name + '<br><span class="smaller">' + item.description + ", " + item.tcount + " {% trans "trips"%}</span></a>" )
                .appendTo( ul );
        };
});

$(document).ready(function() { 
    /*$("#id_exercise_type option").each (
        function() {
            var elem = $(this)[0];
            elem.setAttribute( 'title', '/site_media/turan/exerciselogos/' + elem.innerHTML.toLowerCase() + '.png' );
        });*/
        exercises_by_count = {{ user.get_profile.get_exercise_types_by_count_json }};
    $("#id_exercise_type").val(exercises_by_count[0]["exercise_type__id"])
    $("#id_exercise_type").msDropDown();

    for (var i = 2; i >= 0; i--) {
	var option = $("#id_exercise_type option[value=" + exercises_by_count[i]["exercise_type__id"] + "]");
	var index = option.index();
	var imgurl = option.attr("title");
	var title = option.text();
	var img = $("<img>");
	img.attr("id", "id_exercise_type_img_"+ i);
	img.attr("title", title);
	img.attr("src", imgurl);
	img.click((function(index) {
	    return function() {
		$('#id_exercise_type').data("dd").set("selectedIndex", index);
	    }})(index));
	$("label[for=id_exercise_type]").after(img);
    }
    $('#form').bind('submit', function(evt) {
        // If no object id set, just send the text in the field to django
        // And let it create a new route
        if ( !$( "#id_route" ).val() ) {
            if ($('#route').val()) {
                $( "#id_route" ).val( $('#route').val());
            }
        }
})
}); 
</script> 
{% endblock content %}
