{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% block title %} {{trip1}} {% trans "versus" %} {{ trip2}}
{% trans "Exercise" %} 
{% endblock %}
{% block content %}
<h1>{{trip1}} {{trip1.duration}} versus {{ trip2 }} {{trip2.duration }}</h1>
First is yellow, second is blue !
<h2>{% trans "Speed" %}</h1>
<div id="speediv" style="width:1000px;height:200px"></div>
<h2>{% trans "HR" %}</h1>
<div id="hrdiv" style="width:1000px;height:200px"></div>
<h2>{% trans "Cadence" %}</h1>
<div id="caddiv" style="width:1000px;height:200px"></div>
<script id="source" language="javascript" type="text/javascript">
    var speed1 = { data: [{{t1_speed}}],}
    var speed2 = { data: [{{t2_speed}}],}
    var hr1 = { data: [{{t1_hr}}],}
    var hr2 = { data: [{{t2_hr}}],}
    var cad1 = { data: [{{t1_cad}}],}
    var cad2 = { data: [{{t2_cad}}],}
    var alt = { 
        data: [{{ alt }}], 
        yaxis: 2, 
        lines: {
            fill: 0.2
        }
    };
    var options = { 
        y2axis:{ min: 0,
                 max: {{ alt_max }},
               },
    };

var datasets = [ {{ datasets }}];
var datasets1 = {{ datasets1 }};
var datasets2 = {{ datasets2 }};
    /*var speeddata = [];
    for (var i in datasets) {
        speeddata.push(datasets[i]["speed"]["data"]);
    }*/
    $.plot($("#hrdiv"), [datasets1["hr"]["data"], datasets2["hr"]["data"], alt], options);
    $.plot($("#speediv"), [datasets1["speed"]["data"], datasets2["speed"]["data"], alt], options);
    $.plot($("#caddiv"), [datasets1["cadence"]["data"], datasets2["cadence"]["data"], alt], options);
$(function () {
});
</script>


{% with trip1 as object %}
{% include "turan/exercise/attributes.html" %}
{% endwith %}

{% with trip2 as object %}
{% include "turan/exercise/attributes.html" %}
{% endwith %}
{% endblock content %}

