{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% block title %} {{trip1}} {% trans "versus" %} {{ trip2}}
{% trans "Exercise" %} 
{% endblock %}
{% block content %}
<h2>{{trip1}} {{trip1.duration}} versus {{ trip2 }} {{trip2.duration }}</h2>
First is yellow, second is blue !
<h2>{% trans "Speed" %}</h2>
<div id="speediv" style="width:1000px;height:200px"></div>
<h2>{% trans "HR" %}</h2>
<div id="hrdiv" style="width:1000px;height:200px"></div>
<h2>{% trans "Cadence" %}</h2>
<div id="caddiv" style="width:1000px;height:200px"></div>
<h2>{% trans "Power" %}</h2>
<div id="powerdiv" style="width:1000px;height:200px"></div>
<script id="source" language="javascript" type="text/javascript">
    var alt = { 
        data: [{{ alt }}], 
        yaxis: 2, 
        lines: {
            fill: 0.2,
            color: 2
        }
    };
    var options = { 
yaxes: [ {}, { min: 0,
                 max: {{ alt_max }},
                 position: "right",
               }],
    };

{% comment %}v ar datasets = [ {{ datasets }}]; {% endcomment %}
var datasets1 = {{ datasets1 }};
var datasets2 = {{ datasets2 }};
    /*var speeddata = [];
    for (var i in datasets) {
        speeddata.push(datasets[i]["speed"]["data"]);
    }*/
    if (('hr' in datasets1) && ('hr' in datasets2)) 
    $.plot($("#hrdiv"), [datasets1["hr"]["data"], datasets2["hr"]["data"], alt], options);
    if (('speed' in datasets1) && ('speed' in datasets2)) 
    $.plot($("#speediv"), [datasets1["speed"]["data"], datasets2["speed"]["data"], alt], options);
    if (('cadence' in datasets1) && ('cadence' in datasets2)) 
        $.plot($("#caddiv"), [datasets1["cadence"]["data"], datasets2["cadence"]["data"], alt], options);
    if (('power' in datasets1) && ('power' in datasets2)) 
    $.plot($("#powerdiv"), [datasets1["power"]["data"], datasets2["power"]["data"], alt], options);
$(function () {
});
</script>


{% with trip1 as object %}
{% include "turan/exercise/attributes.html" %}
{% endwith %}

{% with trip2 as object %}
{% include "turan/exercise/attributes.html" %}
{% endwith %}
{% endblock content %}

