{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load turan_extras %}
{% block title %} {% trans "Playback of exercise" %} {% for exercise in exercises %} {{ exercise }} {% endfor %}{% endblock %}
{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.crosshair.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.imagemarkers.js"></script>
{% with exercise as object %}
{% with exercise.route.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endwith %}
{% endblock %}
{% block content %}
<h1>{% trans "Playback of exercise" %}</h1>
{% for exercise in exercises %}
<a href="{% url exercise exercise.pk %}">
    <img src="{{ forloop.counter0|player_icon:exercise.exercise_type}}" />
    {{ exercise }}
</a>
{% endfor %}
    <ul class="buttons spacer">
        <li style="float: left">
            <a id="control_start" href="#">
                <img class="icons" src="{{ "control_start"|silk_icon }}" alt="{% trans "Start" %}" />
                {% trans "Start" %}
            </a>
        </li>
        <li style="float: left">
            <a id="control_play" href="#">
                <img class="icons" src="{{ "control_play"|silk_icon }}" alt="{% trans "Play" %}" />
                {% trans "Play" %}
            </a>
        </li>
        <li style="float: left">
            <a id="control_pause" href="#">
                <img class="icons" src="{{ "control_pause"|silk_icon }}" alt="{% trans "Pause" %}" />
                {% trans "Pause" %}
            </a>
        </li>
        <li style="float: left">
            <a id="control_fastforward" href="#">
                <img class="icons" src="{{ "control_fastforward"|silk_icon }}" alt="{% trans "FFWD" %}" />
                {% trans "Fast forward" %}
            </a>
        </li>
    </ul>
{% include "turan/altitude_profile.html" %}
{% for object in exercises %}
<hr class="clearleft">
{{ object }}
<hr class="clearleft">
<p class="graphheader speed floatleft">{% trans "Speed" %}
<br>
<span class="title" id="speedval{{forloop.counter0}}"></span>
</p>
<div class="graph speed floatleft drop-shadow" id="speeddiv{{forloop.counter0}}" style="width:130px;height:40px"></div>
<p class="graphheader hr floatleft">{% trans "HR" %}<br><span class="title" id="hrval{{forloop.counter0}}"</span></p>
<div class="graph hr floatleft drop-shadow" id="hrdiv{{forloop.counter0}}" style="width:130px;height:40px"></div>
{% if object.max_cadence %}
<p class="graphheader cadence floatleft">{% trans "Cadence" %}<br><span class="title" id="cadenceval{{forloop.counter0}}"</span></p>
<div class="graph cadence floatleft drop-shadow" id="cadencediv{{forloop.counter0}}" style="width:130px;height:40px"></div>
{% endif %}
<p class="graphheader altitude floatleft">{% trans "Altitude" %}<br><span class="title" id="altitudeval{{forloop.counter0}}"</span></p>
<div class="graph altitude floatleft drop-shadow" id="altitudediv{{forloop.counter0}}" style="width:130px;height:40px"></div>
{% if object.avg_power %}
<p class="graphheader power floatleft">{% trans "Power" %}<br><span class="title" id="powerval{{forloop.counter0}}"</span></p>
<div class="graph power floatleft drop-shadow" id="powerdiv{{forloop.counter0}}" style="width:130px;height:40px"></div>
{% endif %}
<hr class="clearleft">

<p class="graphheader speed floatleft">{% trans "Speed" %}<br><span class="title" id="2speedval{{forloop.counter0}}"></span></p>
<div class="graph speed floatleft" id="2speeddiv{{forloop.counter0}}" style="width:130px;height:60px"></div>
<p class="graphheader hr floatleft">{% trans "HR" %}<br><span class="title" id="2hrval{{forloop.counter0}}"</span></p>
<div class="graph hr floatleft" id="2hrdiv{{forloop.counter0}}" style="width:130px;height:60px"></div>
{% if object.max_cadence %}
<p class="graphheader cadence floatleft">{% trans "Cadence" %}<br><span class="title" id="2cadenceval{{forloop.counter0}}"</span></p>
<div class="graph cadence floatleft" id="2cadencediv{{forloop.counter0}}" style="width:130px;height:60px"></div>
{% endif %}
<p class="graphheader altitude floatleft">{% trans "Altitude" %}<br><span class="title" id="2altitudeval{{forloop.counter0}}"</span></p>
<div class="graph altitude floatleft" id="2altitudediv{{forloop.counter0}}" style="width:130px;height:60px"></div>
{% if object.avg_power %}
<p class="graphheader power floatleft">{% trans "Power" %}<br><span class="title" id="2powerval{{forloop.counter0}}"</span></p>
<div class="graph power floatleft" id="2powerdiv{{forloop.counter0}}" style="width:130px;height:60px"></div>
{% endif %}

{% endfor %}
<script  language="javascript" type="text/javascript">
    {% localize off %}

var index = 30;
var speed = 1;

$('#control_start').bind("click", function (evt) {
        evt.preventDefault();
        index = 0;
    });
$('#control_pause').bind("click", function (evt) {
        evt.preventDefault();
        speed = 0;
    });
$('#control_play').bind("click", function (evt) {
        evt.preventDefault();
        speed = 1;
    });
$('#control_fastforward').bind("click", function (evt) {
        evt.preventDefault();
        speed += 5;
    });


    var options = { 
        series: {
             lines: { show: false },
             bars: { 
                show: true,
                horizontal: true,
                fill: 1,
                barWidth: 1,
                align: "center"
             },
            xaxis: { tickDecimals: 0, tickSize: 1, tickLength: 1},
            yaxis: { tickDecimals: 0, tickSize: 1}
        },
        grid: {
            show: false,
            borderColor: '#000',
            borderWidth: 1,
            color: '#ffffff',
            markingsColor: "#000000",
            markingsLineWidth: 1,
            axisMargin: 0,
            labelMargin: 0
        }
    };

var graphoptions = [];
var datasets = [];
{% for dataset in datasets %}
datasets.push({{dataset}});
{% endfor %}
{% for object in exercises %}
    graphoptions.push( {
    {% if object.avg_hr %}
      'hr': $.extend(true, {}, options, { xaxis: {max: {{object.max_hr}}, min: 80}, grid: { markings: [ { yaxis: { from: {{object.avg_hr}}, to: {{object.avg_hr}}}}]} }),
    {% endif %}
    {% if object.avg_speed %}
     'speed': $.extend(true, {}, options, { xaxis: {max: {{object.max_speed}}, min: 0 }}),
    {% endif %}
    {% if object.max_cadence %}
     'cadence': $.extend(true, {}, options, { xaxis: {max: {{object.max_cadence}}, min: 0}}),
    {% endif %}
     'altitude': $.extend(true, {}, options, { xaxis: {max: {{alt_max}}, min: 0}}),
    {% if object.avg_power %}
     'power': $.extend(true, {}, options, { xaxis: {max: {{object.max_power}}, min: 0}})
    {% endif %}
    });
{% endfor %}
// All plot objects stord in this to be used by setData()
var plots = { };
// All Markers stored in this
var markers = [];
$(document).ready(function() {

    //Mapper.gsat.setVisibility(1);
    Mapper.map.setBaseLayer(Mapper.gsat);
    Mapper.lgpx.setVisibility(0);
    //Mapper.map.removeLayer(Mapper.lgpx);
    // Focus le map
    $('#mapcontainer').focus();

    var updateInterval = 500;
    var zoomLevel = 15;
    var interval = 0;
    var mapUpdater = 0;
    var iterations = datasets[0]["lon"].length;

    $('#altdiv').bind("plotclick", function (evt, pos, item) {
        index = item.dataIndex;
    });
    var lineLayers = [];
    {% for object in exercises %}
        lineLayers.push(Mapper.initLine('{{object.user}}'));
        // Create the markers 
    {% endfor %}
    // Function to update both graphs for each val
    // Try and look and for existing plot
    // if cannot be found, create the initial plot and save key to var plots.
    var setAndDraw = function(index, key, data, histdata) {
        plot = plots[key+index];
        if (plot) {
            plot.setData(data);
            plot.draw()
        }
        else {
            plot = $.plot($("#"+key+"div"+index),data, graphoptions[index][key]);
        }
        histplot = plots[2+key+index];
        if (histplot) {
            histplot.setData(histdata);
            histplot.draw();
        }
        else {
            $.plot($("#2"+key+"div"+index), histdata ,{});
        }
    }
    var updateMapAndGraph= function() {
        if (index >= iterations) {
            clearInterval(interval);
        }
        {% for object in exercises %}
            var player = {{forloop.counter0}};
            var lon = datasets[{{forloop.counter0}}]["lon"][index];
            var lat = datasets[{{forloop.counter0}}]["lat"][index];
            var p_lon = datasets[{{forloop.counter0}}]["lon"][index-speed];
            var p_lat = datasets[{{forloop.counter0}}]["lat"][index-speed];
            // Check for none-values, we don't want to zoom to 0_o o_0
            if (lon != 0.0 && lat != 0.0) {
                if (!markers[player])
                    markers.push(Mapper.initMarker("/generate/icon?i=/turan/{{ object.exercise_type.logo }}&r=" + playercolors[{{forloop.counter0}}].r + "&g=" + playercolors[{{forloop.counter0}}].g + "&b=" + playercolors[{{forloop.counter0}}].b + "&h=32&w=32", lon, lat));
                {% if forloop.first %}
                    // Only move map every 4th sample, less cluttery looking
                    if (mapUpdater >= 4) {
                        //Mapper.zoomToPosMarker();
                        mapUpdater = 0;
                    }
                    //Mapper.updatePosMarker(datasets[{{forloop.counter0}}]["lon"][index],datasets[{{forloop.counter0}}]["lat"][index]);

                {% endif %}
                // Move the markers
                Mapper.moveMarker(markers[{{forloop.counter0}}], lon, lat);
                if (p_lon != 0.0 && p_lat != 0.0) {
                    Mapper.drawLine(lineLayers[{{forloop.counter0}}], colors[{{forloop.counter}}], p_lon, p_lat, lon, lat);
                }
            }

            // Highlight the point at index in the first series in the altitudeprofile plot
            var x = datasets[player]['altitude']['data'][index][0];
            var y = datasets[player]['altitude']['data'][index][1];
            altitudeprofileplot.updateMarker(x, y, player);

            {% if object.avg_hr %}
            var hrval = datasets[{{forloop.counter0}}]['hr']['data'][index][1];
                $('#hrval{{forloop.counter0}}').html(hrval);
                setAndDraw({{forloop.counter0}}, 'hr', [{ 'color': 2, 'data': [[hrval, 0]]}], [{'color': 2, 'data': datasets[{{forloop.counter0}}]['hr']['data'].slice(index-30,index)}]);
            {% endif %}
            {% if object.avg_speed %}
            var speedval = datasets[{{forloop.counter0}}]['speed']['data'][index][1];
                $('#speedval{{forloop.counter0}}').html(speedval.toFixed(1));
                setAndDraw({{forloop.counter0}}, 'speed', [{ 'color': 0, 'data': [[speedval, 0]]}], [{'color': 0, 'data': datasets[{{forloop.counter0}}]['speed']['data'].slice(index-30,index)}]);
            {% endif %}

            var altitudeval = datasets[{{forloop.counter0}}]['altitude']['data'][index][1];
                $('#altitudeval{{forloop.counter0}}').html(altitudeval.toFixed(0));
                setAndDraw({{forloop.counter0}}, 'altitude', [{ 'color': 3, 'data': [[altitudeval, 0]]}], [{'color': 3, 'data': datasets[{{forloop.counter0}}]['altitude']['data'].slice(index-30,index)}]);
            {% if object.max_cadence %}
            var cadenceval = datasets[{{forloop.counter0}}]['cadence']['data'][index][1];
                $('#cadenceval{{forloop.counter0}}').html(cadenceval.toFixed(0));
                setAndDraw({{forloop.counter0}}, 'cadence', [{ 'color': 1, 'data': [[cadenceval, 0]]}], [{'color': 1, 'data': datasets[{{forloop.counter0}}]['cadence']['data'].slice(index-30,index)}]);
            {% endif %}
            {% if object.avg_power %}
            var powerval = datasets[{{forloop.counter0}}]['power']['data'][index][1];
                $('#powerval{{forloop.counter0}}').html(powerval.toFixed(0));
                setAndDraw({{forloop.counter0}}, 'power', [{ 'color': 4, 'data': [[powerval, 0]]}], [{'color': 4, 'data': datasets[{{forloop.counter0}}]['power']['data'].slice(index-30,index)}]);
            {% endif %}
        {% endfor %}
            
        index += speed;
        mapUpdater++;
    }

    interval = setInterval(updateMapAndGraph, updateInterval);
});

{% endlocalize %}
</script>
<div class="mapcontainer"><div style="width:1000px;height:800px" class="drop-shadow raised" id="map"></div>

{% endblock content %}

