{% extends "turan/base.html" %}
{% load i18n %}
{% load turan_extras %}
{% load humanize %}
{% load i18n %}
{% load tagging_tags %}
{% block title %}
{{block.super}}
{{ object }}, {{ object.date }}
{% endblock %}
{% block searchenginemeta %}
{% tags_for_object object as tag_list %}
<meta name="keywords" content="{% if tag_list %}{{ tag_list|join:","|escape }},{% endif %}sykkel,tur,trening,exercise" />
<meta name="description" content="{% if object.comment %}{{ object.comment|truncatewords:20|escape }}. {% endif %}{{object.route.description}}" />
{% endblock %}
{% block extra_head %}
{{ block.super }}
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.crosshair.js"></script>
{% with object.route.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endblock %}
{% block submenu %}
<ul class="submenu">
    {% if user == object.user %}
    <li>
        <a href="{% url exercise_delete object.id %}">
            <img alt="delete" title="{% trans "Delete exercise" %}" src="{{ "cross"|silk_icon }}"> {% trans "Delete" %}
        </a>
    </li>
    <li>
        <a href="{% url exercise_update object.id %}">
            <img alt="modify" title="{% trans "Modify exercise" %}" src="{{ "wrench"|silk_icon }}"> {% trans "Modify" %}
        </a>
    </li>
    {% endif%}
    {% if user == object.user or user.is_superuser%}
        {% if object.sensor_file %}
        <li>
            <a href="{% url exercise_parse object.id %}">
                <img alt="modify" title="{% trans "Reparse exercise" %}" src="{{ "page_refresh"|silk_icon }}">
            </a>
        </li>
        {% endif %}
    {% endif %}
    <li>
        <a href="{% url exercise_player %}?id={{object.id }}">
            <img alt="Play" title="{% trans "Play exercise" %}" src="{{ "control_play"|silk_icon }}">
            {% trans "Play" %}
        </a>
    </li>
    <li style="padding: 0">
            {% url exercise object.id as exercise_url %}
            <a title="Post exercise on Twitter" href="http://twitter.com/home?status={{ object.exercise_type }}{% if object.route %} at {{ object.route }}{% endif %} - http://turan.no{{ exercise_url|urlencode }}"><img src="http://twitter-badges.s3.amazonaws.com/t_mini-a.png" alt="Twitter icon"/></a>
    </li>
    <li style="margin-top: 3px; padding: 0; margin-left: 5px">
        {% url exercise object.id as exercise_url %}
        <div id="fb-root"></div>
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
        <fb:send href="http://turan.no/{{exercise_url|urlencode}}"></fb:send>
    </li>
</ul>
{% endblock%}
{% block content %}
{% if object.route.gpx_file %}
<div class="mapcontainer"><div class="map" id="map"></div>
    <a href="{{MEDIA_URL}}turan/{{ object.route.gpx_file }}" class="detailsShareBoxButton gpxFile">{% trans "GPX File" %}</a>
</div>
{% endif %}
{% include "turan/exercise/attributes.html" %}
{% include "turan/tags.html" %}
<hr class="clear" />
{% block graph %}
{% if details.exists %}
<div id="tabs">
    <!-- Tab selectors -->
    <ul>
        <li class="selected" id="tabs-select-1">
            <p>
                <img alt="Graph" src="{{MEDIA_URL}}pinax/img/silk/icons/chart_curve.png">{% trans "Graph" %}
            </p>
        </li>
        <li id="tabs-select-2">
            <p>{% trans "Comments" %}</p>
        </li>
        {% if intervals %}
        <li id="tabs-select-3">
            <p>
                <img alt="Intervals" src="{{MEDIA_URL}}pinax/img/silk/icons/timeline_marker.png">
                {% trans "Intervals" %}<span class="floatright">{{ intervals|length }}</span>
            </p>
        </li>
        {% endif %}
        <li id="tabs-select-4">
            <p>
                <img alt="Zones" src="{{MEDIA_URL}}pinax/img/silk/icons/chart_pie.png">
                {% trans "Zones" %}
            </p>
        </li>
        <li id="tabs-select-5">
            <p>
                <img alt="Freqs" src="{{MEDIA_URL}}pinax/img/silk/icons/chart_bar.png">
                {% trans "Freqs" %}
            </p>
        </li>
        {% if slopes %}
        <li id="tabs-select-6">
            <p>
                <img alt="Slopes" src="{{MEDIA_URL}}pinax/img/silk/icons/shape_rotate_clockwise.png">
                {% trans "Slopes" %} <span class="floatright">{{ slopes|length }}</span>

            </p>
        </li>
        {% endif %}
        {% ifequal object.exercise_type.altitude 1 %}
        <li id="tabs-select-7">
            <p>
                <img alt="Inclinedata" src="{{MEDIA_URL}}pinax/img/silk/icons/sum.png">
                {% trans "Inclinedata" %}
            </p>
        </li>
        {% endifequal %}
        <li id="tabs-select-9">
            <p>
                <img alt="Zones" src="{{MEDIA_URL}}pinax/img/silk/icons/table_lightning.png">
                {% trans "Best Efforts" %}
            </p>
        </li>
    </ul>

    <!-- Tab content -->
    <div id="tabs-1" class="graph visible">
        <div id="graphcontainer">
        {% include "turan/exercise/graph.html" %}
        </div>
    </div>

    <div id="tabs-2">
        {% if object.comment %}
        <ul>
            <li class="comment">
                {{ object.user }} {% trans "writes" %}:
                <p>{{ object.comment|linebreaks }}</p>
            </li>
        </ul>
        {% endif %}
        {% include "turan/commentform.html" %}
    </div>

    {% if intervals %}
    <div id="tabs-3" class="interval_tab">
        {% include "turan/exercise/interval_tab.html" %}
    </div>
    {% endif %}

    <div id="tabs-4" class="zone_tab">
        {% include "turan/exercise/zone_tab.html" %}
    </div>

    <div id="tabs-5" class="hrhzone_tab">
        {% include "turan/exercise/hrhzone_tab.html" %}
    </div>

    {% if slopes %}
        {% include "turan/exercise/slope_tab.html" %}
    {% endif %}

    {% ifequal object.exercise_type.altitude 1 %}
    <div id="tabs-7">
        <div id="gradientzonediv" style="width:980px;height:400px;"></div>
        {% include "turan/exercise/gradient_tab.html" %}
        {% include "turan/exercise/incline_tab.html" %}
    </div>
    {% endifequal %}

    <div id="tabs-9">
        {% include "turan/exercise/best_effort_tab.html" %}
    </div>
</div>
<script type="text/javascript">
    function selectTab(evt) {
        var id = evt.target.id ? evt.target.id : evt.target.parentNode.id;
        id = "tabs-" + id.split('-')[2];
        $('#tabs div.visible').removeClass('visible');
        $('#tabs div#' + id).addClass('visible');
        $('#tabs>ul>li').removeClass('selected');
        $(this).addClass('selected');
        if ($(this).attr("id").split('-')[0] == "tabs") {
            window.location.hash = $(this).attr("id");
        }
    }
    $('#tabs>ul>li').each(function () {
        $(this).bind("click", selectTab);
    });
    $('.zoom-select').each(function () {
        $(this).bind("click", selectTab);
    });
    $(window).bind("hashchange", function (evt) {
        var orly = window.location.hash.split('-')
        if (orly) {
            if (orly[0] == "#graph") {
                var x = orly[2];
                var x2 = orly[3];
                GraphPlotter.setRange({ xaxis: { from: x, to: x2 }});
                GraphPlotter.plot();
            }
            else if (orly[0] == "#tabs") {
                $(window.location.hash).trigger("click");
            }
        }
    });
    var orly = window.location.hash.split('-')
    if (orly) {
        if (orly[0] == "#tabs")
            $(window).trigger("hashchange");
            //$(window.location.hash).trigger("click");
    }

    var commentcount = $('.bulk').size();
    {% if object.comment %}
    commentcount += 1;
    {% endif %}
    $('#tabs-select-2').html('<p>{% trans "Comments" %} <span class="floatright">' + commentcount + '</span></p>');

$(document).ready(function() {
    if (Mapper.map) {
        // Init the marker for graph hover thingy
        Mapper.posLayer = Mapper.initFeature('{{object.user}}' + ' {% trans "Position" %}', "{{5|player_icon_huge:object.exercise_type}}");
    }
});




</script>
{% else %}
{% include "turan/commentform.html" %}
{% endif %}
{% endblock %}
{% endblock content %}
