{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{% trans "Exercises" %}
{% endblock %}
{% block content %}

<h1>
    {% trans "Exercises" %}
</h1>
{% autosort object_list %}
{% autopaginate object_list %}
<div class="floatright" style="clear: right;">
{% paginate %}
</div>

<table class="fullsize">
    <tr>
        <th>
            {% anchor user %}
        </th>
        <th>
            {% anchor date %}
        </th>
        <th>
            {% anchor route__name "Name" %}
        </th>
        <th>
            {% anchor route__distance "Distance" %}
        </th>
        <th>
            {% anchor route__ascent "Ascent" %}
        </th>
        <th>
            {% anchor duration %}
        </th>
        <th>
            {% anchor avg_speed "Avg Speed" %}
        </th>
        <th>
            {% anchor avg_hr "Avg HR" %}
        </th>
        <th>
            {% anchor kcal "Expenditure" %}
        </th>
    </tr>
{% for object in object_list %}
<tr>
    <td>
        {{ object.user }}
    </td>
    <td>
        {{ object.date }}
    </td>
    <td>
        <a href="{{ object.get_absolute_url }}">
            {% if object.route %}
            {{ object.route.name }}
            {% else %}
            {{ object.exercise_type }}
            {% endif %}
        </a>
    </td>
    <td>
        {{ object.route.distance|floatformat }} {% trans "km" %}
    </td>
    <td>
        {% if object.route.ascent %}
            {{ object.route.ascent|floatformat }} {% trans "m" %}
        {% endif %}
    </td>
    <td>
        {% if object.duration %}
            {{ object.duration }} 
        {% endif %}
    </td>
    <td>
        {% if object.avg_speed %}
            {{ object.avg_speed|floatformat }}  {% trans "km/h" %}
        {% endif %}
    </td>
    <td>
        {% if object.avg_hr %}
            {{ object.avg_hr}}  {% trans "BPM" %}
        {% endif %}
    </td>
    <td>
        {% if object.kcal %}
            {{ object.kcal }} {% trans "kcal" %}
        {% endif %}
    </td>
</tr>
{%endfor %}
</table>
{% endblock content %}

