{% extends "turan/event_detail.html" %}
{% load i18n %}
{% block title %}
{{block.super}}
{% trans "Hike" %} {{ object }}
{% endblock %}
{% block extramenu %}
    {% ifequal user object.user %}
        <li class="right"><a href="{% url upload_eventdetails object.id "hike" %}/{{object.name|slugify}}">{% trans "Add trip values" %}</a>
        <li class="modify"><a href="{% url admin:turan_hike_change object.id %}">{% trans "Modify" %}</a></li>
    {% endifequal %}
{% endblock %}
{% block graph %}
{% include "turan/hike/graph.html" %}
{% endblock graph %}

