{% extends "turan/base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{{ block.super }}
{% block content %}
<h2>{% trans "Import exercise from external site" %}</h2>
<p>{% trans "Note: You can also upload file .tcx or .fit file directly from Garmin device"%}</p>
<hr>
<p>{% trans "Currently supported sites" %}:</p>
<ul>
    <li>
        <strong>Sportypal:</strong> http://sportypal.com/Workouts/Details/&lt;id&gt;
    </li>
    <li>
        <strong>Garmin Connect:</strong> http://connect.garmin.com/activity/&lt;id&gt;
    </li>
</ul>
<h3>Step 1</h3>
{% if error %}
<div style="background: red; color: white; padding: 5px">
    {% if error.code == 403 %}
    {% trans "Your exercise is not public. It needs to be public for Turan to import it" %}
    {% else %}
        {% trans "Something went wrong while importing trip" %}: {{ error }}
    {% endif %}
</div>
{% endif %}
<form class="uniForm" action="" method="post">
    {{ form|as_uni_form }}
    <input type="submit" value="{% trans "Import exercise"%}" />
</form>


<h2>{% trans "Bulk import" %}</h2>
<p>{% trans "Zip all your exercise files into a .zip-file and upload." %}</p>
<form enctype="multipart/form-data" class="uniForm" action="{% url import_bulk %}" method="post">
    {{ bulkform|as_uni_form }}
    <input type="submit" value="{% trans "Import exercises"%}" />
</form>
{% endblock %}
