{% extends "turan/base.html" %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load tagging_tags %}

{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{ block.super }}
{% trans "What matters" %}
{% endblock %}
{% block content %}

<div class="half floatright">
    <h1>
        {% trans "Latest comments" %}
    </h1>
    <ul class="comments">
    {% get_latest_comments 5 as comments %}
    {% for comment in comments %}
        <li>
            <div class="header">
                <div class="avatar">{% avatar comment.user 40 %}</div>
                <img alt="Comment" src="{{MEDIA_URL}}/pinax/images/silk/icons/comment.png" />
                <span class="name">{{ comment.user }}</span>&nbsp;
                {% trans "commented on a" %}
                    <a href="{{ comment.content_object.get_absolute_url }}">
                        {{ comment.content_object|model_verbose_name }}
                    </a>
                <span class="date">{{ comment.date_submitted|naturalday }}</span>
            </div>
            <div class="comment_text">{{ comment.comment|urlize|linebreaks }}</div>
        </li>
    {% endfor %}
    </ul>
    <img alt="{% trans "Compass" %}" style="float:right" src="{{MEDIA_URL}}turan/compass.png">
    <h1>
        <a href="{% url routes %}">{% trans "Most popular routes" %}</a>
    </h1>
    <ul class="routes">
    {% for object in route_list %}
    <li class="{% cycle "even" "odd" %}">
    {% comment %}
    Silly SVG
        {% if object.gpx_file %}
            <object width="50" height="50" type="image/svg+xml" data="{{ object.get_svg_url }}"></object>
        {% endif %}
    {% endcomment %}

        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a> <span class="trip_count">{{ object.get_trips|length }} {% trans "trips" %}</span>
    </li>
    {%endfor %}
    </ul>
</div>

<div class="half leftcol">
    <img alt="{% trans "Cyclist"%}" style="float:right" src="{{MEDIA_URL}}turan/cyclist.png">
    <h1>
        <a href="{% url cycletrips %}">{% trans "Cycle trips" %}</a>
    </h1>
    <ul class="trips">
    {% for object in cycletrip_list %}
    <li class="{% cycle "even" "odd" %}">
    <a href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user 30 %}</a>
    <a href="{{ object.get_absolute_url }}">{{ object.route.name|slice:":35" }}</a>, 
        {% if object.route.distance %}
            {{ object.route.distance|floatformat }} {% trans "km" %}
        {% endif %}
        {{ object.date|naturalday}}
    </li>
    {%endfor %}
    </ul>

    <img alt="{% trans "Hiker"%}" style="float:right" src="{{MEDIA_URL}}turan/hiker.png">
    <h1>
        <a href="{% url hikes %}">{% trans "Hikes" %}</a>
    </h1>
    <ul class="hikes">
    {% for object in hike_list %}
    <li class="{% cycle "even" "odd" %}">
    <a href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user 30 %}</a>
    <a href="{{ object.get_absolute_url }}">{{ object.route.name|slice:":35" }}</a>, 
        {% if object.route.distance %}
            {{ object.route.distance|floatformat }} {% trans "km" %},
        {% endif %}
        {{ object.date|naturalday}}
    </li>
    {%endfor %}
    </ul>

    <img alt="{% trans "Other Exercices"%}" style="float:right" src="{{MEDIA_URL}}turan/hiker.png">
    <h1>
        <a href="{% url hikes %}">{% trans "Other Exercices" %}</a>
    </h1>
    <ul class="exercies">
    {% for object in exercise_list %}
    <li class="{% cycle "even" "odd" %}">
    <a href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user 30 %}</a>
    <a href="{{ object.get_absolute_url }}">
        {% if object.exercise_type %}{{ object.exercise_type }}
        {% else %}
           {% trans "Other Exercise" %}
        {% endif %}
    </a>, 
        {% if object.duration %}
           {{ object.duration}},
        {% endif %}
        {{ object.date|naturalday}}
    </li>
    {%endfor %}
    </ul>
</div>
{% endblock content %}

{% block cloud %}
{% for tag in tag_list %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}
{% endblock %}

