{% extends "turan/base.html" %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load tagging_tags %}

{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{ block.super }}
{% trans "Turan: It's what matters." %}
{% endblock %}
    {% block extramenu %}
    <ul class="submenu">
        <li style="float: left">
            <a href="{% url route_create %}">
                <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/map_add.png" alt="{% trans "Add route" %}" />
                {% trans "Add route" %}
            </a>
        </li>
        <li>
            <a href="{% url import_data %}">
                <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/page_white_go.png" alt="{% trans "Import exercise" %}" />
                {% trans "Import exercise" %}
            </a>
        </li>
        <li>
            <a href="{% url exercise_create %}">
                <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/add.png" alt="{% trans "Add an exercise" %}" />
                {% trans "Add an exercise" %}
            </a>
        </li>
    </ul>
    {% endblock %}
{% block content %}

<div id="exercisers">
    {% for exerciser in user_list %}
    <a class="profilehoverpoint" id="user_{{exerciser.id}}" href="{% url profile_detail exerciser %}">{% avatar exerciser 60 %}</a>
    {{ exerciser|profile_hover }}
    {% endfor %}
    <hr class="clearleft" />
</div>

<div class="half floatright">
        {% for object in exercise_list %}
         {{ object|exercise_mouseover }}
        {% endfor %}
    <ul class="trips">
        {% for object in exercise_list %}
        <li class="{% cycle "even" "odd" %} hoverpoint" id="trip_{{ object.id }}">
            <a href="{{ object.get_absolute_url }}">
                <img alt="User image" class="floatleft" src="{{ object.icon|safe }}" width="32" height="32" />
            </a>
            <a class="floatright" href="{% url profile_detail object.user %}">{% avatar object.user 30 %}</a>
            {% if object.route.gpx_file %}
            <img class="floatright" src="{{ object.route.get_png_url }}" width="32" height="32"/>
            {% endif %}
            <a href="{{ object.get_absolute_url }}">
                {{ object.get_name }}
            </a>
            {% if object.segmentdetail_set.exists %}
            <p class="smaller fade floatright">

            {% for sd in object.segmentdetail_set.all %}
                <a href="{{ sd.get_absolute_url }}">{{sd.segment.name|truncatechars:":15"}}</a>{% if not forloop.last %},{% endif%}
            {% endfor %}

            </p>
            {% endif %}
            <p class="smaller fade">
                {% if object.route.distance %}
                    {{ object.route.distance|floatformat }} {% trans "km" %}
                {% endif %}
                {% if object.duration %}
                    {{ object.duration}}
                {% endif %}
                {{ object.date|naturalday}}
            </p>
            <hr class="clearright" />
        </li>
        {%endfor %}
    </ul>
    <a href="{% url exercises %}">{% trans "View more exercises" %}</a>

    <ul class="routes">
        {% for object in route_list %}
        <li class="{% cycle "even" "odd" %}">
            {% comment %}
            Silly SVG
                {% if object.gpx_file %}
                    <object width="50" height="50" type="image/svg+xml" data="{{ object.get_svg_url }}"></object>
                {% endif %}
            {% endcomment %}

            <div style="height: 32px; width: 32px; margin-right: 13px; color: #999; background-color: #eee; float: left">
                <p style="font-size: 14px; color: #888; width: 32px; text-align: center; float: left; padding: 0; margin: 2px 0 0 0">
                    {{ object.tcount }}
                </p>
                <p style="width: 32px; text-align: center; float: left; font-size: 10px; padding: 0; margin: 0">
                    turer
                </p>
                <hr class="clearleft" />
            </div>
            <a href="{{ object.get_absolute_url }}">
                <img class="floatright" src="{{ object.get_png_url }}" width="32" height="32"/>
            </a> 
            <a href="{{ object.get_absolute_url }}">{{ object.name }}</a> 
            <p class="smaller fade">
                {% if object.distance %}
                    {{ object.distance|floatformat }} {% trans "km" %},
                {% endif %}
                {% if object.ascent %}
                {{ object.ascent }} {% trans "ascent" %},
                {% endif %}
                {% if object.description %}
                    {{ object.description|truncatewords:10 }}
                {% endif %}
            </p>
            <hr class="clearleft" />
        </li>
    {%endfor %}
    </ul>
    <a href="{% url routes %}">{% trans "View more routes" %}</a>
</div>

<div class="half leftcol">
    <div id="tabs">
        <ul>
            <li class="tab selected" id="tabs-select-1"><p>{% trans "Turan?" %}</p></li>
            <li class="tab" id="tabs-select-2"><p>{% trans "Analyze" %}</p></li>
            <li class="tab" id="tabs-select-3"><p>{% trans "Map" %}</p></li>
            <li class="tab" id="tabs-select-4"><p>{% trans "Log" %}</p></li>
        </ul>
        <div id="tabs-1" class="visible">
            <p>
            {% comment %}
            <p>
            <b>T</b>uran is currently an invite only site. Contact a member you know for an invite.
            </p>
            {% endcomment %}
            {% blocktrans %}
            <b>T</b>uran is a hobby project created by a few exercise enthusiasts for logging and analyzing exercise data from heart rate monitors / cycle computers. It supports a variety of devices.
            </p>
            <p>
            Garmin products are supported with file formats .tcx and .fit. FIT-format reccommended.
            Polar from polar online (.xml) or from devices that exports .hrm
            GPX-files can be used but are often suboptimal.
            PWX and CSV also supported, but some features missing.
            {% endblocktrans %}
            </p>
            <p>
            {% blocktrans %}
            <b>T</b>uran is currently categorized into different exercise types to provide statistics and information for each type separately. The system will retrieve some of the information directly from the file you provide, but you will have to enter the comment for the exercise, and maybe some tags to group it with other similar exercises, such as rainyday-trips, solo-trips, bunch-sprints, and trips you could've been without.
            {% endblocktrans %}
            </p>
        </div>
        <div id="tabs-2" class="">
            <img class="floatright" style="padding-left: 8px" src="{{MEDIA_URL}}turan/graf-utsnitt.png" alt="Graph" />
            <p>
            {% blocktrans %}
            Provided you have one of the supported devices you can analyze your training, kilometre by kilometre, or minute by minute if distance isn't relevant. You can, again provided your device supports it, graph everything the device records. Speed, altitude, cadence, heart rate, power, the whole <a href="http://www.urbandictionary.com/define.php?term=shebang">shebang</a>. Obviously, analyzing means breaking down a complex issue into smaller parts, so zooming in on any part of any lenght is supported. Just click and mark an interesting part of the graph and drool on the immense depth of the data <strong>you</strong> have produced.
            {% endblocktrans %}
            </p>
        </div>
        <div id="tabs-3" class="">
            <img class="floatleft" style="padding-right: 8px" src="{{MEDIA_URL}}turan/mapexample.png" alt="Graph" />
            <p>
            {% blocktrans %}
            The map serves two purposes. First and foremost the function of showing where you've been. That one's easy. The second is the killer: intensities during the exercises are embedded in the trace of the trip. The intensity of your exercise is indicated by the color, showing where which parts of your trip was relatively speaking the hardest. The levels are also relative to the user's own max-pulse, so make sure yours is correct.
            {% endblocktrans %}
            </p>
        </div>
        <div id="tabs-4" class="">
            <p>
            {% blocktrans %}
            What good is training without progress? After a while you might want to look at the trends of your training. Turan(tm) provides several. Apart from the silly BMI-tracking-feature, you can view (and compare) different runs of the same route, comparing everything, speed, cadence and heart rate. Turan(tm) will also graph the time-usage of a spesific route as a function of time. In your profile you can view your own progress in terms of average speed, BMI and resting pulse.
            {% endblocktrans %}
            </p>
        </div>
    </div>
    <script type="text/javascript">
        function selectTab(evt) {
            var id = evt.target.id ? evt.target.id : evt.target.parentNode.id;
            id = "tabs-" + id.split('-')[2];
            $('#tabs div.visible').removeClass('visible');
            $('#tabs div#' + id).addClass('visible');
            $('#tabs ul li').removeClass('selected');
            $(this).addClass('selected');
        }
        $('#tabs ul li.tab').each(function () {
            $(this).bind("click", selectTab);
        });
    </script>

    <h2>{% trans "Latest comments" %}</h2>
    <ul id="last_comments" class="spacer">
        {% for comment in comment_list %}
        <li class="{% cycle "even" "odd" %}">
            <a title="{{comment.user}}" href="{{comment.get_content_object.get_absolute_url}}#comment_{{comment.id}}">
            {% avatar comment.user 32 %}
            </a>
            {% ifchanged %}<h4>{{comment.get_content_object}}</h4>{% endifchanged %}
            <a title="{{comment.user}}" href="{{comment.get_content_object.get_absolute_url}}#comment_{{comment.id}}">
                <p>{{comment.comment|truncatewords:24}}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
    <hr class="clear" />
</div>


{% endblock content %}

{% block cloud %}
<div class="spacer cloud drop-shadow lifted">
    <ul>
{% for tag in tag_list %}
    {% ifnotequal tag.count 1 %}
        <li>
        <a class="tag-size-{{ tag.font_size }}" href="/tags/{{ tag.name }}">{{ tag.name }}</a>
        </li>
    {% endifnotequal %}
{% endfor %}
    </ul>
</div>
{% endblock %}

