{% extends "turan/base.html" %}
{% load threadedcommentstags %}
{% load avatar_tags %}
{% load tagging_tags %}
{% load webdesign %}

{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{ block.super }}
{% trans "What matters" %}
{% endblock %}
{% block content %}

<div class="half floatright">
    <h1>
        {% trans "Welcome to Turan" %}!
    </h1>

<div id="tabs">
    <ul>
        <li class="selected" id="tabs-select-1">{% trans "Turan?" %}</li>
        <li id="tabs-select-2">{% trans "Analyze" %}</li>
        <li id="tabs-select-3">{% trans "Map" %}</li>
        <li id="tabs-select-4">{% trans "Log" %}</li>
    </ul>
    <div id="tabs-1" class="visible">
        {% blocktrans %}
        
        {% endblocktrans %}
    </div>
    <div id="tabs-2" class="">
        {% blocktrans %}
	Provided you have one of the supported devices, using Turan(tm) you can analyze your training, kilometre by kilometre, or minute by minute if distance isn't relevant. You can, again provided your device supports it, graph everything the device records. Speed, altitude, cadence, heart rate, the whole <a href="http://www.urbandictionary.com/define.php?term=shebang">shebang</a>. Obviously, analyzing means breaking down a complex issue into smaller parts, so zooming in on any part of any lenght is supported. Just click and mark an interesting part of the graph and drool on the immense depth of the data <u>you</u> have produced.
        {% endblocktrans %}
    </div>
    <div id="tabs-3" class="">
        {% blocktrans %}
        Text 3
        {% endblocktrans %}
    </div>
    <div id="tabs-4" class="">
        {% blocktrans %}
        Text 4
        {% endblocktrans %}
    </div>
</div>
<script type="text/javascript">
    function selectTab(evt) {
        var id = evt.target.id;
        id = "tabs-" + id.split('-')[2];
        $('#tabs div.visible').removeClass('visible');
        $('#tabs div#' + id).addClass('visible');
        $('#tabs ul li').removeClass('selected');
        $(this).addClass('selected');
    }
$('#tabs ul li').each(function () {
        $(this).bind("click", selectTab);
        });
</script>

    <img alt="{% trans "Compass" %}" style="float:right" src="{{MEDIA_URL}}turan/compass.png">
    <h1>
        <a href="{% url routes %}">{% trans "Most popular routes" %}</a>
    </h1>
    <ul class="routes">
    {% for object in route_list %}
    <li class="{% cycle "even" "odd" %}">
    {% comment %}
    Silly SVG
        {% if object.gpx_file %}
            <object width="50" height="50" type="image/svg+xml" data="{{ object.get_svg_url }}"></object>
        {% endif %}
    {% endcomment %}

        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a> <span class="trip_count">{{ object.get_trips|length }} {% trans "trips" %}</span>
    </li>
    {%endfor %}
    </ul>
</div>

<div class="half leftcol">
    <img alt="{% trans "Cyclist"%}" style="float:right" src="{{MEDIA_URL}}turan/cyclist.png">
    <h1>
        <a href="{% url cycletrips %}">{% trans "Cycle trips" %}</a>
    </h1>
    <ul class="trips iconlist">
    {% for object in cycletrip_list %}
    <li class="{% cycle "even" "odd" %}">
    <a href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user 30 %}</a>
    <a href="{{ object.get_absolute_url }}">{{ object.route.name|slice:":35" }}</a>, 
        {% if object.route.distance %}
            {{ object.route.distance|floatformat }} {% trans "km" %}
        {% endif %}
        {{ object.date|naturalday}}
    </li>
    {%endfor %}
    </ul>

    <img alt="{% trans "Hiker"%}" style="float:right" src="{{MEDIA_URL}}turan/hiker.png">
    <h1>
        <a href="{% url hikes %}">{% trans "Hikes" %}</a>
    </h1>
    <ul class="hikes iconlist">
    {% for object in hike_list %}
    <li class="{% cycle "even" "odd" %}">
    <a href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user 30 %}</a>
    <a href="{{ object.get_absolute_url }}">{{ object.route.name|slice:":35" }}</a>, 
        {% if object.route.distance %}
            {{ object.route.distance|floatformat }} {% trans "km" %},
        {% endif %}
        {{ object.date|naturalday}}
    </li>
    {%endfor %}
    </ul>

    <img alt="{% trans "Other Exercises"%}" style="float:right" src="{{MEDIA_URL}}turan/hiker.png">
    <h1>
        <a href="{% url exercises %}">{% trans "Other Exercises" %}</a>
    </h1>
    <ul class="exercises iconlist">
    {% for object in exercise_list %}
    <li class="{% cycle "even" "odd" %}">
    <a href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user 30 %}</a>
    <a href="{{ object.get_absolute_url }}">
        {% if object.exercise_type %}{{ object.exercise_type }}
        {% else %}
           {% trans "Other Exercise" %}
        {% endif %}
    </a>, 
        {% if object.duration %}
           {{ object.duration}},
        {% endif %}
        {{ object.date|naturalday}}
    </li>
    {%endfor %}
    </ul>
</div>
{% endblock content %}

{% block cloud %}
{% for tag in tag_list %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}
{% endblock %}

