{% extends "turan/event_detail.html" %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{block.super}}
{% trans "Exercise" %} {{ object }}
{% endblock %}
{% block extramenu %}
    {% ifequal user object.user %}
        <li class="modify"><a href="{% url exercise_update object.id %}">{% trans "Modify" %}</a></li>
        <li class="modify delete"><a href="{% url exercise_delete object.id %}">{% trans "Delete" %}</a></li>
        <li class="modify delete"><a href="{% url exercise_detail_delete object.id "altitude" %}">{% trans "Delete altitude" %}</a></li>
    {% endifequal %}
{% endblock %}

{% block graph %}
{% ifnotequal object.otherexercisedetail_set.count 0 %}
<div id="tabs">
    <ul>
        <li class="selected" id="tabs-select-1">{% trans "Graph" %}</li>
        <li id="tabs-select-2">{% trans "Zones" %}</li>
    </ul>
    <div id="tabs-1" class="graph visible">
        {% include "turan/exercise/graph.html" %}
    </div>
    <div id="tabs-2" class="zone_tab">
        {% include "turan/event/zone_tab.html" %}
    </div>
</div>
<script type="text/javascript">
    function selectTab(evt) {
        var id = evt.target.id;
        id = "tabs-" + id.split('-')[2];
        $('#tabs div.visible').removeClass('visible');
        $('#tabs div#' + id).addClass('visible');
        $('#tabs ul li').removeClass('selected');
        $(this).addClass('selected');
    }
$('#tabs ul li').each(function () {
        $(this).bind("click", selectTab);
        });
</script>
{% endifnotequal %}

{% endblock %}


