{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}
{% trans "Cycle Trip" %}
{% endblock %}
{% block extra_head %}
{{ block.super }}
{% with object.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endblock %}
{% block extramenu %}
{% if user.is_authenticated %}
        <li class="right"><a href="{% url admin:turan_route_change object.id %}">{% trans "Modify" %}</a></li>
{% endif %}
{% endblock %}
{% block content %}

<div style="width:500px; height:500px; float: right;" id="map"></div>
<h1>
    <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
</h1>

{% include "turan/route/attributes.html" %}
{% include "turan/commentform.html" %}


{% with object.get_trips as trip_list %}
{% if trip_list %}
    <form id="route_form">
    <h2>{% trans "Trips on this route" %}</h2>
    <input type="submit" value="Compare" />
    <table style="float: left">
        <tr>
            <th>{% trans "Select" %}</th>
            <th>{% trans "Exerciser" %}</th>
            <th>{% trans "Duration" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Trip" %}</th>
            <th>{% trans "Comment" %}</th>
        </tr>
        {% for trip in trip_list %}
        <tr>
	    <td><input type="checkbox" name="selected_routes" value="{{ trip.id }}"></td>
            <td>{{ trip.user }}</td>
            <td>{{ trip.duration }}</td>
            <td>{{trip.date|naturalday}}</td>
            <td><a href="{{ trip.get_absolute_url }}">{{ trip }}</a></td>
            <td>{{ trip.comment|slice:"90" }}</td>
        </tr>
        {% endfor %}
    </table>
    </form>
    <script language="javascript" type="text/javascript">
    $('#route_form').bind("submit", function (ev) {
        ev.preventDefault();
        var selectedIds = [];
        $(this.selected_routes).each(function (i, elem) {
            if (elem.checked) {
                selectedIds.push(elem.value);
            }
        });
        document.location = "{% url trip_compare_base %}/" + selectedIds.join("/");
    });
    </script>
    <h3>{% trans "Average duration"%}</h3>
    <div id="avgspeeddiv" style="width:420px;height:200px"></div>
    <script id="source" language="javascript" type="text/javascript">
    $(function () {
            var d1 = { color: 5, data: [{{speeddataseries}}], }
            var options = { xaxis: { mode: "time", timeformat: "%y/%m/%d" }, yaxis: { min: 0, }, }
        $.plot($("#avgspeeddiv"), [d1], options);
    });
    </script>
{% endif %}
{% endwith %}



{% endblock content %}

