{% extends "turan/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{{ block.super }}
{% trans "Routes" %}
{% endblock %}
{% block content %}
<div class="page-header">
{% if not object %}
<h1>{% trans "Create new route" %}</h1>

{%blocktrans%}Create a named route if you want to have a public shared route that people can attach their exercises to.<br>
You only need to provide Name and Description. The rest of the info will be populated when the first exercise is added to the route.

<br>

<p>Note: If your exercise monitor equipment does not include a GPS, you will have to add a GPX-file manually to the Route to enable the map.</p>{%endblocktrans%}
{% else %}
<h1>{% trans "Update route" %} <small>{{object}}</small></h1>
{% endif %}
</div>
<form class="form-horizontal uniForm" enctype="multipart/form-data" method="post">
{{ form|as_crispy_form}}
{% comment %}
<input type="reset" value="{% trans "Cancel" %}" onClick="document.location='/turan/';" />
{% endcomment %}
<div class="form-actions">
    <input class="btn-primary btn-large btn" type="submit" value="{% trans "Save route" %}" />
</div>
</form>
{% endblock content %}
