{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{{ block.super }}
{% trans "Routes" %}
{% endblock %}
{% block content %}

<div style="float: right">
<form action="" method="GET">
	<input id="routeSearch" type="text" name="q" value="{% trans "Search for route" %}">
    <input type="submit" value="{% trans "Search" %}">
</form>
<script type="text/javascript" language="javascript">
	$('#routeSearch').bind("focus", function (evt) {
		if ($(this).val() == $(this).data("text")) {
			$(this).data("text", $(this).val());
			$(this).val("");
		}
	});
	$('#routeSearch').bind("blur", function (evt) {
		if ($(this).val().length == 0)
			$(this).val($(this).data("text"));
	});
	$('#routeSearch').data("text", $('#routeSearch').val());

</script>
</div>

<h1>
    {% trans "Routes" %}
</h1>

{% autosort object_list %}
{% autopaginate object_list %}
<span class="floatright" style="clear: right;">
{% paginate %}
</span>

<ul class="buttons">
    <li>
    <a href="{% url route_create %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/map_add.png" alt="{% trans "Add route" %}" />
        Add route
    </a>
    </li>
</ul>

<table>
    <tr>
        <th>
            {% anchor name %}
        </th>
        <th class="number">
            {% anchor distance %}
        </th>
        <th class="number">
            {% anchor ascent %}
        </th>
        <th class="number">
            {% anchor descent %}
        </th>
        <th>
            {% anchor created %}
        </th>
        <th class="number">
            {% trans "Trip count" %}
        </th>
    </tr>
{% for object in object_list %}
<tr class="{% cycle 'odd' 'even' %}">
    <td>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
    </td>
    <td class="number">{{ object.distance }} km</td>
    <td class="number">
        {% if object.ascent %}
            {{ object.ascent }} {% trans "m" %}
        {% endif %}
    </td>
    <td class="number">
        {% if object.descent %}
            {{ object.descent }} {% trans "m" %}
        {% endif %}
    </td>
    <td>
        {% if object.created %}
        {{ object.created|naturalday}}
        {% endif %}
    </td>
    <td class="number">{{ object.tripcount }}</td>
</tr>

{%endfor %}
</table>

<span class="floatright" style="clear: right;">
{% paginate %}
</span>

{% endblock content %}

