{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{{ block.super }}
{% trans "Routes" %}
{% endblock %}
{% block content %}

<div style="float: right">
<h3>{% trans "Search for route" %}</h3>
<form action="" method="GET">
    <input type="text" name="q">
    <input type="submit" value="{% trans "Search" %}">
</form>
</div>

<h1>
    {% trans "Routes" %}
</h1>

{% autosort object_list %}
{% autopaginate object_list %}
{% paginate %}

<ul class="buttons">
    <li>
    <a href="{% url route_create %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/map_add.png" alt="{% trans "Add route" %}" />
        Add route
    </a>
    </li>
</ul>

<table>
    <tr>
        <th>
            {% anchor name %}
        </th>
        <th>
            {% anchor distance %}
        </th>
        <th>
            {% anchor ascent %}
        </th>
        <th>
            {% anchor descent %}
        </th>
        <th>
            {% anchor created %}
        </th>
        <th>
            {% trans "Trip count" %}
        </th>
    </tr>
{% for object in object_list %}
<tr class="{% cycle 'odd' 'even' %}">
    <td>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
    </td>
    <td class="number">{{ object.distance }} km</td>
    <td class="number">
        {% if object.ascent %}
            {{ object.ascent }} {% trans "m" %}
        {% endif %}
    </td>
    <td class="number">
        {% if object.descent %}
            {{ object.descent }} {% trans "m" %}
        {% endif %}
    </td>
    <td>
        {% if object.created %}
        {{ object.created|naturalday}}
        {% endif %}
    </td>
    <td class="number">{{ object.tripcount }}</td>
</tr>

{%endfor %}
</table>
{% endblock content %}

