{% load i18n %}
{% load endless %}
{% load sorting_tags %}
{% load turan_extras %}
{% load humanize %}
{% autosort object_list %}
{% paginate object_list %}
{% for object in object_list %}
<tr class="{% cycle 'odd' 'even' %}">
    <td><a href="{{ object.get_absolute_url }}"><img src="{{ object.get_png_url }}"></a></td>
    <td>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
        <br>
        <p class="smaller">{{object.description}}</p>
    </td>
    <td class="number">{{ object.distance|floatformat }} km</td>
    <td class="number">
        {% if object.ascent %}
            {{ object.ascent }} {% trans "m" %}
        {% endif %}
    </td>
    <td class="number">
        {% if object.descent %}
            {{ object.descent }} {% trans "m" %}
        {% endif %}
    </td>
    <td>
        {% if object.created %}
        {{ object.created|naturalday}}
        {% endif %}
    </td>
    <td class="number">{{ object.tcount }}</td>
</tr>

{%endfor %}
{% show_more_table %}

