{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}

{% block title %}
{% trans "Cycle Trip" %}
{% endblock %}
{% block extra_head %}
{{ block.super }}
{% with object.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endblock %}
{% block extramenu %}
{% if user.is_authenticated %}
        <li class="right"><a href="{% url route_update object.id %}">{% trans "Modify" %}</a></li>
{% endif %}
{% endblock %}
{% block content %}

<div style="width:500px; height:500px; float: right;" id="map"></div>
<h1>
    <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
</h1>

{% include "turan/route/attributes.html" %}


{% comment %}
<ul class="buttons">
    <li>
    <a href="{% url trip_create %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/map_add.png" alt="{% trans "Add trip"%}" />
        {% trans "Add trip" %}
    </a>
    </li>
</ul>
{% endcomment %}
{% include "turan/tags.html" %}


{% with object.get_trips as trip_list %}
{% if trip_list %}
    <h3>{% trans "Average duration"%}</h3>
    <div id="avgspeeddiv" style="width:420px;height:200px"></div>
    <script id="source" language="javascript" type="text/javascript">
    $(function () {
            var d1 = { color: 5, data: [{{speeddataseries}}], }
            var options = { xaxis: { mode: "time", timeformat: "%y/%m/%d" }, yaxis: { min: 0, }, }
        $.plot($("#avgspeeddiv"), [d1], options);
    });
    </script>
    <form id="route_form">
    <h2>{% trans "Trips on this route" %}</h2>
    <input type="submit" value="{% trans "Compare"%}">
    <table>
        <tr>
            <th>{% trans "Select" %}</th>
            <th>{% trans "Exerciser" %}</th>
            <th>{% trans "Duration" %}</th>
            <th>{% trans "Avg HR" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Comment" %}</th>
        </tr>
        {% for trip in trip_list %}
        <tr>
	    <td><input type="checkbox" name="selected_routes" value="{{ trip.id }}"></td>
            <td>{{ trip.user }}</td>
            <td>{{ trip.duration }}</td>
            <td>{{ trip.avg_hr }}</td>
            <td><a href="{{ trip.get_absolute_url }}">{{trip.date|naturalday}}</a></td>
            <td>{{ trip.comment|slice:"90" }}</td>
        </tr>
        {% endfor %}
    </table>
    </form>
    <script language="javascript" type="text/javascript">
    $('#route_form').bind("submit", function (ev) {
        ev.preventDefault();
        var selectedIds = [];
        $(this.selected_routes).each(function (i, elem) {
            if (elem.checked) {
                selectedIds.push(elem.value);
            }
        });
        // todo.. yea this code is real bad. *sighface*
        document.location = "/turan/exercise/compare/" + selectedIds.join("/");
    });
    </script>
{% endif %}
{% endwith %}
<hr>
{% include "turan/commentform.html" %}
{% endblock content %}

