{% load i18n %}

<form class="navbar-search pull-right" id="search" action="{{ search_url }}" method="get">
    <div style="float: right">
        <input id="listSearch" type="text" name="q" value="{% trans "Search" %}" />
        <button type="submit">
            <img src="{{ MEDIA_URL }}pinax/img/silk/icons/zoom.png" />
        </button>
    </div>
</form>
<script type="text/javascript">
	$('#listSearch').bind("focus", function (evt) {
		if ($(this).val() == $(this).data("text")) {
			$(this).data("text", $(this).val());
			$(this).val("");
            $(this).animate({ width: '90px' }, 250);
		}
	});
	$('#listSearch').bind("blur", function (evt) {
		if ($(this).val().length == 0)
			$(this).val($(this).data("text"));
            $(this).animate({ width: '60px' }, 250);
	});
	$('#listSearch').data("text", $('#listSearch').val());
	$('#listSearch').attr("id", "listSearch-" + Math.random());

</script>

