{% load i18n %}

<form id="search" action="{{ search_url }}" method="get">
    <div style="float: right">
        <input id="listSearch" type="text" name="q" value="{% trans "Search" %}" />
        <button type="submit">{% trans "Search" %}</button>
    </div>
</form>
<script type="text/javascript">
	$('#listSearch').bind("focus", function (evt) {
		if ($(this).val() == $(this).data("text")) {
			$(this).data("text", $(this).val());
			$(this).val("");
		}
	});
	$('#listSearch').bind("blur", function (evt) {
		if ($(this).val().length == 0)
			$(this).val($(this).data("text"));
	});
	$('#listSearch').data("text", $('#listSearch').val());

</script>

