{% extends "turan/base.html" %}
{% load tagging_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load turan_extras %}

{% block title%}{% trans "Search" %}{%endblock%}
{% block content %}

<div class="page-header">
<h1>{% trans "Matches for search" %} {{ search_query }}</h1>
</div>

<div class="row">
{% if user_list %}
<div class="span4">
    <h2>{% trans "Users" %}</h2>
    <ul class="iconlist spacer">
        {% for user in user_list %}
        <li class="user"><a href="{{ user.get_absolute_url }}">{% avatar user 30 %}{{ user }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if exercise_list %}
<div class="span4">
    <h2>{% trans "Exercises" %}</h2>
    <div class="endless_page_template">
    <ul class="iconlist spacer">
        {% include "turan/search/exercise_page.html"%}
    </ul>
    </div>
</div>
{% endif %}
{% if route_list %}
<div class="span4 ">
    <h2>{% trans "Routes" %}</h2>
    <div class="endless_page_template">
        <ul class="iconlist spacer">
            {% include "turan/search/route_page.html"%}
        </ul>
    </div>
</div>
{% endif %}

{% if tag_list %}
<div class="span4 ">
    <h2>{% trans "Tags" %}</h2>
    <ul class="iconlist spacer">
        <li class="">
            <img alt="Tag" src="{{ MEDIA_URL }}pinax/img/silk/icons/tag_blue.png" class="noborder" />
        </li>
        {% for tag in tag_list %}
        <li class="{{ tag }}"><a href="/tags/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% if segment_list %}
<div class="span4 ">
<h2>{% trans "Segments" %}</h2>
<ul class="iconlist spacer">
        {% for segment in segment_list %}
        <li class=""><img widht="32" height="32" src="{{segment.get_png_url}}"><a href="{{ segment.get_absolute_url }}">{{ segment }}</a></li>
        {% endfor %}
</ul>
</div>
{% endif %}

</div>
<script type="text/javascript">
    var route_i = {{SLICE_SIZE}};
    var exercise_i = {{SLICE_SIZE}};
    var query = "{{ search_query }}";

    jQuery("#more_routes").bind("click", function(evt) {
       var ul = jQuery(this).prev();
       evt.preventDefault();
       jQuery.getJSON("/search", { "q": query, "start": route_i }, function(data) {
           for (k in data) {
               ul.append(data[k].fields.comment);
           }
       });
       route_i += {{SLICE_SIZE}};
    });
    jQuery("#more_exercises").bind("click", function(evt) {
       var ul = jQuery(this).prev();
       evt.preventDefault();
       jQuery.getJSON("/search", { "q": query, "start": exercise_i }, function(data) {
           for (k in data) {
               ul.append(data[k].fields.comment);
           }
       });
       exercise_i += {{SLICE_SIZE}};
    });
</script>
{% endblock %}
