{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load turan_extras %}
{% load turanwaka_tags %}
{% load avatar_tags %}
{% load sorting_tags %}
{% load endless %}
{% lazy_paginate slopes %}
        <table class="fullsize">
            <tr>
                <th>{% trans "CMP" %}</th>
                <th>{% trans "Trip" %}</th>
                <th>{% anchortrans exercise__user Exerciser %}</th>
                <th>{% anchortrans exercise__date "Date" %}</th>
                <th>{% anchortrans duration %}</th>
                <th>{% anchortrans avg_hr "Avg HR" %}</th>
                <th>{% anchortrans avg_speed "Avg Speed" %}</th>
                <th> {% anchortrans ascent "Ascent" %} </th>
            <th>{% anchortrans act_power "Power" %}</th>
            <th>{% anchortrans est_power "Power (est)" %}</th>
            <th>{% anchortrans power_per_kg "Avg power/kg" %}</th>
            <th>{% anchortrans vam "VAM" %}{{ "VeloAscMet"|wiki_help }}</th>
            <th>{% trans "Comment" %}</th>
            </tr>
            {% for object in slopes %}
            <tr class="{% cycle odd,even %} hoverpoint" id="trip_{{object.id}}">
                <td>
                    <input type="checkbox" name="selected_routes" value="{{ object.exercise.id }}-{{object.id}}">
                    <input type="hidden" id="start{{object.exercise.id}}-{{object.id}}" value="{{object.start|unlocalize}}">
                </td>
                <td>
                        {% if object.exercise.user == request.user or request.user.is_superuser %}
                        <a href="{% url segmentdetail_update object.id %}">
                        <img title="{% trans "Modify segment entry"%}" alt ="modify" src="{{ "wrench"|silk_icon}}">
                        </a>
                        <a href="{% url segmentdetail_delete object.id %}">
                        <img title="{% trans "Delete segment entry"%}" alt ="delete" src="{{ "cross"|silk_icon}}">
                        </a>
                        {% endif%}
                    <a href="{{ object.exercise.get_absolute_url }}#graph-zoom-{{object.start|unlocalize}}-{{object.end|unlocalize}}">
                        <img src="/site_media/pinax/img/silk/icons/zoom.png" />
                        {{ object.exercise.route|truncatechars:"15" }}
                    </a>
                </td>
                <td>
                    <a href="{{ object.exercise.user.get_absolute_url }}" title="{{ object.exercise.user }}">
                    {% avatar object.exercise.user 32 %}
                    </a>
                </td>
                <td><a href="{{ object.get_absolute_url }}">{{object.exercise.date|naturalday}}</a></td>
                <td>{{ object.duration|durationformatshort }}</td>
                <td>
                    {% if object.avg_hr and object.exercise.user.get_profile.max_hr %} {{ object.avg_hr|percent:object.exercise.user.get_profile.max_hr }} 
                    {% else%}
                    {% if object.avg_hr %}
                        {{ object.avg_hr }}&nbsp;bpm 
                    {% endif %}
                    {% endif %}
                </td>
                <td>{{ object.speed|floatformat }}&nbsp;{% trans "km/h" %}</td>
                <td>{{ object.ascent }} m</td>
        <td>{% if object.act_power%}{{object.act_power|floatformat}} {% trans "W" %} {% endif %}</td>
        <td>{{object.est_power|floatformat}} {% trans "W" %} </td>
        <td>{{object.power_per_kg|floatformat}}</td>
        <td>{% if object.vam %}{{object.vam}}{% endif %}</td>
        <td>
            {% if object.comment %}
            {{ object.comment|slice:"70" }}
            {% endif %}
        </td>
            </tr>
            {% endfor %}
</table>
    {% show_more %}
