{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load turan_extras %}

{% load avatar_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{% trans "Segment" %} : {{object}} {% if object.distance %} {{ object.distance|floatformat }} km {% endif %}{% if object.ascent %} {{ object.ascent|floatformat }} asc m {% endif %} {{ object.grade|floatformat }} %
{% endblock %}
{% block searchenginemeta %}
<meta name="description" content="{{object.description|truncatewords:20|escape}}" />
{% endblock %}
{% block extra_head %}
{{ block.super }}
{% with object.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endblock %}
{% block extramenu %}
{% if user.is_authenticated %}
        <li class="right"><a href="{% url segment_update object.id %}">{% trans "Modify" %}</a></li>
{% endif %}
{% endblock %}
{% block content %}

{% if object.gpx_file %}
<div class="mapcontainer"><div class="map drop-shadow raised" id="map"></div>
        <a href="{{MEDIA_URL}}turan/{{ object.gpx_file }}" class="detailsShareBoxButton gpxFile">{% trans "GPX File" %}</a>
    </div>
{% endif %}

<h1>
    {{ object.name }}
</h1>
<div class="spacer">
{% include "turan/segment/attributes.html" %}
</div>
{% if slopes %}
<h2>{% trans "Best efforts" %}</h2>
<div class="toplist">
<ol>
{% for object in slopes|slice:":3" %}
    <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> 
<a href="{{ object.exercise.user.get_absolute_url }}" title="{{ object.exercise.user }}">
{% avatar object.exercise.user 32 %}
</a>{{ object.duration|durationformatshort}}, {{object.exercise.date}}
</li>
{% endfor %}
</ol>
</div>
{% endif %}
<ul class="photos hlist">
    {% for photo in object.get_photos %}
    <li>
        <a title="{{ photo.title }}" href="{{ photo.get_absolute_url }}">
            <img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" />
        </a>
    </li>
    {% endfor %}
</ul>
<hr class="clearleft" />

{% include "turan/tags.html" %}

<hr class="clearleft" />
{% with slopes as object_list %}
{% autosort object_list %}
{% autopaginate object_list %}
{% if object_list %}
    <h2>{% trans "Duration graph" %}</h2>
    <div id="durationdiv" style="width:460px;height:100px"></div>
    <script id="source" language="javascript" type="text/javascript">
$(function () {

    var times = [
        {% for user, series in usertimes.items %}
        {% if series %}
            {
                label: "{{user}}",
                bars: { show: true },
                data: [{{series}}],
                color: {{ forloop.counter }}
            },
        {% endif %}
        {% endfor %}
    ];
    var options = { 
        xaxis: { mode: "time", timeformat: "%y/%m/%d" }, 
        yaxis: { tickFormatter: axisformatters.duration },
        legend: {
            position: "sw",
            noColumns: 0,
            },
        }
        $.plot($("#durationdiv"), times, options);
    });
    </script>
    {% include "turan/altitude_profile.html" %}
    <div id="gradientzonediv" style="width: 1000px; height:200px"></div>
    {% include "turan/exercise/gradient_tab.html" %}
    <form id="route_form">
    <h2>{% trans "Rides on this segment" %}</h2>
    <input type="submit" value="{% trans "Compare"%}">
{% if request.user.username %}
<a href="?username={{request.user.username}}"><button>{% trans "My results" %}</button></a>
{% endif %}

    <table class="fullsize">
        <tr>
            <th></th>

            <th>{% trans "CMP" %}</th>
            <th>{% trans "Trip" %}</th>
            <th>{% anchortrans exercise__user Exerciser %}</th>
            <th>{% anchortrans exercise__date "Date" %}</th>
            <th>{% anchortrans duration %}</th>
            <th>{% anchortrans avg_hr "Avg HR" %}</th>
            <th>{% anchortrans avg_speed "Avg Speed" %}</th>
            <th> {% anchortrans ascent "Ascent" %} </th>
        <th>{% anchortrans act_power "Avg power (actual)" %}</th>
        <th>{% anchortrans est_power "Avg power (est)" %}</th>
        <th>{% anchortrans power_per_kg "Avg power/kg" %}</th>
        <th>{% anchortrans vam "VAM" %}</th>
        <th>{% trans "Comment" %}</th>
        </tr>
        {% for object in object_list %}
        <tr class="{% cycle odd,even %} hoverpoint" id="trip_{{object.id}}">
            <td>
                    {% if object.exercise.user == request.user or request.user.is_superuser %}
                    <a href="{% url segmentdetail_update object.id %}">
                    <img title="{% trans "Modify segment entry"%}" alt ="modify" src="{{ "wrench"|silk_icon}}">
                    </a>
                    <a href="{% url segmentdetail_delete object.id %}">
                    <img title="{% trans "Delete segment entry"%}" alt ="delete" src="{{ "cross"|silk_icon}}">
                    </a>
                    {% endif%}
            </td>
            <td>
                <input type="checkbox" name="selected_routes" value="{{ object.exercise.id }}-{{object.id}}">
                <input type="hidden" id="start{{object.exercise.id}}-{{object.id}}" value="{{object.start|unlocalize}}">
            </td>
            <td>
                <a href="{{ object.exercise.get_absolute_url }}#graph-zoom-{{object.start|unlocalize}}-{{object.end|unlocalize}}">
                    <img src="/site_media/pinax/img/silk/icons/zoom.png" />
                    {{ object.exercise.route|truncatechars:"15" }}
                </a>
            </td>
            <td>
                <a href="{{ object.exercise.user.get_absolute_url }}" title="{{ object.exercise.user }}">
                {% avatar object.exercise.user 32 %}
                </a>
            </td>
            <td><a href="{{ object.get_absolute_url }}">{{object.exercise.date|naturalday}}</a></td>
            <td>{{ object.duration|durationformatshort }}</td>
            <td>
                {% if object.avg_hr and object.exercise.user.get_profile.max_hr %} {{ object.avg_hr|percent:object.exercise.user.get_profile.max_hr }} 
                {% else%}
                {% if object.avg_hr %}
                    {{ object.avg_hr }}&nbsp;bpm 
                {% endif %}
                {% endif %}
            </td>
            <td>{{ object.speed|floatformat }}&nbsp;{% trans "km/h" %}</td>
            <td>{{ object.ascent }} m</td>
    <td>{% if object.act_power%}{{object.act_power|floatformat}} {% trans "W" %} {% endif %}</td>
    <td>{{object.est_power|floatformat}} {% trans "W" %} </td>
    <td>{{object.power_per_kg|floatformat}}</td>
    <td>{% if object.vam %}{{object.vam}}{% endif %}</td>
    <td>
        {% if object.comment %}
        {{ object.comment|slice:"70" }}
        {% endif %}
    </td>
        </tr>
        {% endfor %}
    </table>
    </form>
    <script language="javascript" type="text/javascript">
    $('#route_form').bind("submit", function (ev) {
        ev.preventDefault();
        var selectedIds = [];
        var selectedSegmentIds = [];
        var selectedStarts = [];
        $(this.selected_routes).each(function (i, elem) {
            if (elem.checked) {
                var object_id = elem.value.split('-')[0];
                var segment_id = elem.value.split('-')[1];
                selectedIds.push(object_id);
                selectedSegmentIds.push(segment_id);
            }
        });
        var player_url =  "/play/exercise/?id=" + selectedIds.join("&id=");
        // Then add hash for start
        player_url += '#';
        var index=0;
        for(id in selectedIds) {
            var hashstr = 'start-' + index + '-' + $('#' + 'start' + selectedIds[id] + '-' + selectedSegmentIds[index]).val();
            selectedStarts.push (hashstr);
            index++;
        }
        player_url += selectedStarts.join(',')
        document.location = player_url;

    });
    </script>
{% paginate %}
{% endif %}
{% endwith %}
{% endblock content %}

