{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{% trans "Segment list" %}
{% endblock %}
{% block content %}

{% autosort object_list %}
{% autopaginate object_list %}


<h1>
    {% trans "Segment list" %}
</h1>
<div class="floatright" style="clear: right;">
{% paginate %}
</div>
<p>{% trans "Segments are parts of exercises that are public and shared between exercisers. You can for example "%}<a href="{% url segment_create %}">{% blocktrans %}create a segment</a> for your favourite climb, and then using GPS data Turan will find all rides for the segment and list the ride. Use this to compete with yourself or others.{% endblocktrans %}</p>

<table class="fullsize">
    <tr>
        <th>{% trans "Plot" %}</th>
        <th>
            {% anchortrans Name %}
        </th>
        <th>
            {% anchortrans distance "Distance" %}
        </th>
        <th>
            {% anchortrans ascent "Ascent" %}
        </th>
        <th>
            {% anchortrans grade "Incline" %}
        </th>
        <th>
            {% anchortrans category "Category" %}
        </th>
        <th>
            {% anchortrans tcount "Count" %}
        </th>
    </tr>
{% for object in object_list %}
<tr class="{% cycle even,odd %}" id="object_{{object.id}}">
    <td><img src="{{ object.get_png_url }}"></td>
    <td><a class="title" href="{{ object.get_absolute_url }}">{{object.name}}</a>
        <p class="smaller">{{object.description}}</p>
    </td>
    <td>{{ object.distance|floatformat }} {% trans "km" %} </td>
    <td>{{object.ascent}} {% trans "m" %}</td>
    <td>{{object.grade|floatformat}} %</td>
    <td><div class="slope-categories slope-category-{{object.category}}"><span>{{object.category}}</span></div></td> 
    <td>{{object.tcount}}</td>
</tr>
{%endfor %}
</table>
{% paginate %}
<hr>
<p>
<a href="{% url segment_create %}">{% trans "Create new segment" %}</a>
</p>
<hr>
{% endblock content %}

