{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% load turan_extras %}

{% load avatar_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{% trans "Segment" %} : {{object}} {% if object.distance %} {{ object.distance|floatformat }} km {% endif %}{% if object.ascent %} {{ object.ascent|floatformat }} asc m {% endif %}
{% endblock %}
{% block searchenginemeta %}
<meta name="description" content="{{object.description|truncatewords:20|escape}}" />
{% endblock %}
{% block extra_head %}
{{ block.super }}
{% with object.gpx_file as gpx_file %}
    {% include "turan/maphead.html" %}
{% endwith %}
{% endblock %}
{% block extramenu %}
{% if user.is_authenticated %}
        <li class="right"><a href="{% url segment_update object.id %}">{% trans "Modify" %}</a></li>
{% endif %}
{% endblock %}
{% block content %}

<div style="width:500px; height:500px; float: right;" id="map"></div>
<h1>
    {{ object.name }}
</h1>
<div class="box spacer">
{% include "turan/segment/attributes.html" %}
</div>
<ul class="photos hlist">
    {% for photo in object.get_photos %}
    <li>
        <a title="{{ photo.title }}" href="{{ photo.get_absolute_url }}">
            <img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" />
        </a>
    </li>
    {% endfor %}
</ul>
<hr class="clearleft" />

{% include "turan/tags.html" %}

<hr class="clearleft" />
{% with object.get_slopes as object_list %}
{% autosort object_list %}
{% autopaginate object_list %}
{% if object_list %}
    <h2>{% trans "Duration" %}</h2>
    <div id="durationdiv" style="width:420px;height:200px"></div>
    <script id="source" language="javascript" type="text/javascript">
$(function () {

    var times = [
        {% for user, series in usertimes.items %}
        {% if series %}
            {
                label: "{{user}}",
                bars: { show: true },
                lines: { show: true },
                data: [{{series}}],
                color: {{ forloop.counter }}
            },
        {% endif %}
        {% endfor %}
    ];
    var options = { 
        xaxis: { mode: "time", timeformat: "%y/%m/%d" }, 
        yaxis: { tickFormatter: durationFormatter  },
        legend: {
            position: "sw",
            noColumns: 0,
            },
        }
        $.plot($("#durationdiv"), times, options);
    });
    </script>
    <h2 style="clear: both">{% trans "Altitude profile" %}</h2>
    <div id="altdiv" style="height: 200px"></div>
<script id="source" language="javascript" type="text/javascript">
    {% localize off %}
    var alt = { data: [{{ alt }}], color: 3, lines: { fill: 0.7 } };
    var options = { yaxes:[{}, { min: 0, max: {{ alt_max }}, }], };
$.plot($("#altdiv"), [alt], options);
    {% endlocalize%}
</script>
    <h2 style="clear: both">{% trans "Gradients" %}</h2>
    <div id="gradientzonediv" style="width: 1000px; height:200px; float: right;"></div>
    <div id="gradientzonetable" style="width:1px; height: 200px;"></div>
    {% include "turan/exercise/gradient_tab.html" %}
    <form id="route_form">
    <h2>{% trans "Rides on this segment" %}</h2>
    <input type="submit" value="{% trans "Compare"%}">
    <table class="fullsize">
        <tr>
            <th></th>

            <th>{% trans "CMP" %}</th>
            <th>{% trans "Trip" %}</th>
            <th>{% anchortrans object.exercise.user Exerciser %}</th>
            <th>{% anchortrans date %}</th>
            <th>{% anchortrans duration %}</th>
            <th>{% anchortrans avg_hr "Avg HR" %}</th>
            <th>{% anchortrans avg_speed "Avg Speed" %}</th>
            <th> {% anchortrans ascent "Ascent" %} </th>
        <th> {% anchortrans act_power "Avg power (actual)" %} </th>
        <th> {% anchortrans est_power "Avg power (est)" %} </th>
        <th> {% anchortrans power_per_kg "Avg power/kg" %} </th>
        <th> {% anchortrans vam "VAM" %} </th>
        <th>{% trans "Comment" %}</th>
        </tr>
        {% for object in object_list %}
        <tr class="{% cycle odd,even %} hoverpoint" id="trip_{{object.id}}">
            <td>
                    {% ifequal object.exercise.user request.user %}
                    <a href="{% url segmentdetail_update object.id %}">
                    <img title="{% trans "Modify segment entry"%}" alt ="modify" src="{{ "wrench"|silk_icon}}">
                    </a>
                    <a href="{% url segmentdetail_delete object.id %}">
                    <img title="{% trans "Delete segment entry"%}" alt ="delete" src="{{ "cross"|silk_icon}}">
                    </a>
                    {% else %}
                    {% if user.is_superuser %}
                    <a href="{% url segmentdetail_update object.id %}">
                    <img title="{% trans "Modify segment entry"%}" alt ="modify" src="{{ "wrench"|silk_icon}}">
                    </a>
                    <a href="{% url segmentdetail_delete object.id %}">
                    <img title="{% trans "Delete segment entry"%}" alt ="delete" src="{{ "cross"|silk_icon}}">
                    </a>
                    {% endif%}
                    {% endifequal %}
            </td>
            <td>
                <input type="checkbox" name="selected_routes" value="{{ object.id }}"></td>
            <td>
                <a href="{{ object.exercise.get_absolute_url }}">
                {{ object.exercise.route }}
                    <img src="/site_media/pinax/img/silk/icons/zoom.png" />
                </a>
            </td>
            <td>
                <a href="{{ object.exercise.user.get_absolute_url }}" title="{{ object.exercise.user }}">
                {% avatar object.exercise.user 32 %}
                </a>
            </td>
            <td><a href="{{ object.get_absolute_url }}">{{object.exercise.date|naturalday}}</a></td>
            <td>{{ object.duration|durationformat }}</td>
            <td>
                {% if object.avg_hr and object.exercise.user.get_profile.max_hr %} {{ object.avg_hr|percent:object.exercise.user.get_profile.max_hr }} 
                {% else%}
                {{ object.avg_hr }}&nbsp;bpm 
                {% endif %}
            </td>
            <td>{{ object.speed|floatformat }}&nbsp;{% trans "km/h" %}</td>
            <td>{{ object.ascent }} m</td>
    <td>{% if object.act_power%}{{object.act_power|floatformat}} {% trans "W" %} {% endif %}</td>
    <td>{{object.est_power|floatformat}} {% trans "W" %} </td>
    <td>{{object.power_per_kg|floatformat}}</td>
    <td>{% if object.vam %}{{object.vam}}{% endif %}</td>
    <td>
        {% if object.comment %}
        {{ object.comment|slice:"70" }}
        {% endif %}
    </td>
        </tr>
        {% endfor %}
    </table>
    </form>
    <script language="javascript" type="text/javascript">
    $('#route_form').bind("submit", function (ev) {
        ev.preventDefault();
        var selectedIds = [];
        $(this.selected_routes).each(function (i, elem) {
            if (elem.checked) {
                selectedIds.push(elem.value);
            }
        });
        // todo.. yea this code is real bad. *sighface*
        document.location = "/turan/exercise/compare/" + selectedIds.join("/");
    });
    </script>
{% paginate %}
{% endif %}
{% endwith %}
<hr>
{% include "turan/commentform.html" %}
{% endblock content %}

