{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{{ block.super }}
{% trans "Segment" %}
{% endblock %}
{% block content %}
<div class="page-header">
{% if object %}
<h1>{% trans "Segment modification" %}</h1>
{% else %}
<h1>{% trans "Add segment" %}</h1>
<p>{% trans "Note: if this is a new segment you will first have to create a segment" %}.</p>
<a class="btn" href="{% url segment_create %}">{% trans "Create new segment" %}</a>
{% endif %}
</div>
<form class="uniForm" enctype="multipart/form-data" method="post">
{{ form|as_crispy_form}}
</table>
<div class="form-actions">
<input class="btn btn-primary btn-large" type="submit" value="{% trans "Save segment" %}" />
</div>
</form>
{% endblock content %}
