{% extends "turan/base.html" %}
{% load turanwaka_tags %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{% trans "Segment list" %}
{% endblock %}
{% block body_class%}segments{% endblock %}
{% block content %}

{% autosort object_list %}
{% autopaginate object_list %}


<h1>
    {% trans "Segment list" %}
</h1>
<div class="floatright" style="clear: right;">
{% paginate %}
</div>
<ul class="buttons">
    <li class="floatleft">
        <a href="{% url segment_create %}">
            <img alt="Segment" src="{{MEDIA_URL}}pinax/img/silk/icons/shape_rotate_clockwise.png">
            {% trans "Create new segment" %}
        </a>
        {{ "WhatAreSegments"|wiki_help }}
    </li>
</ul>


<table class="fullsize">
    <tr>
        <th>{% trans "Plot" %}</th>
        <th>
            {% anchortrans name %}
        </th>
        <th>
            {% anchortrans distance "Distance" %}
        </th>
        <th>
            {% anchortrans ascent "Ascent" %}
        </th>
        <th>
            {% anchortrans grade "Incline" %}
        </th>
        <th>
            {% anchortrans category "Category" %}
            {{ "SlopeCategory"|wiki_help }}
        </th>
        <th>
            {% anchortrans tcount "Count" %}
        </th>
    </tr>
{% for object in object_list %}
<tr class="{% cycle even,odd %}" id="object_{{object.id}}">
    <td><img src="{{ object.get_png_url }}"></td>
    <td>
        <div class="toplist">
            <ol style="float: right">
            {% for user in object.get_toplist %}
                <li style="width: 140px" class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> 
                    <p class="smaller">
                        <span class="duration">
                            {{ user.duration|durationformatshort}}
                        </span>
                        <a href="{{ user.get_absolute_url }}" title="{{ user }}">
                            {{ user }}
                        </a>
                    </p>
                </li>
            {% endfor %}
            {% with object.get_latest|slice:"1" as latest_list %}
            {% for latest in latest_list %}
            <li style="width: 140px; margin-left: -22px" class="floatleft">
                <p class="smaller">
                    {% trans "Newest" %}:
                    {{ latest.duration|durationformatshort}}:
                        <a href="{{ latest.exercise.get_absolute_url }}">
                            {{ latest.exercise.user}}
                        </a>
                </p>
            </li>
            {% endfor %}
            {% endwith %}
            </ol>
        </div>
        <h4><a class="title" href="{{ object.get_absolute_url }}">{{object.name}}</a></h4>
        <span class="smaller">{{object.description}}</span>
    </td>
    <td>{{ object.distance|floatformat }} {% trans "km" %} </td>
    <td>{{object.ascent}} {% trans "m" %}</td>
    <td>{{object.grade|floatformat}} %</td>
    <td><div class="slope-categories slope-category-{{object.category}}"><span>{{object.category}}</span></div></td> 
    <td>{{object.tcount}}</td>
</tr>
{%endfor %}
</table>
<hr>
{% paginate %}
{% endblock content %}

