{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load sorting_tags %}
{% block title %}
{% trans "Segment efforts" %}
{% endblock %}
{% block content %}

{% autosort object_list %}
{% autopaginate object_list %}

<div class="page-header">

    <h1>
        {% trans "Segment efforts" %}
    </h1>
    {% include "turan/search_head.html" %}

    {% if search_query %}
    <h4>{% trans "Search results for " %}{{search_query}} <a class="remove" title="{% trans "Clear search query" %}" href="{% url segmentdetails %}">[X]</a></h4>
    {% endif %}
        <ul class="">
            {% include "turan/geolocation.html" %}
    {% if request.user.username %}
            <li class="btn floatleft">
                {% if not username %}
                <a class="" href="{% url segmentdetails %}?username={{request.user.username}}">{% trans "My segment efforts" %}</a>
                {% else %}
                <a class="" href="{% url segmentdetails %}">{% trans "All segment efforts" %}</a>
                {% endif %}
            </li>
    {% endif %}
        </ul>
</div>
<table class="fullsize">
    <tr class="{% cycle odd,even %}">
        <th>
            {% anchortrans exercise__user User %}
        </th>
        <th>
            {% anchortrans segment %}
        </th>
        <th>
            {% anchortrans exercise %}
        </th>
        <th>
            {% anchortrans length "Length" %}
        </th>
        <th>
            {% anchortrans ascent "Ascent" %}
        </th>
        <th>
            {% anchortrans grade "Grade" %}
        </th>
        <th>
            {% anchortrans duration "Duration" %}
        </th>
        <th>
            {% anchortrans speed "Speed" %}
        </th>
        <th>
            {% anchortrans act_power "Avg power (actual)" %}
        </th>
        <th>
            {% anchortrans est_power "Avg power (est)" %}
        </th>
        <th>
            {% anchortrans power_per_kg "Avg power/kg" %}
        </th>
        <th>
            {% anchortrans vam "VAM" %}
        </th>
        <th>
            {% anchortrans category %}
        </th>
        <th>
            {% anchortrans avg_hr "Avg HR" %}
        </th>
    </tr>
{% for object in object_list %}
<tr class="{% cycle even,odd %}" id="object_{{object.id}}">
    <td><a href="{{ object.exercise.user.get_absolute_url }}" title="{{ object.exercise.user }}"> {% avatar object.exercise.user 32 %} </a></td>
    <td><a href="{{ object.segment.get_absolute_url }}">{{object.segment}}<a></td>
    <td><a href="{{object.exercise.get_absolute_url}}">{{object.exercise.route}}</a></td>
    <td>{{ object.length|divide:"1000" }} {% trans "km" %} </td>
    <td>{{object.ascent}} {% trans "m" %}</td>
    <td>{{object.grade|floatformat}} %</td>
    <td>{{ object.duration|durationformatshort }}</td>
    <td>{{object.speed|floatformat}}</td>
    <td>{% if object.act_power%}{{object.act_power|floatformat}} {% trans "W" %} {% endif %}</td>
    <td>{{object.est_power|floatformat}} {% trans "W" %} </td>
    <td>{{object.power_per_kg|floatformat}}</td>
    <td>{% if object.vam %}{{object.vam}}{% endif %}</td>
    <td><div class="categorybutton"><span>{{object.category}}</span></div></td> 
    <td>{% if object.avg_hr%}{{object.avg_hr|floatformat}}
        {% if object.exercise.user.get_profile.max_hr %}
        ({{ object.avg_hr|percent:object.exercise.user.get_profile.max_hr }})
        {% endif %}{%endif%}</td>
</tr>
{%endfor %}
</table>
{% paginate %}
{% endblock content %}

