{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{ block.super }}
{% trans "Statistics" %}
{% endblock %}
{% block searchenginemeta %}
<meta name="description" content="{% trans "Lists of the fastest, most hard working and strongest exercisers" %}" />
{% endblock %}
{% block content %}
<div class="page-header">
    <h1> {% trans "Exercise Statistics" %} <small>{{now.year}} {{ month|default:"" }}</small></h1>
<div class="floatright">
    <h2>{% trans "Month" %}</h2>
    <div class="btn-group">
    <a class="btn" href="{% url statistics-month previous_month.year previous_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/date_previous.png" alt="{% trans "Previous"%}" />
        {% trans "Previous" %}
    </a>
    <a class="{% if now.month == month %}disabled {% endif %}btn" href="{% url statistics-month now.year now.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/date_magnify.png" alt="{% trans "Current month"%}" />
        {% trans "Current" %}
    </a>
    <a class="btn" href="{% url statistics-month next_month.year next_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/date_next.png" alt="{% trans "Next"%}" />
        {% trans "Next" %}
    </a>
    </div>
</div>
    <h3>{% trans "Filter by team" %}</h3>
    <div class="btn-group">
        {% for team in team_list %}
            <a class="btn" href="{% url statistics%}/?team={{team.slug}}">{{team}}</a> 
        {% endfor %}
    </div>
</div>
<div class="">
<h3>{% trans "Filter by exercise type" %} </h3>
<div class="btn-group">
{% for et in exercisetypes %}
{% if et.icon %}
<a class="btn" href="{% url statistics-year now.year %}?exercise={{et.name}}"><img alt="{{et}}" title="{{et}}" style="height:32px; width: 32px;" src="{{ et.icon}}"></a>
{% endif %}
{% endfor %}
</div>
</div>

<div class="toplist" >

    <div class="time_and_length">
        <div class="well">
            <h5> {% trans "Number of trips" %} </h5>
            <ol>
                {% for u in numtrips %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.num_trips|floatformat}}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">
            <h5> {% trans "Total duration" %} </h5>
            <ol>
                {% for u in dursums %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_duration|retarddurationformat}}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">
            <h5> {% trans "Total distance" %} </h5>
            <ol>
                {% for u in distsums %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_distance|floatformat }} {% trans "km" %}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">
            <h5> {% trans "Average trip length" %} </h5>
            <ol>
                {% for u in lengthstats %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avglen|floatformat }} {% trans "km" %}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="time_and_length">
        <div class="well">
            <h5> {% trans "Highest average speed for trip" %} </h5>
            <ol>
                {% for u in maxavgspeeds %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.max_avg_speed|floatformat }} {% trans "km/h" %}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">
            <h5> {% trans "Average speed for all trips" %} </h5>
            <ol>
                {% for u in avgspeeds %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avg_avg_speed|floatformat }} {% trans "km/h" %}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">
            <h5> {% trans "Highest speeds" %} </h5>
            <ol>
                {% for u in maxspeeds %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.max_speed|floatformat }} {% trans "km/h" %}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">

        <h5> {% trans "Most energy consumed" %} </h5>
            <ol>
                {% for u in energysums %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_energy }} {% trans "kcal" %} ({{u.sum_energy|bodyfat|floatformat}} kg {% trans "bodyfat" %})</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="time_and_length">
        <div class="well">
            <h5> {% trans "Highest average HR" %} </h5>
            <ol>
                {% for u in avgavghrs %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {% if u.avg_avg_hr %} {{ u.avg_avg_hr|floatformat}} {% trans "BPM" %} ( {{u.avg_avg_hr|percent:u.max_hr}}  ) {% endif %}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">

            <h5> {% trans "Highest average Normalized Power" %} </h5>
            <ol>
                {% for u in avgnormalizedpower %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span>{{ u.avg_normalized_power|floatformat }} W</li>
                {% endfor %}
            </ol>
            
        </div>
        <div class="well">
            <h5> {% trans "Top climbers" %} </h5>
            <ol>
                {% for u in ascentsums %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_ascent }} {% trans "m" %} </li>
                {% endfor %}
            </ol>
        </div>
        <div class="well">
            <h5> {% trans "Steepest average grade" %} </h5>
            <ol>
                {% for u in climbstats %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avgclimb|floatformat }} {% trans "m" %}/{% trans "km" %} </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="time_and_length">
        <div class="well">

            <h5> {% trans "Highest maximum Normalized Power" %} </h5>
            <ol>
                {% for u in maxnormalizedpower %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span>{{ u.max_normalized_power|floatformat }} W</li>
                {% endfor %}
            </ol>
            
        </div>
        <div class="well">

            <h5> {% trans "Highest average pedaling power" %} </h5>
            <ol>
                {% for u in avgpedalingpower %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span>{{ u.avg_avg_pedaling_power|floatformat }} W</li>
                {% endfor %}
            </ol>
            
        </div>
        <div class="well">

            <h5> {% trans "Highest maximum pedaling power" %} </h5>
            <ol>
                {% for u in maxnormalizedpower %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span>{{ u.max_avg_pedaling_power|floatformat }} W</li>
                {% endfor %}
            </ol>
            
        </div>
        <div class="well">
            <h5> {% trans "Fastest average climb" %} </h5>
            <ol>
                {% for u in climbstatsbytime %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avgclimbperhour|floatformat }} {% trans "m" %}/{% trans "hour" %} </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="time_and_length">
        <div class="well">

        {% for i, hrzone in hrzonestats %}
            <h5> {% trans "Highest time in Zone "%}
                {{i}}
            </h5>
            <ol>
            {% for zone in hrzone|slice:":10" %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> 
                <span class="label">{{ zone }}:</span>   
                {{zone.duration|durationformat}}
            </li>
            {% endfor %}
            </ol>
        {% endfor %}
        </div>
        <div class="well">

            <h5> {% trans "Highest Max Power" %} </h5>
            <ol>
                {% for u in maxpowers %}
                <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span>{{ u.max_max_power }} W</li>
                {% endfor %}
            </ol>
            {% for i, best in bestest_power %}
                {% for b, power_per_kg in best|slice:":10" %}
                {% if forloop.first %}
                <h5> {% trans "Top Power Best Efforts for "%}
                    {{i|durationformat}}
                </h5>
                <ol>
                {% endif %}
                    <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ b }}:</span>   
                    {{b.max_power}} {% trans "W" %},
                    {{power_per_kg|floatformat}} {% trans "W/kg" %}
                </li>
                {% endfor %}
                </ol>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
	var labels = $('ol span.label');
	labels.bind("click", function(ev) {
		var clickedLabel = $(this);
		var selectedLabels = labels.filter(function (i) { if ($(this).text() == clickedLabel.text()) return true; })
		if ($(this).hasClass('selected'))
			selectedLabels.removeClass('selected');
		else {
			labels.removeClass('selected');
			selectedLabels.addClass('selected');
		}

	});
</script>

{% endblock content %}
