{% extends "turan/base.html" %}
{% load humanize %}
{% load i18n %}
{% load turan_extras %}
{% block title %}
{{ block.super }}
{% trans "Statistics" %}
{% endblock %}
{% block content %}
<div class="half floatright">
<h3>{% trans "Filter by team" %}</h3>
<ul>
    <li><a href="{% url statistics%}">{% trans "No filter" %}</a></li> 
    {% for team in team_list %}
    <li><a href="{% url statistics%}/?team={{team.slug}}">{{team}}</a></li> 
    {% endfor %}
</ul>
</div>
<h2>{% trans "Month" %}</h2>
<ul class="buttons">
    <li>
    <a href="{% url statistics-month previous_month.year previous_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/date_previous.png" alt="{% trans "Previous"%}" />
        {% trans "Previous" %}
    </a>
    <a href="{% url statistics-month next_month.year next_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/images/silk/icons/date_next.png" alt="{% trans "Next"%}" />
        {% trans "Next" %}
    </a>
    </li>
</ul>
<h3>{% trans "Filter by exercise type" %}</h3>
<table>
    <tr>
    <td> <a href="{% url statistics-year now.year %}?exercise=alpin"><img alt="{% trans "Alpine Skier"%}" style="float:left" src="{{MEDIA_URL}}turan/downhill.jpg"></a> </td>
    <td> <a href="{% url statistics-year now.year %}?exercise=langrenn"><img alt="{% trans "Cross Country Skiing"%}" style="float:left;height:62px" src="{{MEDIA_URL}}turan/skiing.png"></a> </td>
    <td> <a href="{% url statistics-year now.year %}?exercise=cycling"><img alt="{% trans "Cyclist"%}" style="float:left" src="{{MEDIA_URL}}turan/cyclist.png"></a> </td>
    <td> <a href="{% url statistics-year now.year %}?exercise=Running"><img alt="{% trans "Hiker"%}" style="float:left" src="{{MEDIA_URL}}turan/hiker.png"></a> </td>
    <td> <a href="{% url statistics-year now.year %}?exercise=rollers"><img alt="{% trans "Roller"%}" style="float:left;height:62px" src="{{MEDIA_URL}}turan/rollers.jpg"></a> </td>
    <td> <a href="{% url statistics-year now.year %}?exercise=skating"><img alt="{% trans "Speedskater"%}" style="float:left;height:62px" src="{{MEDIA_URL}}turan/speedskating.gif"></a> </td>
    <td> <a href="{% url statistics-year now.year %}?exercise=spinning"><img alt="{% trans "Spinning"%}" style="float:left" src="{{MEDIA_URL}}turan/spinning.jpg"></a> </td>
    <td> <a href="{% url statistics-year now.year %}?exercise=svømming"><img alt="{% trans "Swimming"%}" style="float:left" src="{{MEDIA_URL}}turan/swimming.jpg"></a> </td>
    </tr>
</table>
{% comment %}
<ul>
    <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"><span class="label">{% trans "Total Duration"%}:</span> {{ total_duration|retarddurationformat }}</li>
    <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"><span class="label">{% trans "Total Distance"%}:</span> {{ total_distance|floatformat }} {% trans "km" %} </li>
    <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"><span class="label">{% trans "Total Avg Speed"%}:</span> {{ total_avg_speed|floatformat }} {% trans "km/h" %}</li>
    <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"><span class="label">{% trans "Total exercise count"%}:</span> {{ exercise_count}} {% trans "trips" %}</li>
    <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"><span class="label">{% trans "Longest trip"%}:</span> {{ longest_trip}} {% trans "km" %}</li>
</ul>
<hr class="clear">

<div class="toplist hike half floatright">
    <h2> {% trans "Hike statistics" %} </h2>
    <h3> {% trans "Highest average speed for trip" %} </h3>
    <ol>
        {% for u in hike_maxavgspeeds %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_max_avg_speed|floatformat }} {% trans "km/h" %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Highest speeds" %} </h3>
    <ol>
        {% for u in hike_maxspeeds %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_max_speed|floatformat }} {% trans "km/h" %}</li>
        {% endfor %}
    </ol>
    <h3> {% trans "Average speed for all trips" %} </h3>
    <ol>
        {% for u in hike_avgspeeds %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_avg_avg_speed|floatformat }} {% trans "km/h" %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Number of trips" %} </h3>
    <ol>
        {% for u in hike_numtrips %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_num_trips|floatformat}}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Longest total distance" %} </h3>
    <ol>
        {% for u in hike_distsums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_sum_distance|floatformat }} {% trans "km" %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Average hike length" %} </h3>
    <ol>
        {% for u in hike_lengthstats %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avglen|floatformat }} {% trans "km" %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Most time hiking" %} </h3>
    <ol>
        {% for u in hike_dursums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_sum_duration|retarddurationformat}}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Most energy consumed" %} </h3>
    <ol>
        {% for u in hike_energysums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_sum_energy }} {% trans "kcal" %} ({{u.hike_sum_energy|bodyfat|floatformat}} kg {% trans "bodyfat" %})</li>
        {% endfor %}
    </ol>


    <h3> {% trans "Highest average HR" %} </h3>
    <ol>
        {% for u in hike_avgavghrs %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_avg_avg_hr|floatformat}} {% trans "BPM" %} ( {{u.hike_avg_avg_hr|percent:u.max_hr}}  )</li>
        {% endfor %}
    </ol>
    <h3> {% trans "Top climbers" %} </h3>
    <ol>
        {% for u in hike_ascentsums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.hike_sum_ascent }} {% trans "m" %} </li>
        {% endfor %}
    </ol>

    <h3> {% trans "Steepest average grade" %} </h3>
    <ol>
        {% for u in hike_climbstats %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avgclimb|floatformat }} {% trans "m" %}/{% trans "km" %} </li>
        {% endfor %}
    </ol>

    <h3> {% trans "Fastest average climb" %} </h3>
    <ol>
        {% for u in hike_climbstatsbytime %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avgclimbperhour|floatformat }} {% trans "m" %}/{% trans "hour" %} </li>
        {% endfor %}
    </ol>
</div>

{% endcomment %}
<div class="toplist half">
    <h2> {% trans "Exercise Statistics" %} </h2>
    <h3> {% trans "Total distance" %} </h3>
    <ol>
        {% for u in distsums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_distance|floatformat }} {% trans "km" %}</li>
        {% endfor %}
    </ol>
    <h3> {% trans "Highest average speed for trip" %} </h3>
    <ol>
        {% for u in maxavgspeeds %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.max_avg_speed|floatformat }} {% trans "km/h" %}</li>
        {% endfor %}
    </ol>
    <h3> {% trans "Average speed for all trips" %} </h3>
    <ol>
        {% for u in avgspeeds %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avg_avg_speed|floatformat }} {% trans "km/h" %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Highest speeds" %} </h3>
    <ol>
        {% for u in maxspeeds %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.max_speed|floatformat }} {% trans "km/h" %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Number of trips" %} </h3>
    <ol>
        {% for u in numtrips %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.num_trips|floatformat}}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Average trip length" %} </h3>
    <ol>
        {% for u in lengthstats %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avglen|floatformat }} {% trans "km" %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Total duration" %} </h3>
    <ol>
        {% for u in dursums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_duration|retarddurationformat}}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Most energy consumed" %} </h3>
    <ol>
        {% for u in energysums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_energy }} {% trans "kcal" %} ({{u.sum_energy|bodyfat|floatformat}} kg {% trans "bodyfat" %})</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Highest average HR" %} </h3>
    <ol>
        {% for u in avgavghrs %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {% if u.avg_avg_hr %} {{ u.avg_avg_hr|floatformat}} {% trans "BPM" %} ( {{u.avg_avg_hr|percent:u.max_hr}}  ) {% endif %}</li>
        {% endfor %}
    </ol>

    <h3> {% trans "Top climbers" %} </h3>
    <ol>
        {% for u in ascentsums %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.sum_ascent }} {% trans "m" %} </li>
        {% endfor %}
    </ol>

    <h3> {% trans "Steepest average grade" %} </h3>
    <ol>
        {% for u in climbstats %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avgclimb|floatformat }} {% trans "m" %}/{% trans "km" %} </li>
        {% endfor %}
    </ol>

    <h3> {% trans "Fastest average climb" %} </h3>
    <ol>
        {% for u in climbstatsbytime %}
        <li class="{% ifequal forloop.counter 1 %}first{% endifequal %}{% ifequal forloop.counter 2 %}second{% endifequal %}{% ifequal forloop.counter 3 %}third{% endifequal %}"> <span class="label">{{ u }}:</span> {{ u.avgclimbperhour|floatformat }} {% trans "m" %}/{% trans "hour" %} </li>
        {% endfor %}
    </ol>
</div>
<script type="text/javascript" language="javascript">
	var labels = $('ol span.label');
	labels.bind("click", function(ev) {
		var clickedLabel = $(this);
		var selectedLabels = labels.filter(function (i) { if ($(this).text() == clickedLabel.text()) return true; })
		if ($(this).hasClass('selected'))
			selectedLabels.removeClass('selected');
		else {
			labels.removeClass('selected');
			selectedLabels.addClass('selected');
		}

	});
</script>

{% endblock content %}
