{% extends "turan/base.html" %}
{% load i18n %}
{% block title %}
{{block.super}} {% trans "About" %}
{% endblock %}

{% block content %}
<h1>{% trans "Todo" %}</h1>

<h2>{% trans "Goals" %}</h2>

Web2.0 ! Go!


<h2><img src="{{MEDIA_URL}}pinax/images/silk/icons/package.png">Development</h2>

<h3>Tasks</h3>

<ul>
    <li><span class="label">make great design!</span>
    <li><span class="label">Colored map plots according to values</span> si-m1/xt ? needs to use openlayers and vectors(?)
    <li><span class="label">make better filterable calendar</span> xt
    <li><span class="label">Merge GPX file with .hrm-file to have pos in tripdetails</span> xt
    <li><span class="label">Fix more RSS</span> 
    <li><span class="label">Add searching (events)</span>
    <li><span class="label">Add photos to trip</span>
    <li><span class="label">add trips to tribes?</span>
    <li><span class="label">Add altitude profile for routes (flot)</span>
    <li><span class="label">Show distance slopestart</span>
    <li><span class="label">zoom to slope in graph</span>
    <li><span class="label">show summaries for flat/down/up on a trip</span>
    <li><span class="label">display kms per incline in trip</span> N`Grath
    <li><span class="label">add option to routes to be "one time", hide from many views</span> 
    <li><span class="label">add features to change exercise: reparse/remove values(altitude/normalize altitude</span> 
    <li><span class="label">make routes for other exercies more elegant, especially in templates</span> 
    <li><span class="label">make sensor_file and gpx_file exportable </span> 
    <li><span class="label">fix tripdetail_js to only iterate tripdetails once </span> 
    <li><span class="label">som error correction (remove values, normalize altitude) </span> 
    <li><span class="label">filter statistics by user</span> 
    <li><span class="label">show measured distance on trip compared to route distance </span> 
    <li><span class="label">make compare work for arbitrary number of trips </span> 
    <li><span class="label">make compare use distance instead of time </span> 
    <li><span class="label">make compare work for exercise/hike</span> 


<h3>Completed</h3>

<ul>
    <li><span class="label">Make statistics team and time filterable</span> xt/N`Grath
    <li><span class="label">Make  CycleTrip.generate_gpx() based on cycletripdetails, or .tcx-file, maybe use gpsbabel</span> N`Grath ? 
    <li><span class="label">Add tags to trip</span>
    <li><span class="label">emit notices for route/event-addition</span>
    <li><span class="label">Add notifications to turan-app</span>xt
    <li><span class="label">add m/h ascent and more  in  route list (sortable)</span> 
    <li><span class="label">Move comments below graph</span>
    <li><span class="label">Fix what next (add trip linketc)</span>
    <li><span class="label">Fix forms for turan (add trip etc)</span>

</ul>




{% endblock %}
