{% extends "turan/base.html" %}
{% load i18n %}
{% block title %}
{{block.super}} {% trans "About" %}
{% endblock %}

{% block content %}
<h1>{% trans "Todo" %}</h1>

<h2>{% trans "Goals" %}</h2>

Web2.0 ! Go!


<h2><img src="{{MEDIA_URL}}pinax/images/silk/icons/package.png">Development</h2>

<h3>Tasks</h3>

<ul>
    <li><span class="label">Plot map according to values</span> si-m1/xt ? needs to use openlayers and vectors(?)
    <li><span class="label">Add navigation buttons on calendar page</span> xt
    <li><span class="label">Make statistics team and time filterable</span> xt/N`Grath

</ul>




{% endblock %}
