{% extends "turan/base.html" %}
{% load turan_extras %}
{% load humanize %}
{% load i18n %}
{% block title %}
{{ block.super }}
{% trans "User profile" %}
{% endblock %}
{% block content %}
<div class="floatright">
    {% if object.image %}
<img alt="{{object}}" style="border: 1px solid black; max-width: 300px " src="{{MEDIA_URL}}{{object.image}}">
    {% endif %}
<hr class="clear">
{% if object.cycle_image %}
    <img alt="{{object.cycle}}" style="border: 1px solid black; max-width: 300px" src="{{MEDIA_URL}}{{object.cycle_image}}">
{% endif %}
    <h3>{% trans "Cycle trip graph"%}</h2>
    <div id="tripdiv" style="width:300px;height:150px"></div>
    <h3>{% trans "Avg speed trend"%}</h2>
    <div id="avgspeeddiv" style="width:300px;height:150px"></div>
    <h3>{% trans "Avg HR trend"%}</h2>
    <div id="avghrdiv" style="width:300px;height:150px"></div>
    <h3>{% trans "BMI graph"%}</h2>
    <div id="bmidiv" style="width:300px;height:150px"></div>
    <h3>{% trans "Resting pulse graph"%}</h2>
    <div id="pulsediv" style="width:300px;height:150px"></div>
</div>
<div>
    {% if object.motto %}
        <span class="motto">«{{ object.motto }}»</span>
    {% endif %}
<h2>
    {{ object.user }}
</h1>
<ul class="user_details">
    <li><span class="label">{% trans "Weight" %}:</span> {{ object.weight }} kg</li>
    <li><span class="label">{% trans "Height" %}:</span> {{ object.height }} cm</li>
    {% if object.cycle %}
    <li><span class="label">{% trans "Cycle" %}:</span> {{ object.cycle }}</li>
    {% endif %}
    {% if object.resting_hr %}
    <li><span class="label">{% trans "Resting pulse" %}:</span> {{ object.resting_hr }} {% trans "BPM" %}</li>
    {% endif %}
    {% if object.max_hr %}
    <li><span class="label">{% trans "Max HR" %}:</span> {{ object.max_hr }} {% trans "BPM" %}</li>
    {% endif %}
    {% if object.info %}
    <li><span class="label">{% trans "Info" %}:</span> {{ object.info }}</li>
    {% endif %}
    <li><span class="label">{% trans "Team Memberships" %}:</span> 
    <ul>
        {% for teamm in object.user.teammembership_set.iterator %}
        <li><a href="{{teamm.team.get_absolute_url}}">{{ teamm.team }}</a></li>
       {% endfor %}
    </ul>
    </li>
</ul>

<h1>{% trans "Statistics" %}</h1>
{% include "turan/profile/statistics.html" %}

<h1>{% trans "Cycle trip log" %}</h1>
<ul id="cycletriplog">
    {% for entry in cycleqs %}
    <li><a href="{% url cycletrip entry.id %}/{{object.route.name|slugify }}"><span class="label">{{ entry.date|naturalday }}: </span>{{ entry.route.name }}</a>, {{ entry.route.distance|floatformat }} km</li>
    {% endfor %}
</ul>
<h1>{% trans "Hike log" %}</h1>
<ul id="hikelog">
    {% for entry in hikeqs %}
    <li><span class="label">{{ entry.date|naturalday }}: </span><a href="{{ entry.get_absolute_url }}">{{ entry.route.name }}</a>, {{ entry.route.distance|floatformat }} km</li>
    {% endfor %}
</ul>
<h1>{% trans "Weight log" %}</h1>
<ul id="weightlog">
    {% for entry in weightqs %}
    <li><span class="label">{{ entry.time|naturalday }}: </span>{{ entry.weight|floatformat }} kg</li>
    {% endfor %}
</ul>
<h1>{% trans "Resting pulse log" %}</h1>
<ul id="hrlog">
    {% for entry in pulseqs %}
    <li><span class="label">{{ entry.time|naturalday }}: </span>{{ entry.resting_hr}} {% trans "BPM" %}</li>
    {% endfor %}
</ul>
</div>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    var d1 = { color: 2, data: [{{pulsedataseries}}], }
    var d2 = { color: 4, data: [{{bmidataseries}}], }
    var bmiline = { color: 2, data: [{{bmiline}}], }
    var options = { xaxis: { mode: "time", timeformat: "%y/%m/%d" }, yaxis: { min: 0} }
    var d2options =  { yaxis: { min: 20, max: 45 }, xaxis: { mode: "time", timeformat: "%y/%m/%d" } }
    var d3options =  { xaxis: { mode: "time", timeformat: "%y/%m/%d" } }
    $.plot($("#pulsediv"), [d1], options);
    $.plot($("#bmidiv"), [d2, bmiline], d2options);
    $.plot($("#tripdiv"), [{
            color: 1,
            data: [{{tripdataseries}}],
            bars: { show: true },
            //label: "km",
        }] );
    $.plot($("#avgspeeddiv"), [{
            color: 3,
            data: [{{avgspeeddataseries}}],
            lines: { show: true },
            //label: "km",
        }], options );
    $.plot($("#avghrdiv"), [{
            color: 2,
            data: [{{avghrdataseries}}],
            lines: { show: true },
        }], options );
});
</script>
{% endblock content %}

