/* GENERAL TAB STYLING */

#left_tabs {
    position: absolute;
    bottom: 0px; /* must be same thickness as tab border */
    left: 0px; /* based on width and padding of logo */
}
#right_tabs {
    position: absolute;
    right: 15px;
    bottom: -1px; /* must be same thickness as tab border */
}

ul.tabs a, ul.tabs a:visited {
    color: #ccc; /* unselected tab text colour */
    text-decoration: none;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f96ca', endColorstr='#1d3853'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#4F96CA), to(#1D3853)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #4f96ca,  #1D3853); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #4f96ca,  #1d3853); 
    width: 110px;
    text-decoration: none; 
    margin:0; 
    cursor:hand; 
    text-shadow:1px 1px 2px #000;
    padding: 5px 0 5px 0;
    border-radius: 5px 5px 0 0;
    font-weight:bold; 
}
ul.tabs a:hover, 
ul.tabs a:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#777777'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#777)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ccc,  #777); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #ccc,  #777); 
    text-shadow:1px 1px 2px #bbb;
    color: #fff;
}
body.profile ul.tabs #tab_profile a,
body.turan ul.tabs #tab_turan a,
body.routes #tab_routes a,
body.exercises #tab_exercises a,
body.tribes ul.tabs #tab_tribes a 
body.inbox #tab_inbox a {
    font-weight:bold; 
    background: #4f96ca;
    color: #fff;
}
ul.tabs li {
    list-style-type: none;
    display: block;
    float: left;
    margin:0 5px 0 0;
    text-align: center;
    position: relative;
    width: 110px;
}
ul.tabs {
    margin: 0 0 0px;
}
