/* GENERAL TAB STYLING */

#left_tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    left: 0px; /* based on width and padding of logo */
}
#right_tabs {
    position: absolute;
    right: 15px;
    bottom: -1px; /* must be same thickness as tab border */
}

ul.tabs a, ul.tabs a:visited {
    color: #FFF; /* unselected tab text colour */
    text-decoration: none;
    display: block;
    background:url('/site_media/turan/tabs.gif') no-repeat left top; 
    width: 110px;
    color: #fff; 
    text-decoration: none; 
    margin:0; cursor:hand; 
    text-shadow: 0 0 0 #000;      
    padding: 5px 0 5px 0;
}
ul.tabs a:hover, 
ul.tabs a:focus {
    background-position: 0 -27px; color:#FFF;             
}
body.profile ul.tabs #tab_profile a,
body.turan ul.tabs #tab_turan a,
body.routes #tab_routes a,
body.exercises #tab_exercises a,
body.tribes ul.tabs #tab_tribes a 
body.inbox #tab_inbox a {
    padding:6px 0 5px 0; 
    background-position:0 -56px; 
    color:#272B2F; 
    font-weight:bold; 
}
ul.tabs li {
    list-style-type: none;
    display: block;
    float: left;
    margin:0 5px 0 0;
    text-align: center;
    position: relative;
    width: 110px;
}
ul.tabs {
    margin: 0 0 0px;
}
