{% load i18n %}
{% load turan_extras %}
    {% if object.distance %}
    <h6 class="oldlabel">{% trans "Distance" %}</h6> {{ object.distance|floatformat }} {% trans "km" %}
    {% endif %}
    {% if object.route_url %}
    <h6 class="oldlabel">{% trans "External URL" %}</h6> {{ object.route_url|urlizetrunc:60 }}
    {% endif %}
    {% if object.ascent %}
        <h6 class="oldlabel">{% trans "Ascent" %}</h6> {{ object.ascent }} {% trans "m" %}
            {% if object.distance %}
                ({{ object.ascent|divide:object.distance }} {% trans "m/km" %})
            {% endif %}
                {% if object.descent %}
                <h6 class="oldlabel">{% trans "Descent" %}</h6> {{ object.descent }} {% trans "m" %}
                {% endif %}
                {% if object.min_altitude %}
                <h6 class="oldlabel">{% trans "Min altitude" %}</h6> {{ object.min_altitude }} {% trans "m" %}
                {% endif %}
                {% if object.max_altitude %}
                <h6 class="oldlabel">{% trans "Max altitude" %}</h6> {{ object.max_altitude }} {% trans "m" %}
                {% endif %}
    {% endif %}
