{% load i18n %}
{% load turan_extras %}
{% load avatar_tags %}
<div class="box spacer" style="width: 458px">
    <img class="floatright" alt="Exerciselogo" src="{{object.icon}}" />
    <a class="floatright" href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user %}</a>
<h1>
    {{ object.route.name }}
    {% ifequal object.exercise_permission "N" %}
    <img title="{% trans "Private exercise"%}" alt="{% trans "Private exercise"%}" src="{{MEDIA_URL}}pinax/images/silk/icons/lock.png">
    {% else %}
    {% ifequal object.exercise_permission "F" %}
{% ifequal user object.user %}
    <img title="{% trans "Exercise visible to friends"%}" alt="{% trans "Exercise visible to friends"%}" src="{{MEDIA_URL}}pinax/images/silk/icons/lock_go.png">
    {% endifequal %}
    {% endifequal %}

{% endifequal %}
{% ifequal user object.user %}
    <a href="{% url exercise_update object.id %}"><img alt="modify" title="{% trans "Modify exercise" %}" src="{{ "wrench"|silk_icon }}"></a>
{% endifequal %}
</h1>
<div style="clear: left"></div>
<ul class="iconlist">
    <li class="person">
        <span class="label">{% trans "Exerciser" %}:</span> 
        <a href="{{ object.user.get_profile.get_absolute_url }}">{{ object.user }}</a> 
    </li>
    {% if object.route %}
        <li class="route"><span class="label">{% trans "Route" %}:</span>
        {% ifequal object.route.single_serving 1 %}
            {% ifequal object.user request.user %}
            <a href="{% url route_update object.route.id %}">{{ object.route }} <img alt="modify" src="{{ "wrench"|silk_icon }}"></a>
            {% else %}
            {% endifequal %}
        {% else %}
            <a href="{{ object.route.get_absolute_url }}">{{ object.route }}</a>
    {% endifequal %}
    {% endif %}
    {% with object.route as object %}
        {% include "turan/route/attributes.html" %}
    {% endwith %}
    </li>
    {% if object.duration %} 
    <li class="duration"><span class="label">{% trans "Duration" %}:</span> {{ object.duration }}</li>
    {% endif %}
    <li class="date"><span class="label">{% trans "Date" %}:</span> {{ object.date }}</li>
    {% if object.time %}
    <li class="time"><span class="label">{% trans "Start time" %}:</span> {{ object.time }}</li>
    {% endif %}
    {% if object.url %}
    <li class="url"><span class="label">{% trans "URL" %}:</span> {{ object.url|urlize }}</li>
    {% endif %}
    {% if object.avg_speed %}
    <li class="speed"><span class="label">{% trans "Avg Speed" %}:</span> {{ object.avg_speed|floatformat }} {% trans "km/h" %}</li>
    {% endif %}
    {% if object.avg_hr %}
    <li class="heart"><span class="label">{% trans "Avg HR" %}:</span> {{ object.avg_hr }} {% trans "BPM" %} {% if object.user.get_profile.max_hr %} ({{ object.avg_hr|percent:object.user.get_profile.max_hr }}){% endif %}</li>
    {% endif %}
    {% if object.avg_cadence %}
    <li class="cadence"><span class="label">{% trans "Avg Cadence" %}:</span> {{ object.avg_cadence }} {% trans "RPM" %}</li>
    {% endif %}
    {% if object.avg_pedaling_cad %}
    <li class="cadence"><span class="label">{% trans "Avg Pedaling Cadence" %}:</span> {{ object.avg_pedaling_cad }} {% trans "RPM" %}</li>
    {% endif %}
    {% if object.avg_power %}
    <li class="power"><span class="label">{% trans "Avg Power" %}:</span> {{ object.avg_power }} {% trans "W" %}</li>
    {% endif %}
    {% if object.avg_pedaling_power %}
    <li class="power"><span class="label">{% trans "Avg Pedaling Power" %}:</span> {{ object.avg_pedaling_power }} {% trans "W" %}</li>
    {% endif %}
    {% if object.normalized_power %}
    <li class="power"><span class="label">{% trans "Normalized Power" %}:</span> {{ object.normalized_power }} {% trans "W" %}</li>
    {% if object.get_intensityfactor %}
    <li class="intensity"><span class="label">{% trans "Intensity Factor" %}:</span> {{ object.get_intensityfactor }}</li>
    {% endif %}
    {% endif %}
    {% if object.max_speed %}
    <li class="speed"><span class="label">{% trans "Max Speed" %}:</span> {{ object.max_speed|floatformat }} {% trans "km/h" %}</li>
    {% endif %}
    {% if object.max_hr %}
    <li class="heart"><span class="label">{% trans "Max HR" %}:</span> {{ object.max_hr }} {% trans "BPM" %}{% if object.user.get_profile.max_hr %} ({{ object.max_hr|percent:object.user.get_profile.max_hr }}){% endif %}</li>
    {% endif %}
    {% if object.max_cadence %}
    <li class="cadence"><span class="label">{% trans "Max Cadence" %}:</span> {{ object.max_cadence }} {% trans "RPM" %}</li>
    {% endif %}
    {% if object.max_power %}
    <li class="power"><span class="label">{% trans "Max Power" %}:</span> {{ object.max_power }} {% trans "W" %}</li>
    {% endif %}
    {% if object.kcal %}
    <li class="kcal" ><span class="label">{% trans "Used kcal" %}:</span> {{ object.kcal }} {% trans "kcal" %} ({{object.kcal|bodyfat|floatformat}} kg {% trans "bodyfat" %})</li>
    {% endif %}
    {% if object.temperature %}
    <li class="temperature" ><span class="label">{% trans "Temperature" %}:</span> {{ object.temperature|floatformat }} {% trans "℃" %}</li>
    {% endif %}
    {% if object.min_temperature %}
    <li class="temperature" ><span class="label">{% trans "Min Temperature" %}:</span> {{ object.min_temperature|floatformat }} {% trans "℃" %}</li>
    {% endif %}
    {% if object.max_temperature %}
    <li class="temperature" ><span class="label">{% trans "Max Temperature" %}:</span> {{ object.max_temperature|floatformat }} {% trans "℃" %}</li>
    {% endif %}
</ul>
</div>
