{% load i18n %}
{% load turan_extras %}
<div class="attributes">
    <div style="float: right"><img alt="Exerciselogo" src="{{object.icon}}" /></div>
<h1>
    {{ object.route.name }}
</h1>
<div style="clear: left"></div>
<ul class="attributes">
    <li class="person">
        {% if object.user.get_profile.image %}
        <img width="70" src="{{MEDIA_URL}}{{ object.user.get_profile.image }}" alt="{% trans "Photo" %}" />
        {% endif %}
        <span class="label">{% trans "Exerciser" %}:</span> 
        <a href="{{ object.user.get_profile.get_absolute_url }}">{{ object.user }}</a> 
    </li>
    {% if object.route %}
    <li class="route"><span class="label">{% trans "Route" %}:</span> <a href="{{ object.route.get_absolute_url }}">{{ object.route }}</a>
    {% endif %}
    {% with object.route as object %}
        {% include "turan/route/attributes.html" %}
    {% endwith %}
    </li>
    {% if object.duration %} 
    <li class="duration"><span class="label">{% trans "Duration" %}:</span> {{ object.duration }}</li>
    {% endif %}
    <li class="date"><span class="label">{% trans "Date" %}:</span> {{ object.date }}</li>
    {% if object.time %}
    <li class="time"><span class="label">{% trans "Start time" %}:</span> {{ object.time }}</li>
    {% endif %}
    {% if object.url %}
    <li class="url"><span class="label">{% trans "URL" %}:</span> {{ object.url|urlize }}</li>
    {% endif %}
    {% if object.avg_speed %}
    <li class="speed"><span class="label">{% trans "Avg Speed" %}:</span> {{ object.avg_speed|floatformat }} {% trans "km/h" %}</li>
    {% endif %}
    {% if object.avg_hr %}
    <li class="heart"><span class="label">{% trans "Avg HR" %}:</span> {{ object.avg_hr }} {% trans "BPM" %} {% if object.user.get_profile.max_hr %} ({{ object.avg_hr|percent:object.user.get_profile.max_hr }}){% endif %}</li>
    {% endif %}
    {% if object.avg_cadence %}
    <li class="cadence"><span class="label">{% trans "Avg Cadence" %}:</span> {{ object.avg_cadence }} {% trans "RPM" %}</li>
    {% endif %}
    {% if object.avg_power %}
    <li class="power"><span class="label">{% trans "Avg Power" %}:</span> {{ object.avg_power }} {% trans "W" %}</li>
    {% endif %}
    {% if object.normalized %}
    <li class="power"><span class="label">{% trans "Normalized Power(tm)" %}:</span> {{ object.normalized }} {% trans "W" %}</li>
    {% endif %}
    {% if object.max_speed %}
    <li class="speed"><span class="label">{% trans "Max Speed" %}:</span> {{ object.max_speed|floatformat }} {% trans "km/h" %}</li>
    {% endif %}
    {% if object.max_hr %}
    <li class="heart"><span class="label">{% trans "Max HR" %}:</span> {{ object.max_hr }} {% trans "BPM" %}{% if object.user.get_profile.max_hr %} ({{ object.max_hr|percent:object.user.get_profile.max_hr }}){% endif %}</li>
    {% endif %}
    {% if object.max_cadence %}
    <li class="cadence"><span class="label">{% trans "Max Cadence" %}:</span> {{ object.max_cadence }} {% trans "RPM" %}</li>
    {% endif %}
    {% if object.max_power %}
    <li class="power"><span class="label">{% trans "Max Power" %}:</span> {{ object.max_power }} {% trans "W" %}</li>
    {% endif %}
    {% if object.kcal %}
    <li class="kcal" ><span class="label">{% trans "Used kcal" %}:</span> {{ object.kcal }} {% trans "kcal" %} ({{object.kcal|bodyfat|floatformat}} kg {% trans "bodyfat" %})</li>
    {% endif %}
    {% if object.temperature %}
    <li class="temperature" ><span class="label">{% trans "Temperature" %}:</span> {{ object.temperature|floatformat }} {% trans "℃" %}</li>
    {% endif %}
    {% if object.comment %}
    <li class="comment">{{ object.user }} {% trans "writes" %}:
        <p>{{ object.comment }}</p>
    </li>
    {% endif %}
</ul>
</div>
