{% load i18n %}
{% load turan_extras %}
<div id="besteffortdiv" style="width:400px;height:400px; float: right;"></div>
<div id="bestefforttable" style="width:500px;">
    {% if object.avg_power and power_show %}
    <table class="fullsize">
        <tr>
            <th>
                {% trans "Zoom" %}
            </th>
            <th>
                {% trans "Duration" %}
            </th>
            <th>
                {% trans "Power" %}
            </th>
            <th>
                {% trans "Avg power/kg" %}
            </th>
            <th>
                {% trans "Start" %}
            </th>
            <th>
                {% trans "Length" %}
            </th>
        </tr>
            {% for key, effort in object.best.items %}
            <tr>
                    <td><img src="{{ MEDIA_URL }}pinax/images/silk/icons/zoom.png" alt="Zoom" id="pzoom{{forloop.counter0}}-link-1" class="zoom-select" />
                        <script type="text/javascript">
                            $('#pzoom{{forloop.counter0}}-link-1').bind("click", 
                                    function (evt) { 
                                    plot.setSelection({ 
                                        xaxis: { 
                                            from: {{effort.power_pos}}, to: {{effort.power_pos}}+{{effort.power_length}}/1000
                                        }
                                    })
                                    });
                        </script>
                    </td>
                <td> 
                    {{ effort.dur|durationformat }} 
                </td>
                <td>
                    {{ effort.power }} {% trans "W" %}
                </td>
                <td>
                    {{ effort.wkg|floatformat }} {% trans "W/kg" %}
                </td>
                <td>
                    {{ effort.power_pos|floatformat }} {% trans "km" %}
                </td>
                <td>
                    {{ effort.power_length|distanceformat }}
                </td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
    <table class="fullsize">
        <tr>
            <th>
                {% trans "Zoom" %}
            </th>
            <th>
                {% trans "Duration" %}
            </th>
            <th>
                {% trans "Speed" %}
            </th>
            <th>
                {% trans "Start" %}
            </th>
            <th>
                {% trans "Length" %}
            </th>
        </tr>
        {% for key, effort in object.best.items %}
        <tr>
             <td><img src="{{ MEDIA_URL }}pinax/images/silk/icons/zoom.png" alt="Zoom" id="szoom{{forloop.counter0}}-link-1" class="zoom-select" />
                    <script type="text/javascript">
                        $('#szoom{{forloop.counter0}}-link-1').bind("click", 
                                function (evt) { 
                                plot.setSelection({ 
                                    xaxis: { 
                                        from: {{effort.speed_pos}}, to: {{effort.speed_pos}}+{{effort.speed_length}}/1000
                                    }
                                })
                                });
                    </script>
            </td>
            <td> 
                {{ effort.dur|durationformat }} 
            </td>
            <td>
                {{ effort.speed|floatformat }} {% trans "km/h" %}
            </td>
            <td>
                {{ effort.speed_pos|floatformat }} {% trans "km" %}
            </td>
            <td>
                {{ effort.speed_length|distanceformat }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if object.avg_power %}
<script type="text/javascript">
    var best_effort_data = [
            {% for key, effort in object.best.items %}
            {% if effort %}
                {
                    data: [[{{ key }}, {{ effort.power }}]],
                    bars: { show: true},
                    color: {{ forloop.counter }}
                }{% if not forloop.last %},{%endif%}
            {% endif %}
            {% endfor %}
    ];
    $.plot($("#besteffortdiv"), best_effort_data, { grid: { show: false } });
</script>
{% else %}
<script type="text/javascript">
    var best_effort_data = [
            {% for key, effort in object.best.items %}
            {% if effort %}
                {
                    data: [[{{ key }}, {{ effort.speed }}]],
                    bars: { show: true},
                    color: {{ forloop.counter }}
                }{% if not forloop.last %},{%endif%}
            {% endif %}
            {% endfor %}
    ];
    $.plot($("#besteffortdiv"), best_effort_data, { grid: { show: false } });
</script>
{% endif %}

