{% load i18n %}
{% load turan_extras %}
<div id="besteffortdiv" class="clearfix" style="width:900px;height:500px"></div>
<div id="bestefforttable">
    {% if object.avg_power and power_show %}
    <table class="fullsize">
        <tr>
            <th>
                {% trans "Zoom" %}
            </th>
            <th>
                {% trans "Duration" %}
            </th>
            <th>
                {% trans "Power" %}
            </th>
            <th>
                {% trans "Avg power/kg" %}
            </th>
            <th>
                {% trans "Start" %}
            </th>
            <th>
                {% trans "Length" %}
            </th>
            {% if object.route.ascent or object.route.descent %}
            <th>
                {% trans "Elevation" %}
            </th>
            {% endif %}
        </tr>
            {% for effort in bestpowerefforts %}
            <tr>
                    <td><img src="{{ MEDIA_URL }}pinax/img/silk/icons/zoom.png" alt="Zoom" id="pzoom{{forloop.counter0}}-link-1" class="zoom-select" />
                        <script type="text/javascript">
                            $('#pzoom{{forloop.counter0}}-link-1').bind("click", 
                                    function (evt) { 
                                    plot.setSelection({ 
                                        xaxis: { 
                                            from: {{effort.pos}}, to: {{effort.pos}}+{{effort.length}}/1000
                                        }
                                    })
                                    });
                        </script>
                    </td>
                <td> 
                    {{ effort.duration|durationformat}} 
                </td>
                <td>
                    {{ effort.power }} {% trans "W" %}
                </td>
                <td>
                    {{ effort.power|divide:userweight|floatformat }} {% trans "W/kg" %}
                </td>
                <td>
                    {{ effort.pos|floatformat }} {% trans "km" %}
                </td>
                <td>
                    {{ effort.length|distanceformat }}
                </td>
                {% if object.route.ascent or object.route.descent %}
                <td>
                    +{{ effort.ascent|default_if_none:"N" }} / -{{ effort.descent|default_if_none:"A" }} {% trans "m" %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
    </table>
    {% endif %}
    <table class="fullsize">
        <tr>
            <th>
                {% trans "Zoom" %}
            </th>
            <th>
                {% trans "Duration" %}
            </th>
            <th>
                {% trans "Speed" %}
            </th>
            <th>
                {% trans "Start" %}
            </th>
            <th>
                {% trans "Length" %}
            </th>
            {% if object.route.ascent or object.route.descent %}
            <th>
                {% trans "Elevation" %}
            </th>
            {% endif %}
        </tr>
        {% for effort in bestpowerefforts %}
        <tr>
             <td><img src="{{ MEDIA_URL }}pinax/img/silk/icons/zoom.png" alt="Zoom" id="szoom{{forloop.counter0}}-link-1" class="zoom-select" />
                    <script type="text/javascript">
                        $('#szoom{{forloop.counter0}}-link-1').bind("click", 
                                function (evt) { 
                                plot.setSelection({ 
                                    xaxis: { 
                                        from: {{effort.pos}}, to: {{effort.pos}}+{{effort.length}}/1000
                                    }
                                })
                                });
                    </script>
            </td>
            <td> 
                {{ effort.duration|durationformat }} 
            </td>
            <td>
                {{ effort.speed|floatformat }} {% trans "km/h" %}
            </td>
            <td>
                {{ effort.pos|floatformat }} {% trans "km" %}
            </td>
            <td>
                {{ effort.length|distanceformat }}
            </td>
            {% if object.route.ascent or object.route.descent %}
            <td>
                +{{ effort.ascent|default_if_none:"N" }} / -{{ effort.descent|default_if_none:"A" }} {% trans "m" %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

<script type="text/javascript">
//    $("#besteffortdiv").css("height", $("#besteffortdiv").parent().css("height"));
{% if object.avg_power and power_show %}
    var best_effort_data = [
                {
                    label: '{% trans "This exercise" %}',
                    data: [
            {% for effort in bestpowerefforts %}
            {% if effort.length %}
          [{{ effort.length }}/60, {{ effort.power }}]{% if not forloop.last %},{%endif%}
            {% endif %}
            {% endfor %}
    ],
                    color: 3,
                },
                {
                    label: '{% trans "All time best" %}',
                    data: [
            {% for effort in bestbestpowerefforts %}
            {% if effort.length %}
          [{{ effort.length }}/60, {{ effort.power }}]{% if not forloop.last %},{%endif%}
            {% endif %}
            {% endfor %}
    ],
                    color: 4,
                }];
    $.plot($("#besteffortdiv"), best_effort_data, { legend: {show: true}, grid: { show: true } });
{% else %}
    var best_effort_data = [
            {% for effort in object.bestspeedeffort_set.all %}
            {% if effort %}
                {
                    data: [[{{ forloop.counter0 }}, {{ effort.speed }}]],
                    bars: { show: true},
                    color: {{ forloop.counter }}
                }{% if not forloop.last %},{%endif%}
            {% endif %}
            {% endfor %}
    ];
    $.plot($("#besteffortdiv"), best_effort_data, { grid: { show: false } });
{% endif %}
</script>

