{% load i18n %}
{% load turan_extras %}
<div id="gradientzonediv" style="width:900px;height:400px; float: right;"></div>
<div id="gradientzonetable" style="width:1px; height: 400px;"></div>
<script language="javascript" type="text/javascript">
    var gradientzonedata = [
                {
    color: 2,
   lines: { fill: 0.6, },
data: [{% for km, length in gradients %}[{{ km }},{{ length|floatformat }}],{% endfor %}], }, 
{
}
    ];

$.plot($("#gradientzonediv"), gradientzonedata, { });
</script>
