{% load i18n %}
{% load l10n %}
{% load turan_extras %}
<div id="gradientinfo"></div>

<div id="gradientinfo2"></div>

<script type="text/javascript">
{% localize off %}
    var options2 = {
        selection: { mode: "x" },
        grid: { 
            hoverable: true, 
            clickable: true
         //   backgroundColor: { colors: ["#eee", "#eee"] },
       },
       legend: { position: 'nw' },
       yaxis: { tickFormatter: axisformatters['percent'] },
       xaxis: { tickFormatter: axisformatters['distance'] }

    };
/*
            markings: [
         {yaxis: { from: 0.0, to: 6.0 },color: "#842DCE"},
         {yaxis: { from: 6.0, to: 10.0 },color: "#4AA02C"},
         {yaxis: { from: 10.0, to: 15.0 },color: "#736AFF"},
         {yaxis: { from: 15.0, to: 20.0 },color: "#FDD017"},
         {yaxis: { from: 20.0},color: "#C11B17"},
        ]
        */
    function evaluate(y,threshold) { 
        return y < threshold;
    }
    var altconstraints = [
        {
            below: 3,
            color: colors[0]
        },
        {
            below: 6,
            color: colors[1]
        },
        {
            below: 8,
            color: colors[2]
        },
        {
            below: 10,
            color: colors[3]
        },
        {
            below: 15,
            color: colors[4]
        },
        {
            below: 20,
            color: colors[5]
        },
        {
            below: 25,
            color: colors[6]
        }

    ]
    var gradientzonedata = [
        {
            color: 3,
            lines: { fill: 0.7, },
            label: "{% trans "Gradients"%}",
            data: [
            {% for km, gradient in gradients %}[{{ km }},{{ gradient }}],{% endfor %}
               ],
            "threshold": altconstraints

        }, 
        {
        }
    ];

    $.plot($("#gradientzonediv"), gradientzonedata, options2);

    $("#gradientzonediv").bind("plotselected", function (event, ranges) {            
        plot = $.plot(
            $("#gradientzonediv"), 
            gradientzonedata, 
            $.extend(true, {}, options2, { 
                xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
            })
        );
        $("#gradientinfo").text(ranges.xaxis.from.toFixed(1) + " {% trans "to" %} " + ranges.xaxis.to.toFixed(1));
        $("#gradientinfo2").text( "{% trans "Click graph to reset selection" %}");
    });                                                                      
    $("#gradientzonediv").bind("plotclick", function (event, pos, item) {
        plot = $.plot($("#gradientzonediv"), gradientzonedata, options2);
        $("#gradientinfo").text("");
        $("#gradientinfo2").text("");
    });
{% endlocalize %}
</script>
