{% load i18n %}
{% load l10n %}
{% load turan_extras %}

<div id="exercisegraph" class="exercisegraph">
    <div align="center">
        <h2>{% trans "Loading graph" %}...</h2>
        <br />
        <img alt="spinner" src="{{MEDIA_URL}}turan/cyclist.gif">
    </div>
</div>
<div class="averages" id="averages">
    <ul class="iconlist">
        <!-- Restructure as needed data appears in spans automagic -->
        <li class="hidden duration"><span class="data duration"></span> s</li>
        <li class="hidden distance"><span class="data distance"></span> m</li>
        <li class="hidden ascent"><span class="data ascent"></span> m</li>
        <li class="hidden decent"><span class="data descent"></span> m</li>
        <li class="hidden hr"><span class="data hr__min"></span>  {% trans "BPM" %}</li>
        <li class="hidden hr"><span class="data hr__max"></span>  {% trans "BPM" %}</li>
        <li class="hidden hr"><span class="data hr__avg"></span>  {% trans "BPM" %}</li>
        <li class="hidden gradient"><span class="data gradient"></span> deg</li>
        <li class="hidden vam"><span class="data vam"></span> VAM</li>
        <li class="hidden speed"><span class="data speed__min"></span> {% trans "km/h" %}</li>
        <li class="hidden speed"><span class="data speed__max"></span> {% trans "km/h" %}</li>
        <li class="hidden speed"><span class="data speed__avg"></span> {% trans "km/h" %}</li>
        <li class="hidden cadence"><span class="data cadence__min"></span> {% trans "RPM" %}</li>
        <li class="hidden cadence"><span class="data cadence__max"></span> {% trans "RPM" %}</li>
        <li class="hidden cadence"><span class="data cadence__avg"></span> {% trans "RPM" %}</li>
        <li class="hidden power"><span class="data power__min"></span> W</li>
        <li class="hidden power"><span class="data power__max"></span> W</li>
        <li class="hidden power"><span class="data power__avg"></span> W</li>
        <li class="hidden power"><span class="data power__normalized"></span> W</li>
        <li class="hidden power"><span class="data power__avg_est"></span> W</li>
        <li class="hidden temp"><span class="data temp__min"></span> ℃</li>
        <li class="hidden temp"><span class="data temp__max"></span> ℃</li>
        <li class="hidden temp"><span class="data temp__avg"></span> ℃</li>
        <li class="hidden temp"><span class="data temp__avg_est"></span> ℃</li>
    </ul>
        <a class="floatright" href="#" title="{% trans "Full screen graph" %}" id="enlarge" >
            <img class="fullscreenicon" src="{{MEDIA_URL}}turan/fs.png">
        </a>
        <a class="floatright" href="#" title="{% trans "Zoom out" %}" id="reset_zoom" >
            <img src="{{ MEDIA_URL }}pinax/img/silk/icons/zoom_out.png" /> 
        </a>
        <a class="floatright hidden" href="{% url segmentdetail_create %}?exercise={{object.id }}" title="{% trans "Add segment for this selection" %}" id="segment_add" >
            <img id="segment_add_img" src="{{ MEDIA_URL }}pinax/img/silk/icons/world_add.png" /> {% trans "Add segment" %}
        </a>
<div id="exercisegraph_legend"></div>
    <p class="" id="choices">{% trans "Graph" %}:</p>
</div>
<script type="text/javascript">
{% comment %}
    {% if lonlats %}
    var route_coordinates = {{lonlats|as_json}};
    {% else %}
    var route_coordinates = [];
    {% endif %}

    var route_points = [];
{% endcomment %}
{% localize off %}

    var markings = [];

    {% if intervals %}
    {% for interval in intervals %}
        {% if forloop.counter0 %}
        {% if time_xaxis %}
        markings.push( { xaxis: { from: {{interval.get_relative_time_in_minutes}}, to: {{interval.get_relative_time_in_minutes}} }, color:  "#000000" });
        {% else %}
        {% if interval.start %}
        markings.push( { xaxis: { from: {{interval.start}}/1000, to: {{interval.start}}/1000 }, color:  "#000" });
        {% endif %}
        {% endif %}
        {% endif %}
    {% endfor %}

    {% endif %}
{% comment %}
    var segmentconstraints = [];
    {% for segment in slopes %}
    {% endfor %}
{% endcomment %}

    $(document).ready(function () {
        // Get datasets from json
        $.getJSON("{% url json_trip_series object.id %}?smooth={{smooth}}", function (datasets) {
            GraphPlotter.init({
                datasets: datasets,
                backendUrl: "{% url powerjson object.id %}",
                max_hr: {{ max_hr }},
                markings: markings,
                xaxisformatter: {% if time_xaxis %}"time"{%else%}"length"{%endif%}
            });
            var orly = window.location.hash.split('-')
            if (orly) {
                if (orly[0] == "#graph") {
                    var x = orly[2];
                    var x2 = orly[3];
                    GraphPlotter.setRange({ xaxis: { from: x, to: x2 }});
                }
                else {
                    GraphPlotter.setRange({});
                }
                GraphPlotter.plot();
            }
        });
    });
{% endlocalize %}
</script>
