{% load i18n %}
{% load turan_extras %}
<div id="hrhzonediv" style="width:900px;height:400px; float: right;"></div>
<div id="hrhzonetable" style="width:1px; height: 400px;"></div>
<script language="javascript" type="text/javascript">
    var hrhzonedata = [
                {
    color: 2,
   lines: { fill: 0.6, },
data: [{% for hr, length in hrhzones.items %}{% if length %}[{{ hr }},{{ length }}],{% endif %}{% endfor %}], }, 
    ];

$.plot($("#hrhzonediv"), hrhzonedata, { 
grid: {
    markings: null // [ { xaxis: { from: 60, to: 72 }, color: "#ff0000" },  ]

      }});
</script>
