{% load i18n %}
{% load turan_extras %}
<table class="fullsize">
    <tr>
        <th>
            {% trans "Zoom" %}
        </th>
        <th>
            {% trans "Start" %}
        </th>
        <th>
            {% trans "Duration" %}
        </th>
        <th>
            {% trans "Length" %}
        </th>
        <th>
            {% trans "Speed" %}
        </th>
        {% if object.avg_power %}
        <th>
            {% trans "Avg power" %}
        </th>
        <th>
            {% trans "FTP %"%}
        </th>
        <th>
            {% trans "Avg power/kg" %}
        </th>
        <th> {% trans "Max power" %} </th>
        {% endif %}
        <th>
            {% trans "Avg HR" %}
        </th>
    </tr>
{% for interval in intervals %}
    <tr>
        <td><img src="{{ MEDIA_URL }}pinax/images/silk/icons/zoom.png" alt="Zoom" id="zoom{{forloop.counter0}}-link-1" class="zoom-select" />
            <script type="text/javascript">
                $('#zoom{{forloop.counter0}}-link-1').bind("click", 
                        function (evt) { 
                        plot.setSelection({ 
                            xaxis: { 
                                from: {{interval.start}}, to: {{interval.start}}+{{interval.length}}/1000
                            }
                        })
                        });
            </script>
        </td>
        <td>{{ interval.start_time }} </td>
        <td>{{interval.duration}} {% trans "s" %}</td>
        <td>{{ interval.distance|floatformat }} {% trans "m" %} </td>
        <td>{{interval.avg_speed|floatformat}} {% trans "km/h" %}</td>
        {% if interval.avg_power %}
        <td> {{interval.avg_power|floatformat}} {% trans "W" %} </td>
        <td> {{interval.get_ftp_percentage|floatformat}} {% trans "%" %} </td>
        <td>{{interval.get_avg_power_per_kg|floatformat}} {% trans "W/kg" %} </td>
        <td> {{interval.max_power|floatformat}} {% trans "W" %} </td>
        {% endif %}
        <td>{{interval.avg_hr|floatformat}} {% trans "BPM" %}
            {% if object.user.get_profile.max_hr %}
            ({{ interval.avg_hr|percent:object.user.get_profile.max_hr }})
            {% endif %} </td>
    </tr>
{% endfor %}
</table>
