{% load i18n %}
{% load avatar_tags %}
{% load turan_extras %}
rel='popover' data-placement='right' data-title='{{ object }}' data-content='
    {% avatar object.user %}
    <div class="pull-right">
        <img alt="Exerciselogo" src="{{object.icon}}" />
    </div>
    <hr class="clear">

        {% if object.avg_hr %}
            <h6 class="pull-left" ><i class="ss_sprite ss_heart"></i>{% trans "Avg HR" %}</h6>
            <div class="pull-right">{{ object.avg_hr }} {% trans "BPM" %} {% if object.user.get_profile.max_hr %} ({{ object.avg_hr|percent:object.user.get_profile.max_hr }})<hr class="clear">{% endif %}</div>
        <hr class="clear">{% endif %}
        {% if object.avg_speed %}
        <h6 class="pull-left"><i class="ss_sprite ss_lightning_go"></i>{% trans "Avg Speed" %}</h6>
        <div class="pull-right"> {{ object.avg_speed|floatformat }} {% trans "km/h" %}</div>
        <hr class="clear">{% endif %}

        {% if object.route.distance %}
            <h6 class="pull-left"><i class="ss_sprite ss_sum"></i>{% trans "Distance" %}</h6>
            <div class="pull-right">{{ object.route.distance|floatformat }} km</div>
        <hr class="clear">{% endif %}

        {% if object.duration %} 
            <h6 class="pull-left"><i class="ss_sprite ss_clock"></i>{% trans "Duration" %}</h6> 
            <div class="pull-right">{{ object.duration }}</div>
        <hr class="clear">{% endif %}

        {% if object.time %}
            <h6 class="pull-left"><i class="ss_sprite ss_time_go"></i>{% trans "Start time" %}</h6>
            <div class="pull-right"> {{ object.time }}</div>
        <hr class="clear">{% endif %}

            <h6 class="pull-left"><i class="ss_sprite ss_date"></i>{% trans "Date" %}</h6>
            <div class="pull-right"> {{ object.date }}</div>
        <hr class="clear">

        {% if object.route.ascent %}
            <h6 class="pull-left"><i class="ss_sprite ss_arrow_up"></i>{% trans "Ascent" %}</h6>
            <div class="pull-right"> {{ object.route.ascent }} {% trans "m" %}</div>
        <hr class="clear">{% endif %}

        {% if object.avg_pedaling_cad %}
            <h6 class="pull-left"><i class="ss_sprite ss_cog"></i>{% trans "Avg Pedaling Cadence" %}</h6>
            <div class="pull-right"> {{ object.avg_pedaling_cad }} {% trans "RPM" %}</div>
        <hr class="clear">{% endif %}

        {% if object.avg_pedaling_power %}
            <h6 class="pull-left"><i class="ss_sprite ss_ligthning"></i>{% trans "Avg Pedaling Power" %}</h6>
            <div class="pull-right"> {{ object.avg_pedaling_power }} {% trans "W" %}</div>
        <hr class="clear">{% endif %}

        {% if object.normalized_power %}
            <h6 class="pull-left"><i class="ss_sprite ss_ligthning"></i>{% trans "Normalized Power" %}</h6>
            <div class="pull-right"> {{ object.normalized_power }} {% trans "W" %}</div>
        <hr class="clear">{% endif %}

        {% if object.kcal %}
            <h6 class="pull-left"><i class="ss_sprite ss_cake"></i>{% trans "Used kcal" %}</h6>
            <div class="pull-right"> {{ object.kcal }} {% trans "kcal" %} ({{object.kcal|bodyfat|floatformat}} kg {% trans "bodyfat" %})</div>
        <hr class="clear">{% endif %}

        {% if object.comment %}
            <i class="ss_sprite ss_comment"></i>
            {{ object.user.get_profile }} {% trans "writes" %}:
            <p>{{ object.comment }}</p>
        <hr class="clear">{% endif %}
' 
