{% load i18n %}
{% load avatar_tags %}
{% load turan_extras %}
<div class="tooltip hidden" id="mouseover_{{object.id}}">
    <div style="float: right"><img alt="Exerciselogo" src="{{object.icon}}" /></div>
<h1>
    {{ object }}
</h1>
<div style="clear: left"></div>
<ul class="tooltip">
    <li class="person">
        <a class="floatright" href="{{object.user.get_profile.get_absolute_url }}">{% avatar object.user 30 %}</a>
    </li>
    {% if object.route %}
    <li class="route"><span class="label">{% trans "Route" %}:</span> <a href="{{ object.route.get_absolute_url }}">{{ object.route }}</a> {{ object.route.distance }} km
    {% endif %}
    </li>
    {% if object.duration %} 
    <li class="duration"><span class="label">{% trans "Duration" %}:</span> {{ object.duration }}</li>
    {% endif %}
    <li class="date"><span class="label">{% trans "Date" %}:</span> {{ object.date }}</li>
    {% if object.time %}
    <li class="time"><span class="label">{% trans "Start time" %}:</span> {{ object.time }}</li>
    {% endif %}
    {% if object.avg_speed %}
    <li class="speed"><span class="label">{% trans "Avg Speed" %}:</span> {{ object.avg_speed|floatformat }} {% trans "km/h" %}</li>
    {% endif %}
    {% if object.avg_hr %}
    <li class="heart"><span class="label">{% trans "Avg HR" %}:</span> {{ object.avg_hr }} {% trans "BPM" %} {% if object.user.get_profile.max_hr %} ({{ object.avg_hr|percent:object.user.get_profile.max_hr }}){% endif %}</li>
    {% endif %}
    {% if object.avg_pedaling_cad %}
    <li class="cadence"><span class="label">{% trans "Avg Pedaling Cadence" %}:</span> {{ object.avg_pedaling_cad }} {% trans "RPM" %}</li>
    {% endif %}
    {% if object.avg_pedaling_power %}
    <li class="power"><span class="label">{% trans "Avg Pedaling Power" %}:</span> {{ object.avg_pedaling_power }} {% trans "W" %}</li>
    {% endif %}
    {% if object.normalized %}
    <li class="power"><span class="label">{% trans "Normalized Power(tm)" %}:</span> {{ object.normalized }} {% trans "W" %}</li>
    {% endif %}
    {% if object.kcal %}
    <li class="kcal" ><span class="label">{% trans "Used kcal" %}:</span> {{ object.kcal }} {% trans "kcal" %} ({{object.kcal|bodyfat|floatformat}} kg {% trans "bodyfat" %})</li>
    {% endif %}
    {% if object.comment %}
    <li class="comment">{{ object.user }} {% trans "writes" %}:
        <p>{{ object.comment }}</p>
    </li>
    {% endif %}
</ul>
</div>
