{% load i18n %}
{% load turan_extras %}
<div id="zonediv" style="width:400px;height:400px; float: right;"></div>
<div id="zonetable" style="width:500px; height: 400px;">
        <table>
            <tr>
                <th>
                    {% trans "Zone" %}
                </th>
                <th>
                    {% trans "Length" %}
                </th>
                <th>
                    {% trans "%" %}
                </th>
            </tr>
            {% for zone, length in zones.items %}
            {% if length %}
            <tr>
                <td>
                    {{ zone }}
                </td>
                <td>
                    {{ length|durationformat }}
                </td>
                <td>
                    {{ length|percent:object.duration.seconds }}
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
<script language="javascript" type="text/javascript">
    var colors = ["rgb(240,240,240)", "rgb(204,204,204)", "rgb(51,102,255)", "rgb(102,204,0)", 
        "rgb(255,153,0)", "rgb(255,0,0)", "rgb(255,0,0)"];
    var zonedata = [
            {% for zone, length in zones.items %}
{% if length %}
                {
                    data: [[{{ zone|slice:":1" }}, {{ length }}]],
                    bars: { show: true},
                    color: colors[{{ forloop.counter0 }}]
                },
{% endif %}
            {% endfor %}
    ];
    $.plot($("#zonediv"),zonedata, { grid: { show: false } });
</script>
