{% load i18n %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load humanize %}

<div class="profile">
    <div class="floatleft">{% avatar user 40 %}</div>
    <ul class="attributes">
        <li><a href="{% url profile_detail user.username %}">{{ user }}</a></li>
    {% if user.get_profile.name %}
        <li><span class="label">{% trans "Name" %}</span>: {{ user.get_profile.name }}</li>
    {% endif %}
    {% if user.get_profile.about %}
        <li><span class="label">{% trans "About" %}</span>: {{ user.get_profile.about }}</li>
    {% endif %}
    {% if user.get_profile.location%}
        <li><span class="label">{% trans "Location" %}</span>: {{ user.get_profile.location }}</li>
    {% endif %}
    {% if user.get_profile.height or user.get_profile.weight or user.get_profile.motto or user.get_profile.cycle %}
        <li>
            <ul class="horizlist">
            {% if user.get_profile.height %}
                <li><span class="label">{% trans "Height" %}</span>: {{ user.get_profile.height }}</li>
            {% endif %}
            {% if user.get_profile.weight %}
                <li><span class="label">{% trans "Weight" %}</span>: {{ user.get_profile.weight }}</li>
            {% endif %}
            {% if user.get_profile.motto %}
                <li><span class="label">{% trans "Motto" %}</span>: {{ user.get_profile.motto }}</li>
            {% endif %}
            {% if user.get_profile.cycle %}
                <li><span class="label">{% trans "Cycle" %}</span>: {{ user.get_profile.cycle }}</li>
            {% endif %}
            </ul>
        </li>
    {% endif %}
    </ul>
</div>
