{% load i18n %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load humanize %}
{% load turan_extras %}

<div class="profile">
    <div class="floatleft">{% avatar user 40 %}</div>
    <ul class="iconlist">
        <li class="">
            <h4>
            <a href="{% url profile_detail user.username %}">{{ user.get_profile }}</a>
            <small class="labbel">
                {% if user.get_profile.motto %}
                    «{{ user.get_profile.motto }}»
                {% endif %}
            </small>
        </h4>
        </span>
    {% if user.get_profile.about %}
        <span><span class="labbel">{% trans "About" %}</span>: {{ user.get_profile.about }}</span>
    {% endif %}
    {% if user.duration %}
        <span><span class="labbel">{% trans "Exercise duration" %}</span>: {{ user.duration|retarddurationformat }}</span>
    {% endif %}
    {% if user.get_profile.location%}
        <span><span class="labbel">{% trans "Location" %}</span>: {{ user.get_profile.location }}</span>
    {% endif %}
    {% if user.get_profile.height or user.get_profile.weight %}
        <span>
            <ul class="extra horizlist">
            {% if user.get_profile.height %}
                <span><span class="labbel">{% trans "Height" %}</span>: {{ user.get_profile.height }} cm</span>
            {% endif %}
            {% if user.get_profile.weight %}
                <span><span class="labbel">{% trans "Weight" %}</span>: {{ user.get_profile.weight }} kg</span>
            {% endif %}
            </ul>
        </span>
    {% endif %}
    </ul>
</div>
