{% load i18n %}
{% load avatar_tags %}
{% load turan_extras %}
rel='popover' 
data-placement='bottom' 
data-title='{% if profile.name%}{{ profile.name}}{%else%}{{ object }}{%endif%}' data-content='
{% with object.get_profile as profile %}
{% comment %}
{% avatar object 80 %}
{% endcomment %}
<div class="profile">
    <ul class="iconlist">
        {% if object.exercise__duration__sum %} 
        <li><span class="label">{% trans "Last 14 days" %}</span>: {{object.exercise__duration__sum|retarddurationformat }}</li>
        {% endif %}
    {% if profile.about %}
        <li><span class="label">{% trans "About" %}</span>: {{ profile.about }}</li>
    {% endif %}
    {% if profile.location%}
    <li><span class="label">{% trans "Location" %}</span>: {{ profile.location }}</li>
    {% endif %}
    {% if profile.motto %}
        <li><span class="label">{% trans "Motto" %}</span>: {{ profile.motto }}</li>
    {% endif %}
    </ul>
</div>
    {% endwith %}
'  
