{% if is_paginated %}
{% load i18n %}
<div class="pagination">
<ul class="">
    <li class="{% if notpage_obj.has_previous %}disabled{%endif%}">
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}" class="prev">&larr; {% trans "previous" %}</a>
    </li>
    {% for page in pages %}
        {% if page %}
            <li class="{% ifequal page page_obj.number %}active{%endifequal%}">
                <a href="?page={{ page }}{{ getvars }}" class="page">{{ page }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="">
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}" class="next">{% trans "next" %} &rarr;</a>
    </li>
    {% else %}
        <li class="disabled next">{% trans "next" %} &rarr;</li>
    {% endif %}
</ul>
</div>
{% endif %}
