{% load i18n %}
{% load tagging_tags %}
{% load humanize %}
{% load threadedcommentstags %}


{% if exerciseqs.count %}
<h2>{% trans "Exercises" %}</h2>
<a href="{% url events %}?username={{other_user.username}}">{% trans "Show all" %}</a>
    <div class="gg">
        <ul>
    {% for trip in exerciseqs reversed %}
        <li>
            <a href="{{ trip.get_absolute_url }}">{{ trip }}</a>, {{ trip.route.distance|floatformat}} km, {{ trip.date|naturalday }}
        </li>
    {% endfor %}
        </ul>
    </div>
{% else %}
{% comment %}
   {% trans "No exercises added yet." %}
{% endcomment %}
{% endif %}
