{% load i18n %}
{% load turan_extras %}
<ul>
    <li><span class="label">{% trans "Total Duration"%}:</span> {{ total_duration }}</li>
    <li><span class="label">{% trans "Total Distance"%}:</span> {{ total_distance|floatformat }} {% trans "km" %} </li>
    <li><span class="label">{% trans "Total Avg Speed"%}:</span> {{ total_avg_speed|floatformat }} {% trans "km/h" %}</li>
    <li><span class="label">{% trans "Total exercise count"%}:</span> {{ exerciseqs.count}} {% trans "trips" %}</li>
    <li><span class="label">{% trans "Longest trip"%}:</span> {{ longest_trip}} {% trans "km" %}</li>
    <li><span class="label">{% trans "Avg distance/day"%}:</span> {{ km_per_day|floatformat}} {% trans "km/d" %}</li>
    <li><span class="label">{% trans "Avg kcal/day"%}:</span> {{ kcal_per_day|floatformat}} {% trans "kcal/d" %}</li>
    <li><span class="label">{% trans "Avg time/day"%}:</span> {{ time_per_day|floatformat}} </li>
    <li><span class="label">{% trans "Total energy expenditure"%}:</span> {{ total_kcals }} {% trans "kcal" %} (= {{total_kcals|bodyfat|floatformat}} {% trans "kg" %} {% trans "fat" %} ) </li>
</ul>
<div id="workouts_by_week" style="width:400px;height:200px"></div>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    var d1 = { color: 2, data: [
        {% for week, workouts in workouts_by_week %}
         [{{ week }}, 0],
         {% endfor %}
        ], };
    $.plot($("#workouts_by_week"), [d1]);
});
</script>
