{% load i18n %}
{% load turan_extras %}
{% load turanwaka_tags %}
<p class="segmenttoplist">
    {{ object.description }}
</p>
<hr class="clearleft" />
<ul class="segmenticons">
    {% if object.distance %}
    <li class="distance">
        <h4 class="">{% trans "Distance" %}</h4>
        <div class="value"> {{ object.distance|floatformat }} <span class="unit">{% trans "km" %}</span></div>
    </li>
    {% endif %}
    {% if object.segment_url %}
    <li class="url">
        <h4 class="">{% trans "External URL" %}</h4> 
        <p>{{ object.segment_url|urlizetrunc:"30" }}</p>
    {% endif %}
    </li>
    {% if object.ascent %}
    <li class="ascent">
        <h4 class="">{% trans "Ascent" %}</h4>
        <div {% if object.get_avg_ascent %}title="{% trans "Avg ascent" %}: {{ object.get_avg_ascent }} m {% if object.distance %}({{ object.ascent|divide:object.distance }} {% trans "m/km" %}){% endif %}" {% endif %}class="value">{{ object.ascent }} <span class="unit">{% trans "m" %}</span></div>
        
        
    </li>
    {% endif %}
    {% if object.descent %}
    <li class="descent">
        <h4 class="">{% trans "Descent" %}</h4>
        <div class="value">
        {{ object.descent }} <span class="unit">{% trans "m" %}</span>
        </div>
    </li>
    {% endif %}
    {% if object.min_altitude %}
    <li class="altitude">
        <h4 class="">{% trans "Min altitude" %}</h4>
        <div class="value">
        {{ object.min_altitude }} <span class="unit">{% trans "m" %}</span>
        </div>
    </li>
    {% endif %}
    {% if object.max_altitude %}
    <li class="altitude">
        <h4 class="">{% trans "Max altitude" %}</h4> 
        <div class="value">
            {{ object.max_altitude }} <span class="unit">{% trans "m" %}</span>
        </div>
    </li>
    {% endif %}
    {% if object.grade %}
    <li class="grade">
        <h4 class="">{% trans "Grade" %}</h4>
        <div class="value">
            {{ object.grade|floatformat }} <span class="unit">%</span>
        </div>
    </li>
    {% endif %}
    {% if object.category %}
    <li class="">
        <h4 class="">
            {% trans "Category" %}
            {{ "SlopeCategory"|wiki_help }}
        </h4>
        <div class="categorybutton value" style="margin: 10px">
            {{ object.category }}
        </div>
    </li>
    {% endif %}
</ul>
