{% load i18n %}
{% load turan_extras %}
{% load turanwaka_tags %}
<ul class="">
    {% if object.distance %}
    <span class="floatleft wellast distance">
        <h6 class="">{% trans "Distance" %}</h6>
        <div class="value"> {{ object.distance|floatformat }} <span class="unit">{% trans "km" %}</span></div>
    </span>
    {% endif %}
    {% if object.segment_url %}
    <span class="floatleft wellast url">
        <h6 class="">{% trans "External URL" %}</h6> 
        <p>{{ object.segment_url|urlizetrunc:"30" }}</p>
    {% endif %}
    </span>
    {% if object.ascent %}
    <span class="floatleft wellast ascent">
        <h6 class="">{% trans "Ascent" %}</h6>
        <div {% if object.get_avg_ascent %}title="{% trans "Avg ascent" %}: {{ object.get_avg_ascent }} m {% if object.distance %}({{ object.ascent|divide:object.distance }} {% trans "m/km" %}){% endif %}" {% endif %}class="value">{{ object.ascent }} <span class="unit">{% trans "m" %}</span></div>
        
        
    </span>
    {% endif %}
    {% if object.descent %}
    <span class="floatleft wellast descent">
        <h6 class="">{% trans "Descent" %}</h6>
        <div class="value">
        {{ object.descent }} <span class="unit">{% trans "m" %}</span>
        </div>
    </span>
    {% endif %}
    {% if object.min_altitude %}
    <span class="floatleft wellast altitude">
        <h6 class="">{% trans "Min altitude" %}</h6>
        <div class="value">
        {{ object.min_altitude }} <span class="unit">{% trans "m" %}</span>
        </div>
    </span>
    {% endif %}
    {% if object.max_altitude %}
    <span class="floatleft wellast altitude">
        <h6 class="">{% trans "Max altitude" %}</h6> 
        <div class="value">
            {{ object.max_altitude }} <span class="unit">{% trans "m" %}</span>
        </div>
    </span>
    {% endif %}
    {% if object.grade %}
    <span class="floatleft wellast grade">
        <h6 class="">{% trans "Grade" %}</h6>
        <div class="value">
            {{ object.grade|floatformat }} <span class="unit">%</span>
        </div>
    </span>
    {% endif %}
    {% if object.category %}
    <span class="floatleft wellast ">
        <h6 class="">
            {% trans "Category" %}
        </h6>
        <div class="categorybutton value" style="">
            {{ object.category }}
            {{ "SlopeCategory"|wiki_help }}
        </div>
    </span>
    {% endif %}
</ul>
