html {
}

body {
	text-align: left;
    padding: 0;
    background: #fff;
    margin: 0;
}

p {
    margin: 2px 0;
}

/* Headers */
h1 {
	font-size: 175%;
	font-weight: bolder;
	margin: 5px 0 7px;
    text-shadow:1px 1px 4px #bbb;
}
h2 {
	font-size: 150%;
	font-weight: normal;
	margin: 5px 0 4px;
    text-shadow:1px 1px 4px #bbb;
}
h3 {
	font-size: 125%;
	font-weight: normal;
	margin: 5px 0 4px;
}

h4 {
	font-size: 120%;
	font-weight: normal;
	margin: 5px 0 2px;
}

/* Tables */
table.fullsize {
	margin: 0.3em 0;
	width: 100%;
}
table.fullsize tr th {
    background: #4F96CA; 
    color: white;
}
table.fullsize tr.even {
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #eee;
}
table.fullsize tr.even {
    background-color: #f8f8f8;
}
table.fullsize th, 
table.fullsize td {
	border: 0;
	padding: 0.5em;
}
table.fullsize th {
	font-weight: bold;
	text-align: left;
}
table.fullsize td img {
	vertical-align: bottom;
}

table.fullsize .number {
	text-align: right;
}


/* Forms */
form input[type=submit]:active {
	margin: 2px -2px -2px 2px;
}
form input[type=submit]:hover {
	background: #f88;
}
form input, form textarea {
	border: 1px solid #bbb;
	color: black;
	padding: 0.2em;
	background: #eaeaea;
}
form#new_set {
	text-align: right;
}
form#new_set input#id_name {
	margin-right: 5px;
	width: 8em;
}
form#edit_set ul {
	margin: 0;
}
form#edit_set ul li {
	list-style-type: none;
	margin-left: 0;
	padding: 0.2em;
}
form#feedback textarea {
	width: 40em;
}

/* Text */
p, ul {
	font-size: 100%;
}
em {
	font-style: italic;
}
ul li {
	list-style-type: square;
	margin-left: 1.5em;
}

#subnav a {
	font-size: 75%;
}

/* Links */
a {
	background: transparent;
	color: #533;
	text-decoration: none;
}
a:visited {
	color: #333;
}
a:hover {
	color: #933;
}

/* Images */
img {
	border: 0;
}

/* Clearing ruler */
hr.clearleft,
hr.clearright,
hr.clear {
	margin: 0;
	visibility: hidden;
}
hr.clear {
	clear: both;
}
hr.clearleft {
        clear: left;
}
hr.clearright {
        clear: right;
}

/* Header area */
#hd, #hd .content {
	background: url(/site_media/turan/header2.0.png);
	color: white;
}
#hd .content {
	padding: 1em;
	height: 6em;
}
#hd a {
	background: transparent;
	color: #000;
	text-decoration: none;
}
#hd #title {
	float: left;
}
#hd h1 a:hover {
	text-decoration: none;
}
#hd #sitemenu {
	float: right;
    margin: 10px 10px 0 0;
}
#hd #sitemenu a:hover {
	text-decoration: underline;
}
#hd #sitemenu ul {
	margin: 0;
}
#hd #sitemenu ul li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding-left: 1em;
}

#bd {
    background: url(/site_media/turan/bg_white.jpg);
}

#bd .content {
	padding: 1em;
}

/* Cloud area */
#footer .cloud {
    padding: 10px;
}
.tag-size-1 {
}
.tag-size-2 {
    font-size: 130%;
}
.tag-size-3 {
    font-size: 150%;
}
.tag-size-4 {
    font-size: 200%;
}


/* Timeframe and navigation menu */
.menu {
	margin: 0.5em 0;
	width: 100%;
	height: 2em;
}
.menu ul {
	font-size: 100%;
	margin: 0;
}
.menu ul li {
	display: inline;
	list-style-type: none;
	margin: 0;
}
.menu .navigation {
	float: right;
}
.menu .timeframe {
	float: right;
}

ul.col2 li {
	float: left;
	width: 450px;
}
h1 a
{ 
	background: transparent;
	color: black;
	text-decoration: none;
}
/* Message panels */
.info, .success, .warning, .notice, .error {
	border: 2px solid black;
	padding: 0.8em;
	margin: 0.5em 0;
	width: 30em;
}
.info h3, .success h3, .warning h3, .notice h3, .error h3 {
	margin: 0 0 0.5em 0;
}
.info {
	background: #eeeeec;
	border-color: #d3d7cf;
	color: black;
}
.success {
	background: #e6efc2;
	border-color: #c6d880;
	color: #529214;
}
.warning, .notice {
	background: #fff6bf;
	border-color: #ffd324;
	color: #817134;
}
.error {
	background: #fbe3e4;
	border-color: #fbc2c4;
	color: #d12f19;
}

/* Emphasizing */
.title {
	font-weight: bolder;
}

.smaller {
    font-size: 75%;
}

/* Alignment */
.floatleft {
	float: left;
}
.floatright {
	float: right;
}
.alignleft {
	text-align: left;
}
.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}

/* Buttons
 * from http://particletree.com/features/rediscovering-the-button-element/ */
.buttons a, .buttons button {
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	margin: 0 5px 0 0;
	padding: 4px 5px 4px 5px; /* Links */
    display: block;
    float: left;
}
.buttons button {
	width: auto;
	overflow: visible;
	padding: 2px 5px 1px 5px; /* IE6 */
}
.buttons button[type] {
	padding: 3px 5px 3px 5px; /* Firefox */
	line-height: 17px; /* Safari */
}
*: first-child+html button[type] {
	padding: 2px 5px 1px 5px; /* IE7 */
}
.buttons button img, .buttons a img {
	margin: 0 0px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}
/* Standard buttons */
.buttons a:hover, button:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}
.buttons a:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}
/* Positive buttons */
.buttons a.positive, button.positive {
	color: #529214;
}
.buttons a.positive:hover, button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}
.buttons a.positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}
/* Negative buttons */
.buttons a.negative, button.negative {
	color: #d12f19;
}
.buttons a.negative:hover, button.negative:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}
.buttons a.negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}
/* Inactive buttons */
.buttons a.inactive, button.inactive {
	color: #c0c0c0;
	cursor: default;
}
.buttons a.inactive:hover, button.inactive:hover {
	background: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	color: #c0c0c0;
}
.buttons a.inactive:active {
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	color: #c0c0c0;
}

.buttons li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.buttons {
    overflow: auto;
}
ul {
    padding: 0;
    margin: 0;
}
ul li ul { 
    padding-left: 10px; 
    border-left: 2px solid silver; 
    margin: 5px 0 10px 0;
}
ul.comments {
    width: 450px;
}
ul.comments img {
    float: left;
}
ul.comments span.date {
    float: right;
    color: #bbb;
}
ul.comments span.name {
    float: left;
}
ul.comments div.header {
    font-weight: bold;
    margin: 1px 0 0 19px;
}
ul.comments li div.comment_text {
    clear: left;
    padding: 5px;
    background: #eee;
}
ul.comments li {
    margin-top: 6px;
    list-style-type: none;
    border-top: 2px solid silver;
    padding-top: 2px;
    padding-bottom: 2px;
}
.label {
    cursor: pointer;
    font-weight: bold;
}

.modify {
    float: right;
    list-style-image: url('/site_media/pinax/img/silk/icons/wrench.png');
}
.third {
    width: 33.3%;
    margin: 0;
}
.half {
    width: 49%;
    margin: 0;
}

li.duration {
    list-style-image: url('/site_media/pinax/img/silk/icons/clock.png');
}
li.hr, 
li.heart {
    list-style-image: url('/site_media/pinax/img/silk/icons/heart.png');
}
li.comment {
    list-style-image: url('/site_media/pinax/img/silk/icons/comment.png');
}
li.description p,
li.comment p {
    padding: 3px 12px;
    margin: 0;
}
li.gear,
li.cadence {
    list-style-image: url('/site_media/pinax/img/silk/icons/cog.png');
}
li.url {
    list-style-image: url('/site_media/pinax/img/silk/icons/link.png');
}
li.date {
    list-style-image: url('/site_media/pinax/img/silk/icons/date.png');
}
li.time {
    list-style-image: url('/site_media/pinax/img/silk/icons/time_go.png');
}
li.speed {
    list-style-image: url('/site_media/pinax/img/silk/icons/lightning_go.png');
}
li.person {
    list-style-image: url('/site_media/pinax/img/silk/icons/user_suit.png');
}
li.person img {
    float: right;
    margin: -1px 0 0 8px;
}
li.route {
    list-style-image: url('/site_media/pinax/img/silk/icons/map.png');
}
li.count {
    list-style-image: url('/site_media/pinax/img/silk/icons/arrow_rotate_clockwise.png');
}
li.distance {
    list-style-image: url('/site_media/pinax/img/silk/icons/sum.png');
}
li.description {
    list-style-image: url('/site_media/pinax/img/silk/icons/textfield.png');
}
li.altitude,
li.height,
li.ascent {
    list-style-image: url('/site_media/pinax/img/silk/icons/arrow_up.png');
}
li.descent {
    list-style-image: url('/site_media/pinax/img/silk/icons/arrow_down.png')
}
li.weight,
li.kcal {
    list-style-image: url('/site_media/pinax/img/silk/icons/cake.png')
}
li.power {
    list-style-image: url('/site_media/pinax/img/silk/icons/lightbulb.png')
}

.hlist li {
    float: left;
    list-style-type: none;
}
.team .members li {
    margin: 10px 0;
}
.team .members img {
    width: 220px;
    float: left;
}

.pinax/img/silk/icons {
	border: none;
	padding-right: 8px;
}

.mon,.tue,.wed,.thu,.fri,.sat,.sun {
    background: #eee;
}
.filled {
    background: #ddd;
}
table.month .today div.day {
    background-color: #7e7;
}

div.map {
    width: 500px;
    height: 500px;
    -webkit-box-shadow: 1px 1px 7px rgb(150, 150, 150);
    box-shadow: 1px 1px 7px rgb(150, 150, 150);
    -moz-box-shadow: 1px 1px 7px rgb(150, 150, 150);
}
div.mapcontainer {
    padding-top: 1px; /* Adjust for misalignment mirage */
    float: right;
}

.toplist ol li.first {
    list-style-image: url(/site_media/pinax/img/silk/icons/medal_gold_3.png);
    font-size: 1.2em;
}
.toplist ol li.second {
    list-style-image: url(/site_media/pinax/img/silk/icons/medal_silver_2.png);
    font-size: 1.15em;
}
.toplist ol li.third {
    list-style-image: url(/site_media/pinax/img/silk/icons/medal_bronze_1.png);
    font-size: 1.1em;
}
#tabs>div {
    position: absolute;
    left: -10000px;
}
#tabs>div.visible {
    display: block;
	border: 2px solid silver;
    position: relative;
    padding: 10px;
    top: -2px;
    left: 0px;
    -webkit-box-shadow: 3px 3px 10px rgb(80, 80, 80);
    box-shadow: 3px 3px 10px rgb(80, 80, 80);
    -moz-box-shadow: 3px 3px 10px #555555;
    border-radius: 0 1em 1em 1em;
    -webkit-border-radius: 0 1em 1em 1em;
    -moz-border-radius: 0 1em 1em 1em;
}
#tabs>ul {
    overflow: hidden;
    margin: 0 0 0 0;
    position: relative;
    z-index: 1;
    height: 27px;
}
#tabs>ul>li {
    float: left;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    background:url('/site_media/turan/tabs.gif') no-repeat left top; 
    width: 110px;
    color: #fff; 
    text-decoration: none; 
    cursor:hand; 
    text-shadow: 0 0 0 #000;      
    padding: 6px 0 6px 0;
    margin: 0 5px 0 0;
}
#tabs>ul>li:hover {
    color:#272B2F; 
    font-weight:bold; 
    background-position: 0 -28px; color:#FFF;             
}
#tabs>ul>li.selected:hover {
    color: #000;
}
#tabs>ul>li.selected {
    background-position:0 -56px; 
    color:#272B2F; 
    font-weight:bold; 
}

#tabs h3 {
    margin: 0 8px 5px 0;
    padding-left: 5px;
}
#tabs>ul>li>p {
    padding-left: 8px;
}

li {
	list-style-type: none;
}
li.even {
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #eee;
    background: #f8f8f8;
}
li.odd {
    background: #ffffff;
}
ul.iconlist li {
    list-style-type: none;
    margin-left: 27px;
}

/* Calendar */
table.month td,
table.month th {
	vertical-align: top;
	border: 1px solid #999;
    padding: 2px;
    width: 120px;
}
table.month th {
    padding: 4px;
}

table.month td>ul li {
    list-style-type: none;
    padding: 2px 1px 8px 1px;
    margin: 2px 2px 2px 1px;
    background-color: #eee;
}
table.month img {
    float: left;
    padding: 0 2px 2px 0;
    height: 24px;
    width: 24px;
}
table.month a {
    font-size: 11px;
}
table.month p {
    margin: 0;
    font-size: 10px;
}
table.month div.day {
    text-align: center;
    margin: -2px 0 5px -2px;
    background-color: #eee;
    width: 20px;
    height: 20px;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

.toplist ol span.selected {
	background-color: yellow;
}

li.tag {
	list-style-type: none;
    float: left;
    margin-right: 0.5em;
}

.fade {
    color: #999;
}

.sludd,
.regnskur,
.regn {
    list-style-image: url('/site_media/pinax/img/silk/icons/weather_rain.png');
}
.overskyet,
.overskya {
    list-style-image: url('/site_media/pinax/img/silk/icons/weather_clouds.png');
}
.bris,
.vind {
    list-style-image: url('/site_media/pinax/img/silk/icons/arrow_right.png');
}
.delskya,
.delskyet,
.lettskya {
    list-style-image: url('/site_media/pinax/img/silk/icons/weather_cloudy.png');
}
.snjo {
    list-style-image: url('/site_media/pinax/img/silk/icons/weather_snow.png');
}
.kveldssol,
.sol {
    list-style-image: url('/site_media/pinax/img/silk/icons/weather_sun.png');
}
.duo {
    list-style-image: url('/site_media/pinax/img/silk/icons/group_link.png');
}
.bakkedrag,
.bakke {
    list-style-image: url('/site_media/pinax/img/silk/icons/arrow_up.png');
}
.fjell {
    list-style-image: url('/site_media/pinax/img/silk/icons/arrow_turn_right.png');
}
.godkjent {
    list-style-image: url('/site_media/pinax/img/silk/icons/accept.png');
}
.bra {
    list-style-image: url('/site_media/pinax/img/silk/icons/thumb_up.png');
}
.insekt {
    list-style-image: url('/site_media/pinax/img/silk/icons/bug.png');
}

div.averages {
    padding: 5px;
}

div.averages ul,
div.averages h4,
div.averages li {
    float: left;
}
div.averages li {
    margin-left: 30px;
}
div.averages h4 {
    margin: 0;
}
.spacer {
    margin-bottom: 15px;
}
div.box .tools {
    float: right;
    padding: 5px;
}
div.box {
    -moz-border-radius: 1em 1em 0 0;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddddd', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #eeeeee,  #ffffff); /* for firefox 3.6+ */
    padding: 10px;
}
div.box h2 {
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    margin: 0 0 4px 0;
    padding: 3px;
    background-color: #dfdfdf;
}
ul.routes,
ul.trips {
    margin-bottom: 7px;
}
ul.trips li img {
    margin-right: 13px;
}
ul.routes li,
ul.trips li {
    list-style-type: none;
    margin-left: 0;
    padding: 5px;
}

.routeimage {
    width: 55px;
    height: 55px;
    padding: 5px;
}

.detailsShareBoxButton.gpxFile  {
    background-position:-5px -706px;
}
.detailsShareBoxButton.kmlFile  {
    background-position:-5px -856px;
}
.detailsShareBoxButton {
    background:url("/site_media/turan/details-icons.png") no-repeat scroll -3px -5px transparent;
    color:#494949;
    display:inline-block;
    font:bold 12px/23px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    margin-right:9px;
    padding-left:28px;
    padding-right:7px;
}

div.searchfilters {
    margin-top: 8px;
    float: right;
}

div.profile ul {
    float: left;
}
div.profile ul li a {
    font-size: 115%;
}
div.profile ul li {
    padding: 0;
    margin: 0 0 0 5px;
    list-style-type: none;
}
ul.horizlist,
ul.horizlist li {
    margin-left: 8px;
    float: left;
}
div.profile div {
    margin-right: 5px;
}
div.profile {
    clear: left;
    overflow: auto;
    margin: 7px 0;
}
ul.photos li:hover {
    background-color: #cde;
}
ul.photos li {
    padding: 3px;
    margin: 0 0 6px 6px;
    background-color: #ccc;
    line-height: 0;
}
ul.photos {
    width: 458px;
    padding: 0;
}
ul#last_comments img {
    float: left;
    margin-right: 8px;
    margin-top: 2px;
    border: 2px solid silver;
}
ul#last_comments li {
    overflow: auto;
    padding: 5px;
    clear: left;
    list-style-type: none;
    margin-left: 0;
    vertical-align: middle;
}
ul#last_comments h4 {
    margin-top: 2px;
    font-size: 14px;
}
ul#last_comments p {
    font-size: 12px;
}
div.tooltip ul {
    padding: 5px;
}
div.tooltip {
    z-index: 10;
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 12px rgb(40, 40, 40);
    box-shadow: 3px 3px 12px rgb(40, 40, 40);
    -moz-box-shadow: 3px 3px 12px rgb(40, 40, 40);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border: 2px solid silver;
    opacity: 0.9;
    padding: 5px;
}
div.slope-categories span {
    display: none;
}
div.slope-categories {
    background: url(/site_media/turan/slope-categories.png);
    height: 16px;
    width: 16px;
}
div.slope-category-5 {
    background-position: -80px;
}
div.slope-category-4 {
    background-position: -64px;
}
div.slope-category-3 {
    background-position: -48px;
}
div.slope-category-2 {
    background-position: -32px;
}
div.slope-category-1 {
    background-position: -16px;
}
div.slope-category-0 {
    background-position: 0px;
}

#tripdiv_legend table td.legendColorBox {
    padding: 0 2px 0 12px;
}

p#choices input {
    margin-left: 12px;
}

