{% load i18n %}
{% load turan_extras %}
{% load avatar_tags %}
<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<!--
                  ________   _ _____ _____ ___ _            ❅           BETA
         ,-.O    |__   ___| | |  _  |  _  |   | |    _O_,                  ❄  ❆   
      ,-p\.(6,.     | | | |_| | |/ /  |_| | | | |   ´_|     _.,~^  ❄   o__,❄
     ( '--\--` )    | | |     | |\ \  | | | |   |     /,~'´^    ❅  ,__/| / 
 ~~~~ `-' ° `-' ~~~~~~~~~~~( som tælle )~~~~~~~~~-.-'´^  _ __ __ _ ___/)/__,
-->



    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% block searchenginemeta %}
        <meta name="keywords" content="sykkel,tur,trening,exercise,trip,bicycle,analyser,analyze,plot,graf,graph,polar,garmin,gps,tcx,hrm" />
        <meta name="description" content="{% trans "Upload your exercises and analyze them. Play them back and compare them to prior efforts. Share and comment on your friends exercises." %}" />
        {% endblock %}
        <meta name="google-site-verification" content="nZhZhwBQiOgH2v8ppj86mIhm3mVMdufD94LaOG_xPm4" />
        <meta name="y_key" content="f7a9fd1f90cc1d60" />
        <meta name="msvalidate.01" content="BBA90F86915278854DF651EAB2F7403D" />

        <title>Turan.no : {% block head_title %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    
    <body class="{% block body_class %}{% endblock %}">


        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">


            <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/">&nbsp;</a>
            <div class="nav-collapse">
            <ul id="right-tabs" class="nav">
                {% block right_tabs %}{% endblock %}
            </ul>


            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                <li>
                <a class="red" title="{% trans "Add an exercise" %}" href="{% url exercise_create %}">
                    {{ "add"|silk_sprite }}
                    </a>
                </li>
                <li class="nav-avatar">
                <a class="" tooltip="tooltip" title="{% trans "My profile" %}" href="{% url profile_redirect %}">
                        {% avatar user 32 %}
                    </a>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="ss_sprite ss_cog"></span>
                        <span class="caret"</span>
                      </a>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Login"%}</a>
                {% endif %}
                  <ul class="dropdown-menu">
                      <li style="padding: 4px 15px; ">{% block login %}{% endblock %}</li>
                  </ul>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="nav pull-right">
                <li id="tab_inbox"><a href="{% url messages_inbox %}">{{ "email"|silk_sprite }}{% if combined_inbox_count %}<span class="label">{{ combined_inbox_count }}</span>{% endif %}</a></li>
                <li id="tab_calendar"><a href="{% url calendar-index %}?username={{user.username}}" title="{% trans "My calendar" %}">{{ "calendar"|silk_sprite }}</a></li>
            </ul>
            {% endif %}

            {% with "/search" as search_url %}
            {% include "turan/search_head.html" %}
            {% endwith %}


            <!-- Disable språk until fixed

            <ul class="nav pull-right">
                <li class="dropdown" data-dropdown="dropdown">
                <a href="#" class="dropdown-toggle">{% trans "Language" %}</a>
                  <ul class="dropdown-menu">
                      <li>
                        {% block locale_switcher %}{% endblock %}
                    </li>
                  </ul>
                </li>
            </ul>
            -->



            </div>
            </div>
          </div>
        </div>
        
        <div id="body" class="container">
        {% block body_outer %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        <a class="close" data-dismiss="alert" href="#">×</a>

                          <p>{{message}}</p>
                    </div>
                {% endfor %}
            {% endif %}
            {% comment %}
            {% if site_wide_announcements %}
                <div id="site_wide_announcements">
                    <ul>
                        {% for announcement in site_wide_announcements %}
                        <li>
                            <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                            <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}">{% trans "Hide announcement" %}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% endcomment %}
          <div id="content" class="content"> 
              <div class="subnav">
                <ul class="nav nav-pills">
                  {% block subnav_base %}{% block subnav %}{% endblock %}{% endblock %}
                </ul>
              </div>

            {% block body %}
            {% endblock %}
        </div>
            
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        {% endblock %}
        
        
        </div> <!-- /container -->
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
