{% extends "base.html" %}
{% load compress %}

{% load i18n %}
{% load openid_tags %}
{% load ifsetting_tag %}

{% block head_title %}{% block title %}{%endblock%}{%endblock%}
{% block extra_head_base %}
{% comment %}
    <script type="text/javascript" src="{{MEDIA_URL}}extsrc.js"></script>
    <script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
{% endcomment %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}openlayers/OpenLayers.js"></script>
    {% compress js %}
    <script src="{{ MEDIA_URL }}jquery-ui-1.8.13.custom.min.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}base.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.selection.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.threshold.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.resize.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}jquery.hoverIntent.minified.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}turan/mapper.js"></script>
    <script id="source" type="text/javascript" src="{{ MEDIA_URL }}turan/graphplotter.js"></script>
    {% endcompress %}
    <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.3&sensor=false"></script>
    <script type="text/javascript" src="http://apis.google.com/js/plusone.js"></script>
    <!--<script type="text/javascript" extsrc="{{ MEDIA_URL }}pinax/js/topics.js"></script>-->
    <!--<script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.crosshair.js"></script>-->
    <!--[if lte IE 8]><script type="text/javascript" src="{{MEDIA_URL}}turan/flot/excanvas.min.js"></script> <![endif]-->
<!--    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site_tabs.css" /> -->
    <link rel="icon" type="image/png" href="{{MEDIA_URL}}turan/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    {% compress css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/topics.css" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/social_project.css" />
    <link type="text/css" href="{{MEDIA_URL }}css/start/jquery-ui-1.8.13.custom.css" rel="stylesheet" />  


    {% endcompress %}
    <!--
<script type="text/javascript"> 
  /* function load() {
      var display = new Garmin.DeviceDisplay("garminDisplay", { 
         pathKeyPairsArray: ["http://turan.no/",
                             "a8119696e2db6f2ee0406639a44ef158"],
         autoFindDevices: true, //start searching for devices
         showStatusElement: true, //basic feedback provided
         showReadDataElement: false, //don't offer to read data
         //add other options per the documentation  
      });
   }*/    
</script>   -->
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        <img alt="profile" src="{{MEDIA_URL}}/pinax/img/silk/icons/user_suit.png"><a href="{% url profile_redirect %}"><b> {{ user }}</b></a> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a id="login_activate" href="{% url acct_login %}">
            {% trans "Login" %}
        </a>
        <script type="text/javascript">
            jQuery("#login_activate").bind("click", function (evt) {
                evt.preventDefault();
                jQuery("#login_popdown").toggleClass("hidden");
                jQuery("#login_username").focus();
            });
        </script>
        <div id="login_popdown" class="hidden">
            <form method="POST" action="{% url acct_login %}"> 
                <ul>
                    <li>
                        <label for="login_username">{% trans "Username" %}</label>
                        <input id="login_username" type="text" name="username" />
                    </li>
                    <li>
                        <label for="login_password">{% trans "Password" %}</label>
                        <input id="login_password" name="password" type="password" />
                    </li>
                    <li>
                        <input type="checkbox" name="remember" id="login_remember" />
                        <label for="login_remember">{% trans "Remember me" %}</label>
                        <button type="submit">{% trans "Log in" %} &raquo;</button>
                    </li>
                </ul>
            </form>
            <form method="POST" action="{% url begin "facebook" %}"> 
                <ul>
                    <li>
                        <label for="login_fb">{% trans "Log in using Facebook" %}</label>
                        <button id="login_fb"><img src="{{MEDIA_URL}}turan/fbbutton.png" height="32" width="32"></button>
                    </li>
                </ul>
            </form>
        </div>
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
        {% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>
        {% endifsetting %}
    {% endif %}
{% endblock %}
{% comment %}
{% block locale_switcher %}
    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        <div class="floatright">
            <select name="language" onchange="$('#locale_switcher').submit()">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}
{% endcomment%}
{% block locale_switcher %}
{% with "/search" as search_url %}
{% include "turan/search_head.html" %}
{% endwith %}
{% endblock %}

{% block logo_link_image %}
<a href="/"><span>Turan.no</span></a>
{% endblock %}
{% block left_tabs %}
<ul class="tabs">
    {% comment %}
    <li id="tab_turan"><a href="{% url turanindex %}">{% trans "Turan" %}</a></li>
    {% endcomment %}
</ul>
{% endblock %}
{% block right_tabs %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_exercises"><a href="{% url events %}">{% trans "Exercises" %}</a></li>
            <li id="tab_routes"><a href="{% url routes %}">{% trans "Routes" %}</a></li>
            <li id="tab_segments"><a href="{% url segments %}">{% trans "Segments" %}</a></li>
    {% if user.is_authenticated %}
            <li id="tab_inbox"><a href="{% url messages_inbox %}">{% trans "Inbox" %} ({{ combined_inbox_count }})</a></li>
    {% endif %}
        {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
        {% block cloud %}
        {% endblock %}
<div class="legal drop-shadow lifted">
    {% trans "&copy; 2009-2011 &lt;turan.no&gt;" %}
    - <a href="{% url turan_about %}">{% trans "About" %}</a>
    - <a href="http://github.com/torhve/Turan/issues">{% trans "Issue tracker" %}</a>
    <g:plusone size="small"></g:plusone>
    {% comment %}
    - <a href="{% url todo %}">{% trans "Todo" %}</a>
    {% endcomment %}
</div>
<hr class="clear" />
{% endblock %}

{% block extra_body_base %}
    <script type="text/javascript">
$(document).ready(function(){

  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  $.getScript(gaJsHost + "google-analytics.com/ga.js", function(){
      try {
          var pageTracker = _gat._getTracker("UA-7885298-3");
          pageTracker._trackPageview();
      } catch(err) {}
});});
</script>
<script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://statistikk.idrift.no/" : "http://statistikk.idrift.no/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 102);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
    } catch( err ) {}
</script><noscript><p><img src="http://statistikk.idrift.no/piwik.php?idsite=102" style="border:0" alt="" /></p></noscript>
    {% block extra_body %}{% endblock %}
{% endblock %}
