{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}
{% load ifsetting_tag %}
{% load svn_app_version %}

{% block head_title %}{% block title %}{%endblock%}{%endblock%}
{% block extra_head_base %}
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.selection.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}turan/flot/jquery.flot.threshold.multiple.js"></script>
    <!--[if IE]><script type="text/javascript" src="{{MEDIA_URL}}turan/flot/excanvas.min.js"></script> <![endif]-->
    <script type="text/javascript" src="{{MEDIA_URL}}jquery.hoverIntent.minified.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}pinax/css/topics.css" />
<!--    <link rel="stylesheet" href="{{ MEDIA_URL }}css/site_tabs.css" /> -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/social_project.css" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{MEDIA_URL}}favicon.ico" />
    <script type="text/javascript" src="{{ MEDIA_URL }}pinax/js/topics.js"></script>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        {% openid_icon openid user %}<b>{{ user }}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="/openid/logout/?next={% url acct_logout %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Login" %}</a> {% ifsetting ACCOUNT_OPEN_SIGNUP %}{% trans "or" %} <a href="{% url acct_signup %}"><b>{% trans "Sign up" %}</b></a>{% endifsetting %}
    {% endif %}
{% endblock %}

{% block locale_switcher %}
    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        <div style="float: right; margin-left: 5px">
            <select name="language" onchange="$('#locale_switcher').submit()">
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
{% endblock %}

{% block logo_link_image %}<pre id="logo">
                  ________   _ _____ _____ ___ _            BETA       ❅  
         ,-.O    |__   ___| | |  _  |  _  |   | |    _O_,                 ❄  ❆   
      ,-p\.(6,.     | | | |_| | |/ /  |_| | | | |   ´_|     _.,~^   ❄   o__,   ❄
     ( '--\--` )    | | |     | |\ \  | | | |   |     /,~'´^     ❅  ,__/| /  ❄
 ~~~~ `-' ° `-' ~~~~~~~~~~~( som tælle )~~~~~~~~~-.-'´^   _ __ __ _ ___/)/__,   ❄
  {% trans "The unexamined exercise is not worth doing" %}
           </pre>{% endblock %}
{% block left_tabs %}
<ul class="tabs">
    <li id="tab_turan"><a href="{% url turanindex %}">{% trans "Turan" %}</a></li>
</ul>
{% endblock %}
{% block right_tabs %}
        <ul class="tabs">{% spaceless %}
            <li id="tab_exercises"><a href="{% url events %}">{% trans "Exercises" %}</a></li>
            <li id="tab_routes"><a href="{% url routes %}">{% trans "Routes" %}</a></li>
    {% if user.is_authenticated %}
            <li id="tab_inbox"><a href="{% url messages_inbox %}">{% trans "Inbox" %} ({{ combined_inbox_count }})</a></li>
    {% endif %}
        {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
        {% block cloud %}
        {% endblock %}
<div class="legal">
    {% trans "&copy; 2009 &lt;lart.no&gt;" %}
    - <a href="{% url turan_about %}">{% trans "About" %}</a>
    - <a href="http://github.com/torhve/Turan/issues">{% trans "Issue tracker" %}</a>
    - <a href="{% url todo %}">{% trans "Todo" %}</a>
</div>
<hr class="clear" />
{% endblock %}

{% block extra_body_base %}
    <script src="{{ MEDIA_URL }}base.js" type="text/javascript"></script>
    <script type="text/javascript">
$(document).ready(function(){
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  $.getScript(gaJsHost + "google-analytics.com/ga.js", function(){
      try {
          var pageTracker = _gat._getTracker("UA-7885298-3");
          pageTracker._trackPageview();
      } catch(err) {}
});});
</script>
    {% block extra_body %}{% endblock %}
{% endblock %}
