{% extends "profiles/base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load app_plugins %}
{% load uni_form %}
{% load microblogging_tags %}

{% block head_title %}{% blocktrans %}Profile for {{ other_user }}{% endblocktrans %}{% endblock %}

{% block body %}
    
    <div class="right_panel">
        {% include "profiles/profile_right_panel.html" %}

        <div style="float: right">
            {% if other_user.get_profile.image %}
            <img alt="{% trans "User image" %}" style="border: 1px solid black; max-width: 300px" src="{{ MEDIA_URL}}{{other_user.get_profile.image }}"><br>
            {% endif %}
            {% if other_user.get_profile.cycle_image %}
            <img alt="{% trans "Cycle image" %}" style="border: 1px solid black; max-width: 300px" src="{{ MEDIA_URL}}{{other_user.get_profile.cycle_image }}">
            {% endif %}
        </div>
    <h3>{% trans "Cycle trip graph"%}</h2>
    <div id="tripdiv" style="width:300px;height:150px"></div>
    <h3>{% trans "Avg speed trend"%}</h2>
    <div id="avgspeeddiv" style="width:300px;height:150px"></div>
    <h3>{% trans "BMI graph"%}</h2>
    <div id="bmidiv" style="width:300px;height:150px"></div>
    <h3>{% trans "Resting pulse graph"%}</h2>
    <div id="pulsediv" style="width:300px;height:150px"></div>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    var d1 = { color: 2, data: [{{pulsedataseries}}], }
    var d2 = { color: 4, data: [{{bmidataseries}}], }
    var bmiline = { color: 2, data: [{{bmiline}}], }
    var options = { xaxis: { mode: "time", timeformat: "%y/%m/%d" }, yaxis: { min: 0} }
    var d2options =  { yaxis: { min: 20, max: 45 }, xaxis: { mode: "time", timeformat: "%y/%m/%d" } }
    var d3options =  { xaxis: { mode: "time", timeformat: "%y/%m/%d" } }
    $.plot($("#pulsediv"), [d1], options);
    $.plot($("#bmidiv"), [d2, bmiline], d2options);
    $.plot($("#tripdiv"), [{
            color: 1,
            data: [{{tripdataseries}}],
            bars: { show: true },
            //label: "km",
        }] );
    $.plot($("#avgspeeddiv"), [{
            color: 3,
            data: [{{avgspeeddataseries}}],
            lines: { show: true },
            //label: "km",
        }], options );

});
</script>
    </div>
    
    <div class="left_panel">
        <div class="vcard">
        {% if other_user.get_profile.motto %}
            <span class="motto">«{{ other_user.get_profile.motto }}»</span>
        {% endif %}
            <div id="profile_avatar">
                <div><img src="{% avatar_url other_user 80 %}" alt="Photo of {{ other_user }}" class="photo" /></div>
                {% if is_me %}
                <a href="{% url avatar_change %}" id="avatar_replace">(replace)</a>
                {% endif %}
            </div>

            {% if other_user.get_profile.name %}
                <h1>{% blocktrans %}Profile for <span class="nickname">{{ other_user }}</span>{% endblocktrans %}</h1>
            {% else %}
                <h1>{% blocktrans %}Profile for <span class="fn nickname">{{ other_user }}</span>{% endblocktrans %}</h1>
            {% endif %}
            
            <div class="profile_info">
                {% if other_user.get_profile.name %}<p><b>{% trans "Name" %}</b>: <span class="fn">{{ other_user.get_profile.name }}</span></p>{% endif %}
                {% if other_user.get_profile.about %}<p><b>{% trans "About" %}</b>: {{ other_user.get_profile.about }}</p>{% endif %}
                {% if other_user.get_profile.location%}<p><b>{% trans "Location" %}</b>: {{ other_user.get_profile.location }}</p>{% endif %}
                {% if other_user.get_profile.website %}<p><b>{% trans "Website" %}</b>: <a class="url" href="{{ other_user.get_profile.website }}">{{ other_user.get_profile.website }}</a></p>{% endif %}
                {% with other_user.get_profile as object %}
                <ul class="user_details">
                    {% if object.weight %}
                        <li><span class="label">{% trans "Weight" %}:</span> {{ object.weight }} kg</li>
                    {% endif %}
                    {% if object.height %}
                        <li><span class="label">{% trans "Height" %}:</span> {{ object.height }} cm</li>
                    {% endif %}
                    {% if object.cycle %}
                    <li><span class="label">{% trans "Cycle" %}:</span> {{ object.cycle }}</li>
                    {% endif %}
                    {% if object.resting_hr %}
                    <li><span class="label">{% trans "Resting pulse" %}:</span> {{ object.resting_hr }} {% trans "BPM" %}</li>
                    {% endif %}
                    {% if object.max_hr %}
                    <li><span class="label">{% trans "Max HR" %}:</span> {{ object.max_hr }} {% trans "BPM" %}</li>
                    {% endif %}
                    {% if object.info %}
                    <li><span class="label">{% trans "About" %}:</span> {{ object.info }}</li>
                    {% endif %}
                </ul>
                {% endwith %}
            </div>
        
            {% if user.is_authenticated %}
                {% if is_me %}
                    <div class="form-toggle">
                    <p><span id="edit-profile-toggle">{% trans "Edit profile" %}</span></p>
                    
                    <form class="uniForm" id="edit-profile" method="POST" action="" style="display: none;">
                        <fieldset class="inlineLabels">
                            {{ profile_form|as_uni_form }}
                            <div class="form_block">
                            <input type="hidden" name="action" value="update" />
                            <input type="submit" value="{% trans "update" %}"/>
                            </div>
                        </fieldset>
                    </form>
                    </div>
                {% endif %}
            {% endif %}

            {% if total_duration %}
            <h1>{% trans "Statistics" %}</h1>
            {% include "profile/statistics.html" %}
            {% endif %}

            {% plugin_point "profiles.profile" user=other_user owner=other_user viewer=user %}
            {% if user.is_authenticated %}
                {% if is_me %}
                {% else %}
                    
                    {# @@@ this should be an inclusion tag #}
                    {% if is_friend %}
                        <p>{% blocktrans %}You are friends with {{ other_user }}.{% endblocktrans %} <a href="{% url messages_compose %}{{ other_user }}/">{% trans "Send a message" %}</a>.</p>
                        <div>
                            <form method="POST" action="">
                                <input type="hidden" name="action" value="remove" /><input type="submit" value="{% trans "remove from friends" %}"/>
                            </form>
                        </div>
                    {% else %}
                        {% if previous_invitations_from %}
                            <p>{% blocktrans %}{{ other_user }} has requested friendship.{% endblocktrans %}</p>
                            {% for invitation in previous_invitations_from %}
                                <div class="friendship_request">
                                    <p>From <a href="{% url profile_detail invitation.from_user.username %}">{{ invitation.from_user }}</a> ({{ invitation.sent }}):</p>
                                    <p class="invitation_message">{{ invitation.message }}</p>
                                    <form method="post" action="">
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="accept"/>
                                        <input type="submit" value="{% trans 'accept' %}" />
                                    </form>
                                    <form method="post" action="">
                                        <input type="hidden" name="invitation" value="{{ invitation.id }}"/>
                                        <input type="hidden" name="action" value="decline"/>
                                        <input type="submit" value="{% trans 'decline' %}" />
                                    </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if previous_invitations_to %}
                                <p>{% trans "Friendship request sent." %}</p>
                            {% else %}
                                <h2>{% trans "Add As Friend" %}</h2>
                                <form class="uniForm" method="POST" action="">
                                    <fieldset class="inlineLabels">  
                                        {{ invite_form|as_uni_form }}
                                        <div class="form_block">
                                            <input type="hidden" name="action" value="invite" />
                                            <input type="submit" value="{% trans "invite" %}"/>
                                            {% blocktrans %}{{ other_user }} to be a friend.{%  endblocktrans %}
                                        </div>
                                    </fieldset>
                                </form>
                            {% endif %} {# previous_invitations_to #}
                        {% endif %} {# previous_invitations_from #}
                    {% endif %} {# is_friend #}
                    
                {% endif %} {# is me #}
                
                
            {% else %} {# not user.is_authenticated #}
                {% url acct_signup as signup_url %}
                {% url acct_login as login_url %}
                <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend and see more of their content.{% endblocktrans %}</p>
            {% endif %}
        </div><!--/vcard-->
    </div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-profile').hide();
            $('#edit-profile-toggle').click(function() {
                $('#edit-profile').toggle();
                $('#edit-profile').autoscroll();
                return false;
            });
            if ($('#edit-profile .errorField').length) {
                $('#edit-profile').show();
                $('#edit-profile .errorField').autoscroll();
            }
        });
    </script>
{% endblock %}

