{% load endless %}
{% load turan_extras %}
{% load humanize %}
{% load i18n %}
{% load profile_tags %}
{% load avatar_tags %}
{% lazy_paginate users %}
    {% if users %}

        {% ifequal order 'date'  %}
            {% regroup users by date_joined.date as users_by_date_joined %}

            {% for date in users_by_date_joined %}
                <h6 class="join_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h6>

                {% for user in date.list %}
                    {% show_profile user %}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for user in users %}
                {% show_profile user %}
            {% endfor %}
        {% endifequal %}    
        
        
       {% else %}
       <p>{% trans "No profile were found"%}.</p>
      {% endif %}

{% show_more %}
