{% extends "profiles/base.html" %}

{% load i18n %}
{% load profile_tags %}

{% block head_title %}{% blocktrans %}All exercisers{% endblocktrans %}{% endblock %}

{% block body %}
<div class="page-header">
    <form class="pull-right" method="get" action="">
        <input type="text" name="search" value="{{ search_terms }}" />
        <button class="btn" type="submit">{% trans "Search"%}</button>
        {% if search_terms %}
        <a class="btn" href="{% clear_search_url request %}">{% trans "Clear Search Terms"%}</a>
        {% endif %}
    </form>
    <h1>{% trans "Exercisers" %} <small>{% trans "All the junkies of endorphines listed below..."%}</small></h1>
</div>
    <h4>
        {% trans "Order by" %}
    </h4>
    <div class="sortbar btn-group">
        <a class="btn {% if order == 'name'%}disabled{%endif%}" href="{% url profile_list %}?order=name">{% trans "Name" %}</a>
        <a class="btn {% if order == 'date'%}disabled{%endif%}" href="{% url profile_list %}?order=date">{% trans "Date" %}</a>
        <a class="btn {% if order == 'time'%}disabled{%endif%}" href="{% url profile_list %}?order=time">{% trans "Total exercise duration" %}</a>
        <a class="btn {% if order == 'recent'%}disabled{%endif%}" href="{% url profile_list %}?order=recent">{% trans "Recent exercise duration" %}</a>
    </div>

    {% include page_template %}
        
<script>
$('#tab_profiles').toggleClass('active');
</script>
{% endblock %}
