{% extends "profiles/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load avatar_tags %}
{% load humanize %}
{% load profile_tags %}

{% block head_title %}{% blocktrans %}All exercisers{% endblocktrans %}{% endblock %}

{% block body %}
<div class="page-header">
    <form class="pull-right" method="get" action="">
        <input type="text" name="search" value="{{ search_terms }}" />
        <button class="btn" type="submit">{% trans "Search"%}</button>
        {% if search_terms %}
        <a class="btn" href="{% clear_search_url request %}">{% trans "Clear Search Terms"%}</a>
        {% endif %}
    </form>
    <h1>{% trans "Exercisers" %} <small>{% trans "All the junkies of endorphines listed below..."%}</small></h1>
</div>


    {% if users %}
    <h4>
        {% trans "Order by" %}
    </h4>
    <div class="btn-group">
        <a class="btn {% if order == 'name'%}disabled{%endif%}" href="{% url profile_list %}?order=name">{% trans "Name" %}</a>
        <a class="btn {% if order == 'date'%}disabled{%endif%}" href="{% url profile_list %}?order=date">{% trans "Date" %}</a>
        <a class="btn {% if order == 'time'%}disabled{%endif%}" href="{% url profile_list %}?order=time">{% trans "Total exercise duration" %}</a>
        <a class="btn {% if order == 'recent'%}disabled{%endif%}" href="{% url profile_list %}?order=recent">{% trans "Recent exercise duration" %}</a>
    </div>
        

        {% autopaginate users%}
        
        {% ifequal order 'date'  %}
            {% regroup users by date_joined.date as users_by_date_joined %}

            {% for date in users_by_date_joined %}
                <h2 class="join_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h2>

                {% for user in date.list %}
                    {% show_profile user %}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for user in users %}
                {% show_profile user %}
            {% endfor %}
        {% endifequal %}    
        
        {% paginate %}
        
       {% else %}
       <p>{% trans "No profile were found"%}.</p>
      {% endif %}
<script>
$('#tab_profiles').toggleClass('active');
</script>
{% endblock %}
