{% extends "profiles/base.html" %}
{% load i18n %}
{% block head_title %}{% blocktrans %}Statistics for {{ other_user }}{% endblocktrans %}{% endblock %}
{% block body %}
<div class="page-header">
<h1>Statistics for {{ other_user.get_profile.name }}</h1>
</div>
    <div class="btn-group">
        <a class="btn" href="{% url profile_statistics username previous_year %}">{% trans "Previous year"%}</a>
        <a class="btn" href="{% url profile_statistics username now.year %}">{% trans "This year" %}</a></li>
        <a class="btn" href="{% url profile_statistics username next_year %}">{% trans "Next year" %}</a>
    </div>
    <div class="btn-group pull-right">
    <a class="btn" href="{% url profile_statistics username previous_month.year previous_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/date_previous.png" alt="{% trans "Previous month"%}" />
        {% trans "Previous month" %}
    </a>
    <a class="btn" href="{% url profile_statistics username next_month.year next_month.month %}">
        <img class="icons" src="{{ MEDIA_URL }}pinax/img/silk/icons/date_next.png" alt="{% trans "Next month"%}" />
        {% trans "Next month" %}
    </a>
    </div>

    <h3>{% trans "Type exercise chart"%}</h3>
    <div id="piechart" style="height:400px"></div>
    <h3>{% trans "Type exercise time chart"%}</h3>
    <div id="hourpiechart" style="height:400px"></div>
    <h3>{% trans "Avg speed: cycling"%}</h3>
    <div id="avgspeeddiv" style="height:400px"></div>
    <h3>{% trans "Avg HR"%}</h3>
    <div id="avghrdiv" style="height:400px"></div>
    <h3>{% trans "BMI graph"%}</h3>
    <div id="bmidiv" style="height:400px"></div>
    <h3>{% trans "Resting pulse graph"%}</h3>
    <div id="pulsediv" style="height:400px"></div>
    <h3>{% trans "Weekstats graph"%}</h3>
    <div id="weeks" style="height:700px"></div>
    <h3>{% trans "Power graph"%}</h3>
    <div id="maxpowereffortdiv" style="height:700px"></div>
    <h3>{% trans "Speed graph"%}</h3>
    <div id="maxspeedeffortdiv" style="height:700px"></div>
<script id="source" language="javascript" type="text/javascript">
$(function () {
    var d1 = { color: 2, data: [{{pulsedataseries}}], };
    var d2 = { color: 4, data: [{{bmidataseries}}], };
    var bmiline = { color: 2, data: [{{bmiline}}], };
    var d5 = { label: "kcal",  color: 6, yaxis: 2, data: [{{weekseries_kcal}}], };
    var d4 = { label: "km", color: 7, yaxis: 1, data: [{{weekseries_km}}], };
    var d6 = { label: "trips",  color: 8, data: [{{weekseries_trips}}], };
    var d7 = { label: "avg hr", color: 9, data: [{{weekseries_avg_hr}}], };
    var d8 = { label: "avg speed", color: 5, data: [{{weekseries_avg_speed}}], };
    var d9 = { label: "duration", color: 0, data: [{{weekseries_duration}}], };
    var d10 = { label: "max powereffort", color: 7, data: [{{bestpowerefforts}}], bars: { show: true }, ticks: [{{besteffort_ticks}}] };
    var d11 = { label: "max speedeffort", color: 6, data: [{{bestspeedefforts}}], bars: { show: true }, };

    var options = { xaxis: { mode: "time", timeformat: "%y/%m/%d" }, yaxis: { min: 0} };
	var hroptions = { xaxis: { mode: "time", timeformat: "%y/%m/%d" }, yaxis: { min: 100, max: 200 } };
    var d2options =  { yaxis: { min: 20, max: 45 }, xaxis: { mode: "time", timeformat: "%y/%m/%d" } };
    var d3options =  { xaxis: { mode: "time", timeformat: "%y/%m/%d" } };
    var pieoptions = { 
            grid: { show: false },
            series: {
                    pie: { 
                        show: true,
                        radius: 1,
                        label: {
                            show: true,
                            radius: 1,
                            formatter: function(label, series){
                                return '<div style="font-size:8pt;text-align:center;padding:2px;color:black;"><a href="{% url exercises %}?username={{other_user}}&exercise_type='+label.split(':')[0]+'">'+label+'<br/>'+Math.round(series.percent)+'%</a></div>';
                            },
                            background: { opacity: 0.8 }
                        }
                    }
                }
        }
    var weekoptions = { yaxis: { max: 600 }, hoverable: true, clickable: true };
    var poweroptions = { xaxis: { ticks: [{{besteffort_ticks}}]  } };
    var speedoptions = { xaxis: { ticks: [{{besteffort_ticks}}]  } };

    $.plot($("#weeks"), [d5, d4, d6, d7, d8, d9], weekoptions);
    $.plot($("#pulsediv"), [d1], options);
    $.plot($("#bmidiv"), [d2, bmiline], d2options);
    $.plot($("#piechart"), [{{piechartdata}}], pieoptions);
    $.plot($("#hourpiechart"), [{{hourpiechartdata}}], pieoptions);
    $.plot($("#avgspeeddiv"), [{
            color: 3,
            data: [{{avgspeeddataseries}}],
            lines: { show: true },
            //label: "km",
        }], options );
    $.plot($("#avghrdiv"), [{
            color: 2,
            data: [{{avghrdataseries}}],
            lines: { show: true },
            //label: "km",
        }], hroptions );
    $.plot($("#maxpowereffortdiv"), [d10], poweroptions);
    $.plot($("#maxspeedeffortdiv"), [d11], speedoptions );

});
</script>

{% endblock %}
