{% extends "turan/base.html" %}
{% load uni_form_tags %}
{% load i18n %}
{% block title %}
{{ block.super }}
{% trans "Add profile detail" %}
{% endblock %}
{% block extra_head %}
{{ form.media }}
<script type="text/javascript" src="{{MEDIA_URL}}jquery.ui.datepicker-no.js"></script>
{% endblock %}
{% block content %}
<h1>{% trans "Add new profile detail" %}</h1>
<form class="uniForm" enctype="multipart/form-data" method="post">
{{ form|as_uni_form }}
<input id="id_user" type="hidden" name="user" value="{{user.id}}">
{% comment %}
<input type="reset" value="{% trans "Cancel" %}" onClick="document.location='/turan/';" />
{% endcomment %}
<input type="submit" value="{% trans "Submit" %}" />
</form>
<script type="text/javascript">
    $(function() {
        $.datepicker.setDefaults( $.datepicker.regional[ "no" ] ); // TODO fix regional 
        var dateField = $('#id_time');
        if (dateField.val() != undefined ) {
        dateField.datepicker($.datepicker.regional['no'],{
            startDate:'2011-01-01',
            constrainInput: false,
            dateFormat: 'yy-mm-dd'

                });
        }
    });
</script>
{% endblock content %}
