{% extends "turan/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{{ block.super }}
{% trans "Add profile detail" %}
{% endblock %}
{% block extra_body %}
{{ block.super }}
{{ form.media }}
<script type="text/javascript" src="{{MEDIA_URL}}jquery.ui.datepicker-no.js"></script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{% trans "Add new profile detail" %}</h1>
</div>
<form class="form-horizontal uniForm" enctype="multipart/form-data" method="post">
{{ form|as_crispy_form }}
<input id="id_user" type="hidden" name="user" value="{{user.id}}">
{% comment %}
<input type="reset" value="{% trans "Cancel" %}" onClick="document.location='/turan/';" />
{% endcomment %}
<div class="form-actions">
    <button class="btn btn-primary btn-large" type="submit">{% trans "Submit" %}</button>
</div>
</form>
<script type="text/javascript">
    $(function() {
        $.datepicker.setDefaults( $.datepicker.regional[ "no" ] ); // TODO fix regional 
        var dateField = $('#id_time');
        if (dateField.val() != undefined ) {
        dateField.datepicker({
            startDate:'2011-01-01',
            constrainInput: false,
            dateFormat: 'yy-mm-dd'

                });
        }
    });
</script>
{% endblock content %}
